* {
    box-sizing: border-box;
}

.col-md-12 h2 {
    text-align: center;
}

.icon-contacts h5 {
    text-align: center;
}

.container h4 {
    text-align: center;
}

/*.border-0 img {
    -webkit-filter: drop-shadow(4px 4px 4px #696969);
    filter: drop-shadow(6px 6px 6px #696969);
}*/

#pepsi_logo, #army_logo, #pepsi, #camo, #cs {
    -webkit-filter: drop-shadow(0px 0px 0px #696969);
    filter: drop-shadow(0px 0px 0px #696969);
}

.card-img-top {
    width: 100%;
    height: auto;
}

.table, .table-striped, td {
    text-align: center;
}

body {
    padding-top: 1em;
    padding-bottom: 50px;
    font-size: 107%;
}

#sex, #height, #weight, #age, #name, #round, #reps {
    font-size: 100%;
}

input {
    border: none;
    background-color: transparent;
    text-align: center;
}

@font-face {
    font-family: MKStencilsansBlack;
    src: url('./static/fonts/MKStencilsansBlack.ttf') format('truetype');
}

@font-face {
    font-family: Sgt_Gorila-demo-FFP;
    src: url('./static/fonts/Sgt_Gorila-demo-FFP.ttf') format('truetype');
}

@font-face {
    font-family: Mont-HeavyDEMO;
    src: url('./static/fonts/Mont-HeavyDEMO.otf') format('opentype');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('./static/fonts/Roboto-Regular.ttf') format('truetype');
}

.container {
    width: 100%;
    padding: 0.5%;
    font-family: Roboto-Regular;
}

#sex:hover, #height:hover, #weight:hover, #age:hover, #round, #reps {
    cursor: pointer;
}

.list-group-item {
    text-align: left;
}

#ranks .list-group-item {
    -webkit-transform: scale(1.0);
}

#slogans .list-group-item {
    -webkit-transform: scale(1.0);
}

a {
    color: #4d784e;
}

#mainHeader {
    font-family: Sgt_Gorila-demo-FFP;
    text-align: center;
}

.thumb-contenido img {
    width: 100%;
    height: auto;
}

nav ul li:hover > ul {
    position: absolute;
    display: block;
}

.popover-body {
    font-weight: 200;
    color: #4d784e;
    font-size: 107%;
    font-family: Roboto-Regular;
}

.mb-4 img {
    display: block;
}

.price {
    font-size: 125%;
    color: #4d784e;
}

.rounded-circle {
    width: 70%;
    height: auto;
}

#harpenden {
    width: 10%;
    height: auto;
}

#information {
    border: 1px solid lightgray;
    border-bottom: 5px solid lightgray;
}

#main, #main2, #main3 {
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    border: 1px solid;
    border-color: lightgray;
}

#secondary {
    border: 1px solid;
    border-color: lightgray;
}

p {
    text-align: justify;
}

#bp, #dl, #dip, #mp, #sdl, #sq, #lng, #pup {
    width: 5%;
}

#beginner, #trained, #skilled, #master {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#beginner2, #trained2, #skilled2, #master2 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#dl1, #dl5, #dl8, #dl10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#dip1, #dip5, #dip8, #dip10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#mp1, #mp5, #mp8, #mp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sdl1, #sdl5, #sdl8, #sdl10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sq1, #sq5, #sq8, #sq10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#lng1, #lng5, #lng8, #lng10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#pup1, #pup5, #pup8, #pup10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#fsq1, #fsq5, #fsq8, #fsq10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#bp1, #bp5, #bp8, #bp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#pp1, #pp5, #pp8, #pp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#ohsq1, #ohsq5, #ohsq8, #ohsq10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#ablng1, #ablng5, #ablng8, #ablng10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#gm1, #gm5, #gm8, #gm10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#bor1, #bor5, #bor8, #bor10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#rdl1, #rdl5, #rdl8, #rdl10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#fct1, #fct5, #fct8, #fct10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sb1, #sb5, #sb8, #sb10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#mbp1, #mbp5, #mbp8, #mbp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#rr1, #rr5, #rr8, #rr10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#frr1, #frr5, #frr8, #frr10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#saw1, #saw5, #saw8, #saw10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#cp1, #cp5, #cp8, #cp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sp1, #sp5, #sp8, #sp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sw1, #sw5, #sw8, #sw10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#trsw1, #trsw5, #trsw8, #trsw10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

.copyright {
    margin-top: 5%;
}

img {
    width: 20px;
    height: auto;
}

/*ul.navbar-nav li a:hover {
    transform: scale(1.1);
    background-color: transparent;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}*/

.carousel-item {
    height: 400px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    z-index: 1;
    position: fixed;
    height: 100%;
    width: auto;
}

.display-4:hover, .list-group-item:hover {
    transform: scale(1.1);
}

#soldiers {
    margin-top: -27%;
    width: 100%;
    height: auto;
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
    padding-top: 30px;
    color: #bbb;
}

footer a {
    color: #999;
    text-decoration: none;
}

footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration: none;
}

footer .form-control {
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}
