* {
    box-sizing: border-box;
}

h2, h4, .footer {
    text-align: center;
}

.table, .table-striped, td {
    text-align: center;
}

body {
    font-size: 107%;
    color: #424756;
}

#sex, #height, #weight, #age, #name {
    font-size: 100%;
    color: #424756;
}

#logo {
    -webkit-filter: drop-shadow(2px 2px 2px #696969);
    filter: drop-shadow(2px 2px 2px #696969);
    max-width: 105px;
    width: 100%;
    height: auto;
    display: block;
    margin: 10px auto;
    /*-webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 0% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 50% 100%, 0% 80%);
    background-color: transparent;
    border: 1px solid #6ea171;*/
}

input {
    border: none;
    background-color: transparent;
    text-align: center;
}

@font-face {
    font-family: MKStencilsansBlack;
    src: url('./static/fonts/MKStencilsansBlack.ttf') format('truetype');
}

.container {
    padding: 1%;
    font-family: MKStencilsansBlack;
}

#sex:hover, #height:hover, #weight:hover, #age:hover {
    cursor: pointer;
}

#welcome {
    width: 100%;
    height: auto;
    z-index: 1;
    /*border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;*/
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

.list-group-item {
    text-align: left;
}

.price {
    font-size: 125%;
    color: #4d784e;
}

.rounded-circle {
    width: 40%;
    height: auto;
}

#harpenden {
    width: 10%;
    height: auto;
}

#information {
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    border: 1px solid;
    border-color: lightgray;
}

#main {
    border-bottom: 1px solid;
    border-bottom-color: lightgray;
    border: 1px solid;
    border-color: lightgray;
}

#secondary {
    border: 1px solid;
    border-color: lightgray;
}

/*.foo {
    float: left;
    width: 20px;
    height: 20px;

    border: 1px solid rgba(0, 0, 0, .2);
}*/

p {
    text-align: justify;
}

#beginner, #trained, #skilled, #master {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#beginner2, #trained2, #skilled2, #master2 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#dl1, #dl5, #dl8, #dl10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#dip1, #dip5, #dip8, #dip10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#mp1, #mp5, #mp8, #mp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sdl1, #sdl5, #sdl8, #sdl10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sq1, #sq5, #sq8, #sq10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#lng1, #lng5, #lng8, #lng10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#pup1, #pup5, #pup8, #pup10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#fsq1, #fsq5, #fsq8, #fsq10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#bp1, #bp5, #bp8, #bp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#pp1, #pp5, #pp8, #pp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#ohsq1, #ohsq5, #ohsq8, #ohsq10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#ablng1, #ablng5, #ablng8, #ablng10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#gm1, #gm5, #gm8, #gm10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#bor1, #bor5, #bor8, #bor10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#rdl1, #rdl5, #rdl8, #rdl10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#fct1, #fct5, #fct8, #fct10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sb1, #sb5, #sb8, #sb10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#mbp1, #mbp5, #mbp8, #mbp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#rr1, #rr5, #rr8, #rr10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#frr1, #frr5, #frr8, #frr10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#saw1, #saw5, #saw8, #saw10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#cp1, #cp5, #cp8, #cp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sp1, #sp5, #sp8, #sp10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#sw1, #sw5, #sw8, #sw10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

#trsw1, #trsw5, #trsw8, #trsw10 {
    border-left: 1px solid;
    border-left-color: lightgray;
}

.footer {
    margin-top: 10%;
    font-family: MKStencilsansBlack;
}

ul li {
    font-size: 112%;
}

ul.nav li a {
    display: block;
    text-decoration: none;
    color: #424756;
    padding: 5px;
}

img {
    width: 20px;
    height: auto;
}

ul.navbar-nav li a:hover {
    transform: scale(1.1);
    background-color: transparent;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.carousel-item {
    height: 400px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-item img {
    height: 100%;
    width: auto;
}

@media (min-width: 992px) {

}

.display-4:hover, .list-group-item:hover {
    transform: scale(1.1);
}

#chevron {
    display: inline-block;
    text-align: justify;
    /*-webkit-clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);*/
}

.navbar {
    background-color: #e1d798;
}
