<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">
    <link rel="stylesheet" href="../../art_styles/styles.css" media="all">
    <link rel="stylesheet" href="../../art_styles/libs/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../../art_styles/libs/font-awesome.min.css" type="text/css" media="all">
    <style>
        .dash {
            list-style-type: none;
        }

        .dash > li:before {
            content: "-";
            text-indent: -5px;
        }
    </style>
</head>
<body>
<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->

    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->

            <!-- Logo -->
            <div class="logo">
                <a href="art_blog.html">
                    <img src="" alt="Logo">
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="art_index_en.html">
                                    <img src="../../static/images/print_ready_logo%20copy.png" width="300" height="auto"
                                         alt="main-logo">
                                </a>
                            </div>
                            <!-- End Logo -->

                            <!-- Navigation -->
                            <div class="main-menu">
                                <nav>
                                    <ul class="menu-list">
                                        <li class="menu-item-has-children">
                                            <a href="art_index_en.html">Home</a>
                                        </li>
                                        <li>
                                            <a href="art_blog_en.html">Blog</a>
                                        </li>
                                        <li>
                                            <a href="art_price_en.html">Charge</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="art_video_en.html">Video</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="art_video_en.html">Standard Layout</a>
                                                </li>
                                                <li>
                                                    <a href="art_video_grid_en.html">Grid Layout</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="art_about_en.html">About</a>
                                        </li>
                                        <li>
                                            <a href="art_contact_en.html">Контакти</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single.html">Documentation</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="art_404_en.html">Identity</a>
                                                </li>
                                                <li>
                                                    <a href="art_rules_en.html">Rules</a>
                                                </li>
                                                <li>
                                                    <a href="art_code_of_ethics_en.html">Code of Ethics</a>
                                                </li>
                                                <li>
                                                    <a href="art_missing.html">Manual</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Navigation -->

                            <!-- Socials -->
                            <div class="socials">
                                <a href="#" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" title="You Tube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a href="#" title="Blogger">
                                    <i class="fa fa-cutlery"></i>
                                </a>
                                <a href="#/" title="Language">
                                    <i id="lang" class="fa fa-globe"></i>
                                </a>
                                <a href="#" title="Search this site">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <label for="searchform"></label>
                                <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                      method="get" accept-charset="utf-8" target="_self">
                                    <input type="text" placeholder="Search ..." name="query"/>
                                    <input type="hidden" name="si" value="30222917">
                                    <input type="hidden" name="pid" value="r">
                                    <input type="hidden" name="n" value="0">
                                    <input type="hidden" name="_charset_" value="">
                                    <input type="hidden" name="bcd" value="&#247;">
                                </form>
                            </div>

                            <div class="box-subscribe">
                                <form class="block mbr-form"
                                      action="https://formspree.io/athleticstandard.org@gmail.com" method="post">
                                    <input type="text" class="form-control input" name="email" data-form-field="Email"
                                           placeholder="Абонирай се с е-поща" required="">
                                </form>
                            </div>

                            <div class="copyright">
                                <p>
                                    &copy;2015-2019 athleticstandard.org
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-offset-3">
                <div class="posts">
                    <div class="posts-inner">
                        <article class="post">
                            <div class="post-header">
                                <h2 class="title"><span>Code of Ethics and Professional Conduct</span></h2>
                                <hr>
                                <div style="font-family: pt-serif-italic;">
                                    <h5 style="padding: 1%">One identifiable characteristic of a Personal trainer
                                        profession is its dedication in performing service to society.</h5>

                                    <h5 style="padding: 1%">The Code of Ethics and the Code of Conduct are
                                        complementary.
                                        The Code of Ethics can help interpret any ambiguity in the application of the
                                        Code of Conduct to a particular situation.
                                        Anyone who make the Code of Ethics part of their culture of practice will have
                                        no fear of breaching the Code of Conduct.</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt" style="font-family: pt-serif-italic">
                                    <h3>Code of Ethics</h3>
                                    <p>any personal trainer, hereafter referred to as "Trainer", must possess, achieve
                                        and maintain the following ideals</p>
                                    <p>Trainer:</p>
                                    <ul>
                                        <li>acts with honesty and integrity</li>
                                        <li>respects human rights</li>
                                        <li>do not discredit, lower or affect the honor and dignity of a colleague,
                                            client,
                                            or other member of society. This principle does not prevent him from
                                            providing,
                                            in a professional manner, an honest and competent second or expert opinion
                                            about the actions of another trainer where appropriate
                                        </li>
                                        <li>is diligent, responsible and determined</li>
                                        <li>provides a competent decision in accordance with the requirements and
                                            constraints of the
                                            profession
                                        </li>
                                        <li>provide only those services for which he is qualified or competent</li>
                                        <li>is transparent and candid in all of his communications. Do not misrepresent
                                            in any
                                            manner his skills, training, professional credentials, identity or services
                                        </li>
                                        <li>defines himself on the basis of his contribution to the profession without
                                            inwardly or
                                            openly
                                            denying all or part of his sources of information serving him as a starting
                                            point in
                                            deriving a new principle, conclusion or movement
                                        </li>
                                        <li>builds professional self-esteem on the basis of added value and not on the
                                            basis of
                                            differentiation from another practitioner
                                        </li>
                                        <li>recognizes that the self-regulation of the profession is a privilege and
                                            that he has
                                            a continuing responsibility to merit this privilege
                                        </li>
                                        <li>conducts himself in a manner that merits the respect of society and the
                                            profession
                                        </li>
                                        <li>engages in continuing education and professional development throughout his
                                            career
                                        </li>
                                        <li>participates in the promotion of the profession through advocacy, research
                                            and
                                            maintenance of the highest possible standards of practice
                                        </li>
                                        <li>keeps his professional commitments by integrating all of the listed
                                            principles into his
                                            daily practice
                                        </li>
                                    </ul>

                                    <h3>Professional Conduct</h3>
                                    <p class="lead">Trainer:</p>
                                    <ul>
                                        <li>respects the client’s dignity, needs and values</li>
                                        <li>conforms to customer wishes, except in a situation outside the technical
                                            competence of
                                            the latter
                                        </li>
                                        <li>respects human rights of the client</li>
                                        <li>shall not discriminate in the provision of services to a client based on
                                            grounds of
                                            race, religion, ethnic or national origin, age, sex, sexual orientation,
                                            disability or
                                            any similar ground
                                        </li>
                                        <li>shall not treat or attempt to treat a condition that he know or ought to
                                            know is
                                            beyond his expertise or competence
                                        </li>
                                        <li>shall refer a client to a qualified health practitioner where he recognize
                                            or ought to
                                            recognize a condition that requires health services that he is not able to
                                            provide
                                        </li>
                                        <li>shall not assess or treat a client without informed consent</li>
                                        <li>shall assume full responsibility for all care he provides including
                                            supervising
                                            appropriately persons to whom he delegates duties
                                        </li>
                                        <li>shall maintain the generally accepted standard of practice</li>
                                        <li>shall maintain appropriate documentation for all clients</li>
                                        <li>shall keep all client information confidential and shall not communicate
                                            such
                                            information to any person without the consent of the client or the client’s
                                            substitute
                                            decision maker except when required or permitted by law
                                        </li>
                                        <li>shall disclose his fees to clients before providing services</li>
                                        <li>shall not charge fees that are excessive for the services provided</li>
                                        <li>shall not physically, emotionally or sexually abuse or harass a client or
                                            any other
                                            person
                                        </li>
                                        <li>shall not practice while under the influence of a substance or while
                                            incapacitated
                                        </li>
                                        <li>shall not discontinue professional services that are needed unless:
                                            <ol class="dash">
                                                <li> the client terminates the service</li>
                                                <li> has a reasonable opportunity to obtain alternative services</li>
                                                <li> there are reasonable grounds to believe that the client has or will
                                                    become
                                                    abusive
                                                </li>
                                            </ol>
                                        </li>
                                        <li>shall not engage in conduct that is relevant to the practice and that
                                            would reasonably be regarded as, dishonourable or unprofessional
                                        </li>
                                    </ul>
                                    <time datetime="2019-01-10">10 January 2019</time>
                                </div>
                                <!-- End The Content -->
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Contact</span></h2>
                                    <ul>
                                        <li>
                                            Tel: +359 876 10 00 39 - Yavor
                                            Tel: +359 888 03 04 24 - Ellie
                                        </li>
                                        <li>
                                            E-Mail: athleticstandard.org@gmail.com
                                        </li>
                                        <li>
                                            Address: ulitsa "Professor doctor Ivan Stranski" 61, 1700 Studentski
                                            Kompleks, Sofia
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Занималня</span></h2>
                                    <ul>
                                        <li><a href="art_code_of_ethics">Drills</a></li>
                                        <li><a href="art_strength_hall.html">Hall of Strength</a></li>
                                        <li><a href="#">Toddler</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Resources</span></h2>
                                    <ul>
                                        <li><a href="art_passwd.html">Calculators</a></li>
                                        <li><a href="#">Brochure</a></li>
                                        <li><a href="#">Gear</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                                <div class="copyright">
                                    <p>&copy;2015-2019 <br>athleticstandard.org</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script src="../../art_js/libs/jquery-1.12.4.min.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../art_js/js/bootstrap.min.js"></script>
<script src="../../art_js/libs/masonry.pkgd.min.js"></script>
<script src="../../art_js/libs/imagesloaded.pkgd.min.js"></script>
<script src="../../art_js/scripts.js"></script>
<script>
    document.getElementById("lang").addEventListener("click", function (e) {
        e.preventDefault();
        window.location.href = ("../../views/art_code_of_ethics.html");
    });
</script>
</body>
</html>