<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/fieldset.css">
    <link rel="stylesheet" href="../../styles/testimonials.css">
    <link rel="stylesheet" href="../../styles/timeline.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../../scripts/engines/jse_form.js"></script>
    <style>
        ol {
            list-style-type: none;
        }

        ol > li:before {
            content: "-";
            text-indent: -5px;
        }
    </style>
</head>
<body class="bg-light">
<div class="nav-wrap">
    <div id="lang-selector">
        <a href="../../views/codeOfEthics.html" class="">BG</a>
         | 
        <a href="codeOfEthics.html" class="active">EN</a>
    </div>
</div>
<div class="container border" id="wrapper">
    <div class="jumbotron bg-light">
        <div class="float-left"><img src="../../static/images/logo.png" id="logo" alt="main-logo"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Code of Ethics</h3>
                <h5 class="text-muted text-center"><sup>treat others with dignity and respect</sup></h5>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html">Bay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><img style="opacity: 0.5" src="../../static/images/drop_btn.png"
                           alt="sergeant-dropdown-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-left">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/reports.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="charge.html">Charge</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mesh
                            </a>
                            <div class="dropdown-menu border-0 bg-light" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="../views/martialLaw.html">Martial law</a>
                                <a class="nav-link" href="../views/about.html">FAQ</a>
                                <a class="nav-link" href="platoon.html">Soldiers</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/generals.html">Murphys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="headquarter.html">Head Quarter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <br>


    <div class="panel panel-default">
        <h4 class="panel-heading">Code of Ethics and Professional Conduct</h4>
        <div class="panel-body">
            <fieldset class="fieldset col-md-12">
                <legend class="legend">Code of Ethics</legend>
                <h6 class="text-center">any personal trainer, hereafter referred to as "Trainer", must possess, achieve
                    and
                    maintain the following ideals</h6>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>Trainer:
                            <li>acts with honesty and integrity</li>
                            <li>respects human rights</li>
                            <li>do not discredit, lower or affect the honor and dignity of a colleague, client,
                                or other member of society. This principle does not prevent him from providing,
                                in a professional manner, an honest and competent second or expert opinion
                                about the actions of another trainer where appropriate
                            </li>
                            <li>is diligent, responsible and determined</li>
                            <li>provides a competent decision in accordance with the requirements and constraints of the
                                profession
                            </li>
                            <li>provide only those services for which he is qualified or competent</li>
                            <li>is transparent and candid in all of his communications. Do not misrepresent in any
                                manner his skills, training, professional credentials, identity or services
                            </li>
                            <li>defines himself on the basis of his contribution to the profession without inwardly or
                                openly
                                denying all or part of his sources of information serving him as a starting point in
                                deriving a new principle, conclusion or movement
                            </li>
                            <li>builds professional self-esteem on the basis of added value and not on the basis of
                                differentiation from another practitioner
                            </li>
                            <li>recognizes that the self-regulation of the profession is a privilege and that he has
                                a continuing responsibility to merit this privilege
                            </li>
                            <li>conducts himself in a manner that merits the respect of society and the profession</li>
                            <li>engages in continuing education and professional development throughout his career</li>
                            <li>participates in the promotion of the profession through advocacy, research and
                                maintenance of the highest possible standards of practice
                            </li>
                            <li>keeps his professional commitments by integrating all of the listed principles into his
                                daily practice
                            </li>
                        </ul>
                    </div>
                </div>
                <legend class="legend">Professional Conduct</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>Trainer:
                            <li>respects the client’s dignity, needs and values</li>
                            <li>conforms to customer wishes, except in a situation outside the technical competence of
                                the latter
                            </li>
                            <li>respects human rights of the client</li>
                            <li>shall not discriminate in the provision of services to a client based on grounds of
                                race, religion, ethnic or national origin, age, sex, sexual orientation, disability or
                                any similar ground
                            </li>
                            <li>shall not treat or attempt to treat a condition that he know or ought to know is
                                beyond his expertise or competence
                            </li>
                            <li>shall refer a client to a qualified health practitioner where he recognize or ought to
                                recognize a condition that requires health services that he is not able to provide
                            </li>
                            <li>shall not assess or treat a client without informed consent</li>
                            <li>shall assume full responsibility for all care he provides including supervising
                                appropriately persons to whom he delegates duties
                            </li>
                            <li>shall maintain the generally accepted standard of practice</li>
                            <li>shall maintain appropriate documentation for all clients</li>
                            <li>shall keep all client information confidential and shall not communicate such
                                information to any person without the consent of the client or the client’s substitute
                                decision maker except when required or permitted by law
                            </li>
                            <li>shall disclose his fees to clients before providing services</li>
                            <li>shall not charge fees that are excessive for the services provided</li>
                            <li>shall not physically, emotionally or sexually abuse or harass a client or any other
                                person
                            </li>
                            <li>shall not practice while under the influence of a substance or while incapacitated</li>
                            <li>shall not discontinue professional services that are needed unless:
                                <ol>
                                    <li> the client terminates the service</li>
                                    <li> has a reasonable opportunity to obtain alternative services</li>
                                    <li> there are reasonable grounds to believe that the client has or will become
                                        abusive
                                    </li>
                                </ol>
                            </li>
                            <li>shall not engage in conduct that is relevant to the practice and that
                                would reasonably be regarded as, dishonourable or unprofessional
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix"></div>
        </div>
    </div>

    <br>

    <div class="text-center" style="border: 1px dashed orangered; border-radius: 2px; width: 200px">
        Download: <a href="https://docs.google.com/uc?export=download&id=1W_WqFRBNdHDO873cQFrNJWvD7DBeSH6R">code_of_ethics.txt</a>
    </div>

    <br>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Sitemap</legend>
        <footer class="footer">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-6">
                            <h5>Documentation </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/missing.html">Terms</a></li>
                                <li><a href="views/missing.html">Policy</a></li>
                                <li><a href="views/missing.html">Rules</a></li>
                                <li><a href="../views/codeOfEthics.html">Code of ethics</a></li>
                                <li><a href="views/missing.html">Common standard</a></li>
                                <li><a href="views/missing.html">Brochure</a></li>
                                <li><a href="views/missing.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Explore </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/missing.html">Drills</a></li>
                                <li><a href="views/missing.html">Records</a></li>
                                <li><a href="views/missing.html">GROW Strong</a></li>
                                <li><a href="views/missing.html">Be a recruiter</a></li>
                                <li><a href="../views/hallOfStrength.html">Hall of Strength</a></li>
                                <li><a href="views/missing.html">Gear</a></li>
                                <li><a href="views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>

                <div class="col-md-6" id="contact">
                    <h5 class="">Internal search</h5>
                    <div data-form-type="formoid">
                        <form name="jse_Form" onsubmit="search_form(jse_Form); return false" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control input border" data-form-field="Search"
                                           placeholder="keyword" name="d"> 
                                </div>
                                <div class="input-group-btn col-md-4">
                                    <button type="button" class="btn btn-outline-secondary btn-block"
                                            onclick="search_form(jse_Form)">
                                        SEARCH
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </fieldset>

    <section class="copyright">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="icons-container col-md-12">
                    <a href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"
                       target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../../static/images/facebook.png" alt="facebook-social-icon"></a>
                    <a href="#/" target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../../static/images/youtube.png" alt="youtube-social-icon"></a>
                    <a href="http://leanonfat.blogspot.com/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../../static/images/blogger.png"
                                                                          alt="blogger-social-icon"></a>
                    <a href="https://www.instagram.com/gostrongbg/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../../static/images/instagram.png"
                                                                          alt="instagram-social-icon"></a>
                </div>

                <br>

                <div class="well col-md-12" style="margin-bottom: 20px">
                    <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                          method="post">
                        <div class="row">
                            <div class="col-md-12" data-for="email">
                                <div class="col-md-8">
                                    <h6>Subscribe to our newsletter</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input" name="email"
                                               data-form-field="Email" placeholder="email" required="">
                                    </div>
                                    <br><br>
                                    <div class="input-group-btn col-md-4">
                                        <button type="submit" class="btn btn-outline-secondary btn-block">SUBSCRIBE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <p class="text-center">&copy;2015-2019 <br>athleticstandard.org</p>
            </div>
        </div>
    </section>
</div>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>