<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../../static/images/logo.png">
    <link rel="stylesheet" href="../../style.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/fieldset.css">
    <link rel="stylesheet" href="../../styles/testimonials.css">
    <link rel="stylesheet" href="../../styles/timeline.css">
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../../scripts/engines/jse_form.js"></script>
    <style>
        .img-box {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img-box img {
            max-width: 100%;
            width: 80px;
            height: 80px;
            display: block;
            border-radius: 50%;
        }
    </style>
</head>
<body class="bg-light">
<div class="nav-wrap">
    <div id="lang-selector">
        <a href="../../views/hallOfStrength.html" class="">BG</a>
         | 
        <a href="hallOfStrength.html" class="active">EN</a>
    </div>
</div>
<div class="container border" id="wrapper">
    <div class="jumbotron bg-light">
        <div class="float-left"><img src="../../static/images/logo.png" id="logo" alt="main-logo"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Hall of Strength</h3>
                <h5 class="text-muted text-center"><sup>you are as strong as your weakest lift</sup></h5>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html">Bay</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><img style="opacity: 0.5" src="../../static/images/drop_btn.png" alt="sergeant-dropdown-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-left">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/reports.html">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="charge.html">Charge</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Mesh
                            </a>
                            <div class="dropdown-menu border-0 bg-light" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="../views/martialLaw.html">Martial law</a>
                                <a class="nav-link" href="../views/about.html">FAQ</a>
                                <a class="nav-link" href="platoon.html">Platoon</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/generals.html">Murphys</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/gallery.html">Gallery</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="headquarter.html">Head Quarter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <br>

    <h3>Men's ranking</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>only the first 10 are shown</caption>
            <thead>
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Strength score</th>
                <th>Athletic score</th>
                <th>Equilibrium</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Lyubomir Krustev</td>
                <td>60.57 / 100</td>
                <td>76.6 / 100</td>
                <td>78.9 / 100</td>
                <td>Sergeant</td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#luboKrustev"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Emil Bogdanov</td>
                <td>76.6 / 100</td>
                <td>76.6 / 100</td>
                <td>78.9 / 100</td>
                <td>Lieutenant</td>
                <td class="border-0"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Zdravko Raichev</td>
                <td>76.6 / 100</td>
                <td>76.6 / 100</td>
                <td>78.9 / 100</td>
                <td>Corporal</td>
                <td class="border-0"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Deyan Vasilev</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Private</td>
                <td class="border-0"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Women's ranking</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>only the first 10 are shown</caption>
            <thead>
            <tr>
                <th>Place</th>
                <th>Name</th>
                <th>Strength score</th>
                <th>Athletic score</th>
                <th>Equilibrium</th>
                <th>Rank</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Maria Vasileva</td>
                <td>76.6 / 100</td>
                <td>31 / 36.3</td>
                <td>78.9 / 100</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>magdalena Raicheva</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Marina Paunova</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Maria Valova</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-left"><span class="text-danger">IMPORTANT!</span> The results are revised every 3 months.</div>

    <br>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Sitemap</legend>
        <footer class="footer">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-6">
                            <h5>Documentation </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/missing.html">Terms</a></li>
                                <li><a href="views/missing.html">Policy</a></li>
                                <li><a href="views/missing.html">Rules</a></li>
                                <li><a href="../views/codeOfEthics.html">Code of ethics</a></li>
                                <li><a href="views/missing.html">Common standard</a></li>
                                <li><a href="views/missing.html">Brochure</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Explore </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/missing.html">Drills</a></li>
                                <li><a href="views/missing.html">Records</a></li>
                                <li><a href="views/missing.html">GROW Strong</a></li>
                                <li><a href="views/missing.html">Be a recruiter</a></li>
                                <li><a href="../views/hallOfStrength.html">Hall of Strength</a></li>
                                <li><a href="views/missing.html">Gear</a></li>
                                <li><a href="views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>

                <div class="col-md-6" id="contact">
                    <h5 class="">Internal search</h5>
                    <div data-form-type="formoid">
                        <form name="jse_Form" onsubmit="search_form(jse_Form); return false" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control input border" data-form-field="Search"
                                           placeholder="keyword" name="d"> 
                                </div>
                                <div class="input-group-btn col-md-4">
                                    <button type="button" class="btn btn-outline-secondary btn-block"
                                            onclick="search_form(jse_Form)">
                                        SEARCH
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </fieldset>

    <section class="copyright">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="icons-container col-md-12">
                    <a href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"
                       target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../../static/images/facebook.png" alt="facebook-social-icon"></a>
                    <a href="#/" target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../../static/images/youtube.png" alt="youtube-social-icon"></a>
                    <a href="http://leanonfat.blogspot.com/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../../static/images/blogger.png"
                                                                          alt="blogger-social-icon"></a>
                    <a href="https://www.instagram.com/gostrongbg/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../../static/images/instagram.png"
                                                                          alt="instagram-social-icon"></a>
                </div>

                <br>
                <div class="well col-md-12" style="margin-bottom: 20px">
                    <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                          method="post">
                        <div class="row">
                            <div class="col-md-12" data-for="email">
                                <div class="col-md-8">
                                    <h6>Subscribe to our newsletter</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input" name="email"
                                               data-form-field="Email" placeholder="email" required="">
                                    </div>
                                    <br><br>
                                    <div class="input-group-btn col-md-4">
                                        <button type="submit" class="btn btn-outline-secondary btn-block">SUBSCRIBE</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <p class="text-center">&copy;2015-2019 <br>athleticstandard.org</p>
            </div>
        </div>
    </section>
</div>
<!-- The Modal -->
<div class="modal" id="luboKrustev">
    <script src="../../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../../node_modules/chart.js/dist/Chart.bundle.js"></script>
    <script src="../../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Lyubomir Krustev<small> (157cm. 58kg. 19y.)</small></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 float-left">
                                <div class="img-box" style="background-image: url('../../static/images/lubomir_krustev.jpg')"></div>
                            </div>
                            <canvas style="display: block" class="text-center" id="bar-chart-horizontal-ideal"></canvas>
                        </div>
                    </div>
                    <small class="text-center">всички стойности са израз на изоставащите в проценти сила движения спрямо
                        текущото най-силно
                    </small>
                </div>
                <script type="text/javascript">
                    let chartIdeal = document.getElementById("bar-chart-horizontal-ideal");
                    new Chart((chartIdeal), {
                        type: 'horizontalBar',
                        data: {
                            labels: ["Deadlift", "Dip", "Military Press", "Sumo Deadlift", "Squat", "Lunge", "Pull-up", "Front Squat", "Push Press", "Overhead Squat", "Airborne Squat"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff"],
                                    data: [-30.55, 0, -5.55, -23.53, -8.33, -10, -17.42, -33.33, -30, -62.5, -50],
                                    color: "#ffffff"
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: "equilibrium chart"
                            }
                        }
                    });
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<script src="../../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>