<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
</head>
<body>
<div class="container">
    <h2>About Calculator</h2>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="../index.html">Equalizer</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
    </ul>

    <div class="mark">
        
    </div>
</div>
</body>
</html>