<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
</head>
<body>
<div class="container">
    <h2>About Calculator</h2>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="../index.html">Equalizer</a></li>
        <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
    </ul>
    <div class="accordion md-accordion" id="accordionEx1" role="tablist" aria-multiselectable="true">
        <div class="card">
            <div class="card-header" role="tab" id="headingTwo1">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapseTwo1"
                   aria-expanded="false" aria-controls="collapseTwo1">
                    <h5 class="mb-0">
                        Collapsible Group Item #1 <i class="fa fa-angle-down rotate-icon"></i>
                    </h5>
                </a>
            </div>
            <div id="collapseTwo1" class="collapse" role="tabpanel" aria-labelledby="headingTwo1" data-parent="#accordionEx1">
                <div class="card-body">
                    Equalizer is statistic based calculator used to evaluate one's strength balance between certain
                    compound free weight exercises. At the top of all exercises we choose to put conventional deadlift
                    as it is the exercise with highest strength potential over time. All other exercises are connected
                    with coefficients to the deadlift. The coefficients of correlation are developed by observing
                    trainees
                    who had at least six months of strength training experience with a personal trainer, has developed
                    some
                    strength and are familiar with exercises technique requirements. The Equalizer is the only strength
                    balance calculator who is taking height into account. The main idea is for one to know which are the
                    movements that are too strong and which ones need more work, as from one point on your strongest
                    lifts
                    are going to represent not your strength but your imbalances instead. The Equalizer has one major
                    limitation and that is taking only strength into account, but we fixed that by developing skill
                    specific
                    coefficients for each exercise. This way we can differentiate between two people who are training an
                    equal amount of exercises but different types. So if one is doing mostly basic exercises like
                    deadlift,
                    squat, overhead press, and the other one is doing muscle cleans, pull-ups and overhead squats the
                    second
                    one has higher level of athleticism. The system now breaks into two major parts. The first part is
                    Strength Assessment System and the second part is Skill Assessment System. They are separate and yet
                    connected as you can reach your highest strength requirements on your chosen movements but you want
                    be
                    able to reach your highest athletic requirements if don't add all of the exercises involved in the
                    Equalizer.
                    This way the Equalizer can improve ones physical culture by making him involve new exercises in his
                    routine.
                    In the original version of the Equalizer their was no difference between one who is doing five
                    exercises
                    and one who is doing fifteen, and that's not fair as the second one is spreading his effort to a
                    wider range
                    of movements. Now we are giving a bonus first for the amount and second for the types of movements
                    one is doing.
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>