<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,700%7CCrete+Round' type='text/css' media='all' />
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../styles/styles.css" media="all">
    <link rel="stylesheet" href="../styles/art.css" media="all">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>

<body class="single">

<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->

    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->

            <!-- Logo -->
            <div class="logo">
                <a href="art_blog.html">
                    <img src="" alt="Logo">
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="../index.html">
                                    <img src="../static/images/print_ready_logo%20copy.png" width="300" height="auto"
                                         alt="main-logo">
                                </a>
                            </div>
                            <!-- End Logo -->

                            <!-- Navigation -->
                            <div class="main-menu">
                                <nav>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="../index.html">Начало</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="blog.html">Блог</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog.html">Стандартен изглед</a>
                                                </li>
                                                <li>
                                                    <a href="blog_grid.html">Решетъчен изглед</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="price.html">Цени</a>
                                        </li>
                                        <li>
                                            <a href="video_grid.html">Видео</a>
                                        </li>
                                        <li>
                                            <a href="about.html">За нас</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контакти</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single.html">Документация</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="404.html">Идентичност</a>
                                                </li>
                                                <li>
                                                    <a href="rules.html">Правила</a>
                                                </li>
                                                <li>
                                                    <a href="code_of_ethics.html">Етичен кодекс</a>
                                                </li>
                                                <li>
                                                    <a href="404.html">Ръководство</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="testimonials.html">Атестати</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Navigation -->

                            <!-- Socials -->
                            <div class="socials">
                                <a target="_blank" href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                   title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                   title="You Tube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a target="_blank" href="http://leanonfat.blogspot.com/" title="Blogger">
                                    <i class="fa fa-cutlery"></i>
                                </a>
                                <a href="#/" title="Subscribe">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                                <a href="#/" title="Language">
                                    <i id="lang" class="fa fa-globe"></i>
                                </a>
                                <a href="#/" title="Search this site">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                      method="get" accept-charset="utf-8" target="_self">
                                    <input type="text" placeholder="Търсене ..." name="query"/>
                                    <input type="hidden" name="si" value="30222917">
                                    <input type="hidden" name="pid" value="r">
                                    <input type="hidden" name="n" value="0">
                                    <input type="hidden" name="_charset_" value="">
                                    <input type="hidden" name="bcd" value="&#247;">
                                </form>
                            </div>

                            <div class="box-subscribe">
                                <form class="block mbr-form"
                                      action="https://formspree.io/athleticstandard.org@gmail.com" method="post">
                                    <input type="text" class="form-control input" name="email" data-form-field="Email"
                                           placeholder="Абонирай се с е-поща" required="">
                                </form>
                            </div>

                            <div class="copyright">
                                <p>
                                    &copy;2015-2019 athleticstandard.org
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-offset-3">
                <div class="posts">
                    <div class="posts-inner">
                        <article class="post">
                            <div class="post-header">
                                <h2 class="title"><span>About Me</span></h2>
                            </div>
                            <div class="post-media">
                                <img src="images/about.jpg" alt="Post">
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <p>There’s nothing quite as frightening as the unknown. These words of former US Secretary of Defense Donald Rumsfeld should be truly terrifying (although the general consensus at the time was that they sounded like nonsense).</p>
                                    <blockquote>
                                        <p>Donec eget ipsum sagittis, varius leo non, mattis eros. Donec eleifend, urna ut elementum tincidunt, velit nibh pulvinar odio, ac tristique mauris magna sit amet arcu. Aenean vestibulum gravida rutrum. Morbi vel augue a lectus ultricies varius nec id elit. </p>
                                    </blockquote>
                                    <p>Design works within constraints. The Columban monks who crafted the Book of Kells worked with four inks on vellum, a material made of calfskin. The materials were simple but clearly defined. The cenobitic designers knew the hues of the inks, the weight of the vellum, and crucially, they knew the dimensions of each page.</p>
                                    <p>
                                        Suspendisse eleifend nulla ac rhoncus egestas. Sed vehicula ipsum vitae finibus condimentum. Phasellus rhoncus, nulla et sodales sodales, massa nisl volutpat odio, ac sodales risus metus sollicitudin odio.
                                    </p>
                                    <p style="text-align: right; margin-top: 40px;">
                                        <img src="images/sign.png" alt="Sign" style="max-height: 30px; margin-right: 40px;">
                                    </p>
                                </div>
                                <!-- End The Content -->
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>About Me</span></h2>
                                    <p>
                                        I am tancho a Graphic Designer based in New York, specializing in User Interface Design and Development.
                                    </p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Contact Me</span></h2>
                                    <ul>
                                        <li>
                                            Tel: +123 456 789
                                        </li>
                                        <li>
                                            Email: name@domain.com
                                        </li>
                                        <li>
                                            Address: 820 Utica Ave, Brooklyn, NY
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Web Links</span></h2>
                                    <ul>

                                        <li><a href="#">Tips & tricks</a></li>
                                        <li><a href="#">Examples</a></li>
                                        <li><a href="#">Documentation</a></li>
                                        <li><a href="#">Support</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="copyright">
                                    <p>Tancho @ 2018. Design by <a href="#">Kendy</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script>
    /**
     * 1. Search Popup
     * 2. Index Tiled
     * 3. Menu Mobile
     * 4. Project Detail
     * 5. Preload
     */

    'use strict';

    (function ($) {

        $.fn.magnificPopup = function (opts) {

            let $self = $(this),
                options = $.extend({
                    delegate: '.media',
                    type: 'image',
                    tLoading: '<div class="dots">\
							<div class="dot active"></div>\
							<div class="dot active"></div>\
							<div class="dot active"></div>\
							<div class="dot active"></div>\
						</div>',
                    mainClass: 'mfp-img-mobile',
                    gallery: {
                        enabled: true,
                        navigateByImgClick: true,
                        preload: [0, 3] // Will preload 0 - before current, and 1 after the current image
                    },
                    image: {
                        tError: '<a href="%url%">The image #%curr%</a> could not be loaded.'
                    },
                    closeMarkup: '<button title="%title%" type="button" class="mfp-close"></button>',
                    callbacks: {
                        markupParse: function (item) {
                        },
                        imageLoadComplete: function () {
                            let $container = $('.mfp-container');

                            $container.addClass('load-done');
                            setTimeout(function () {
                                $container.addClass('load-transition');
                            }, 50);
                        },
                        change: function () {
                            let $container = $('.mfp-container');
                            $container.removeClass('load-done load-transition');
                        }

                    }
                }, $self.data(), opts);
            $('.media', $self).each(function () {
                let href = $(this).data('url');

                if (href && href !== '') {
                    $(this).attr('href', href);
                }

            });
            $self.magnificPopup(options);
        };

        $(document).on('ready', function () {

            let $header = $('.header'),
                $search = $('.fa-search', $header);

            // 1. Search Popup
            $search.on('click', function (e) {
                e.preventDefault();
                $('.box-search').slideToggle(400);
            });


            // 2. Index Grid
            let $gridLayout = $('.grid-layout');
            $gridLayout.imagesLoaded(function () {
                $gridLayout.masonry({
                    itemSelector: '.post',
                });
            });

            // 3. Menu Mobile
            let $btnMenu = $('.menu-mobile'),
                $hideMenu = $('.hide-menu');

            $btnMenu.on('click', function () {
                $header.toggleClass('active');

                if ($header.hasClass('active')) {
                    $hideMenu.addClass('active');
                }
                else {
                    $hideMenu.removeClass('active');
                }
            });
            $hideMenu.on('click', function () {
                $header.removeClass('active');
                $hideMenu.removeClass('active');
            });

            $('.menu-item-has-children', '.main-menu').on('click', ' > a', function (e) {
                let ww = $(window).width();

                if (ww <= 991) {
                    let $parent = $(e.target).closest('.menu-item-has-children');
                    e.preventDefault();
                    $('>.sub-menu', $parent).slideToggle(400);
                }
            });

            // 5. Preload

            let $preload = $('#preload');

            if ($preload.length) {
                $(window).on('load', function () {
                    $preload.fadeOut(400);
                });
            }
        });

    })(jQuery);
</script>
<!-- End Scripts -->

</body>
</html>