<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO STRONG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Custom Military Designs</h2>
            <h4><sup>your lack of spine offends me</sup></h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Squad Bay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-left">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/equalizer.html">Grid</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/reports.html">Reports</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link " href="../views/charge.html">Charge</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FAQtory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/martialLaw.html">Martial Law</a>
                            <a class="dropdown-item" href="../views/about.html">Roger That</a>
                            <a class="dropdown-item" href="../views/platoon.html">Foot Soldiers</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/generals.html">Officers</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/headquarter.html">Headquarter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
</div>
<div class="container">
    <h2 class="my-4">Vintage Military Business Card</h2>
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/murphy_front.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Front</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/murphy_back.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Back</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam
                        nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non
                        magni, voluptates quae, necessitatibus unde temporibus.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="my-4">Vintage Military Membership Card</h2>
    <div class="row">
        <div class="col-lg-6 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/strength_card_front.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Front</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/strength_card_back.png" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Back</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam
                        nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non
                        magni, voluptates quae, necessitatibus unde temporibus.</p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="my-4">Our Official Military Logo</h2>
    <div class="row">
        <div class="col-lg-3 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/logo.png" id="pepsi_logo" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Original Colors</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod
                        odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/logo_army_colors_transparent.png" id="army_logo" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">U.S. Army Colors</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam
                        nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non
                        magni, voluptates quae, necessitatibus unde temporibus.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/logo_pepsi_colors%20copy.png" id="pepsi" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Pepsi Colors</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam
                        nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non
                        magni, voluptates quae, necessitatibus unde temporibus.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 portfolio-item">
            <div class="card bg-light border-0">
                <img class="card-img-top" src="../static/images/logo_transparent_camo%20copy.png" id="camo" alt="">
                <div class="card-body">
                    <h4 class="card-title">
                        <p class="text-center">Camo</p>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit aliquam aperiam
                        nulla perferendis dolor nobis numquam, rem expedita, aliquid optio, alias illum eaque. Non
                        magni, voluptates quae, necessitatibus unde temporibus.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <section class="footers bg-light pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="../static/images/logo.png" alt="Logo">
                    </div>
                    <div class="footers-info mt-3">
                        <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now
                            the best.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two"></div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                    <h5>Connect</h5>
                    <div class="social-icons">
                        <a target="_blank"
                           href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"><i
                                id="social-fb"
                                class="fa fa-facebook-square fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://youtube.com/"><i id="social-tw"
                                                                          class="fa fa-youtube fa-2x social"></i></a>&nbsp;&nbsp;
                        <a target="_blank" href="https://www.instagram.com/gostrongbg/"><i id="social-em"
                                                                                           class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                    <h5>Info </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/dictionary.html">Jargon</a></li>
                        <li><a href="../views/brainwash.html">Be A Recruiter</a></li>
                        <li><a href="../views/terms.html">Terms</a></li>
                        <li><a href="../views/policy.html">Policy</a></li>
                        <li><a href="../views/headquarter.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Explore </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/gear.html">Gear</a></li>
                        <li><a href="../views/drills.html">Drills</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="../views/art.html">Military Art</a></li>
                        <li><a href="#">Wallpapers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright border">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted text-center">Copyright &copy;2015-2019 Army Strong</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>