<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../styles/styles.css" media="all">
    <link rel="stylesheet" href="../styles/libs/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../styles/libs/font-awesome.min.css" type="text/css" media="all">
</head>

<body class="home">

<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->

    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->

            <!-- Logo -->
            <div class="logo">
                <a href="../index.html">
                    <h1>GO STRONG</h1>
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="../index.html">
                                    <img src="../static/images/print_ready_logo%20copy.png" width="300" height="auto"
                                         alt="main-logo">
                                </a>
                            </div>
                            <!-- End Logo -->

                            <!-- Navigation -->
                            <div class="main-menu">
                                <nav>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="../index.html">Начало</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="blog.html">Блог</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog.html">Стандартен изглед</a>
                                                </li>
                                                <li>
                                                    <a href="blog_grid.html">Решетъчен изглед</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="price.html">Цени</a>
                                        </li>
                                        <li>
                                            <a href="video_grid.html">Видео</a>
                                        </li>
                                        <li>
                                            <a href="about.html">За нас</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контакти</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single.html">Документация</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="404.html">Идентичност</a>
                                                </li>
                                                <li>
                                                    <a href="rules.html">Правила</a>
                                                </li>
                                                <li>
                                                    <a href="code_of_ethics.html">Етичен кодекс</a>
                                                </li>
                                                <li>
                                                    <a href="404.html">Ръководство</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="testimonials.html">Атестати</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Navigation -->

                            <!-- Socials -->
                            <div class="socials">
                                <a target="_blank" href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                   title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                   title="You Tube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a target="_blank" href="http://leanonfat.blogspot.com/" title="Blogger">
                                    <i class="fa fa-cutlery"></i>
                                </a>
                                <a href="#/" title="Subscribe">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                                <a href="#/" title="Language">
                                    <i id="lang" class="fa fa-globe"></i>
                                </a>
                                <a href="#/" title="Search this site">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                      method="get" accept-charset="utf-8" target="_self">
                                    <input type="text" placeholder="Търсене ..." name="query"/>
                                    <input type="hidden" name="si" value="30222917">
                                    <input type="hidden" name="pid" value="r">
                                    <input type="hidden" name="n" value="0">
                                    <input type="hidden" name="_charset_" value="">
                                    <input type="hidden" name="bcd" value="&#247;">
                                </form>
                            </div>

                            <div class="box-subscribe">
                                <form class="block mbr-form"
                                      action="https://formspree.io/athleticstandard.org@gmail.com" method="post">
                                    <input type="text" class="form-control input" name="email" data-form-field="Email"
                                           placeholder="Абонирай се с е-поща" required="">
                                </form>
                            </div>

                            <div class="copyright">
                                <p>
                                    &copy;2015-2019 athleticstandard.org
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-offset-3">
                <div class="posts">
                    <div class="posts-inner">
                        <article class="post">
                            <div class="post-header">
                                <h2 class="title"><span>Калкулатори</span></h2>
                                <hr>
                            </div>
                            <div class="post-content">
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h2>Изръжливост</h2>
                                        <h4>набирания/кофи</h4>
                                        <img src="../static/images/hanging-knee-raises-crossfit-silhouette.png" id="endurance">
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h2>Сила</h2>
                                        <h4>многоставни движения</h4>
                                        <img src="../static/images/mill_press2.png" id="strengthEndurance">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 text-center">
                                        <h2>Калиперометрия</h2>
                                        <h4>телесна композиция</h4>
                                        <img src="../static/images/fit_scanner.png" id="index">
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <h2>Антропометрия</h2>
                                        <h4>идеално активно тегло</h4>
                                        <img src="../static/images/strong-man.png" id="bodyFat">
                                    </div>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Контакти</span></h2>
                                    <ul>
                                        <li>
                                            Тел: +359 876 10 00 39 - Явор
                                            Тел: +359 888 03 04 24 - Ели
                                        </li>
                                        <li>
                                            Е-Поща: athleticstandard.org@gmail.com
                                        </li>
                                        <li>
                                            Адрес: ул. „Проф. д-р Иван Странски“ 61, 1700 Студентски Комплекс, София
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Занималня</span></h2>
                                    <ul>
                                        <li><a href="404.html">Движения</a></li>
                                        <li><a href="strength_hall.html">Зала на Силата</a></li>
                                        <li><a href="404.html">Toddler</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Ресурси</span></h2>
                                    <ul>
                                        <li><a href="calculators.html">Калкулатори</a></li>
                                        <li><a href="404.html">Брошура</a></li>
                                        <li><a href="404.html">Униформа</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="copyright">
                                    <p>&copy;2015-2019 <br>athleticstandard.org</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Scripts -->
<script src="../js/libs/jquery-1.12.4.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../js/js/bootstrap.min.js"></script>
<script src="../js/libs/masonry.pkgd.min.js"></script>
<script src="../js/libs/imagesloaded.pkgd.min.js"></script>
<script src="../js/scripts.js"></script>
<script>
    document.getElementById("lang").addEventListener("click", function (e) {
        e.preventDefault();
        window.location.href = ("../en/views/index_en.html");
    });
</script>
<script>
    let endurance = document.getElementById("endurance");
    let strengthEndurance = document.getElementById("strengthEndurance");
    endurance.addEventListener("click", function (event) {
        event.preventDefault();
        window.location.href = ("endurance_calculator.html");
    });
    strengthEndurance.addEventListener("click", function (event) {
        event.preventDefault();
        window.location.href = ("strength_endurance_calculator.html");
    });

</script>
<!-- End Scripts -->

</body>
</html>