<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/testimonials.css">
    <link rel="stylesheet" href="../styles/timeline.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../scripts/engines/jse_form.js"></script>
</head>
<body style="background-color: #f9f9f9">
<div class="nav-wrap">
    <div id="lang-selector">
        <a href="charge.html" class="active">BG</a>
         | 
        <a href="../en/views/charge.html" class="">EN</a>
    </div>
</div>
<div class="container" id="wrapper">
    <div class="jumbotron bg-light">
        <div class="float-left"><img src="../static/images/logo.png" id="logo" alt="main-logo"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 id="mainHeader">ATHLETIC STANDARD</h3>
                <h4 class="text-muted"><sup>GO STRONG</sup></h4>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html">Начало
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><img style="opacity: 0.5" src="../static/images/drop_btn.png" alt="sergeant-dropdown-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-left">
                        <li class="nav-item">
                            <a class="nav-link" href="reports.html">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="charge.html">Цени</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Мешка
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="martialLaw.html">Устав</a>
                                <a class="nav-link" href="about.html">ЧЗВ</a>
                                <a class="nav-link" href="platoon.html">Взвод</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="generals.html">Офицери</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="gallery.html">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="headquarter.html">Щаб квартира</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <br>

    <div class="row flex-items-xs-middle flex-items-xs-center">
        <div class="col-md-12 col-lg-4">
            <div class="card text-xs-center">
                <div class="card-header">
                    <h4 class="display-4">Алфа</h4>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        4 Седмичен абонамент
                        <br>
                        <small><!--100% warranty*--></small>
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">4 тренировкии <span class="price" style="float: right">100<small>лв.</small></span>
                            <br>
                            <small>1 път седмично</small>
                        </li>
                        <li class="list-group-item">8 тренировкии <span class="price" style="float: right">175<small>лв.</small></span>
                            <br>
                            <small>2 пъти седмично</small>
                        </li>
                        <li class="list-group-item">12 тренировкии <span class="price" style="float: right">225<small>лв.</small></span>
                            <br>
                            <small>3 пъти седмично</small>
                        </li>
                        <li class="list-group-item">16 тренировкии <span class="price" style="float: right">270<small>лв.</small></span>
                            <br>
                            <small>4 пъти седмично</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card text-xs-center">
                <div class="card-header">
                    <h4 class="display-4">Браво</h4>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        5 Седмичен абонамент
                        <br>
                        <!--<small>75% warranty*</small>-->
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">4 тренировкии <span class="price" style="float: right">115<small>лв.</small></span>
                            <br>
                            <small>1 път седмично</small>
                        </li>
                        <li class="list-group-item">8 тренировкии <span class="price" style="float: right">205<small>лв.</small></span>
                            <br>
                            <small>2 пъти седмично</small>
                        </li>
                        <li class="list-group-item">12 тренировкии <span class="price" style="float: right">275<small>лв.</small></span>
                            <br>
                            <small>3 пъти седмично</small>
                        </li>
                        <li class="list-group-item">16 тренировкии <span class="price" style="float: right">325<small>лв.</small></span>
                            <br>
                            <small>4 пъти седмично</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-4">
            <div class="card text-xs-center">
                <div class="card-header">
                    <h4 class="display-4">Чарли</h4>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        6 Седмичен абонамент
                        <br>
                        <!--<small>50% warranty*</small>-->
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item">4 тренировкии <span class="price" style="float: right">135<small>лв.</small></span>
                            <br>
                            <small>1 път седмично</small>
                        </li>
                        <li class="list-group-item">8 тренировкии <span class="price" style="float: right">235<small>лв.</small></span>
                            <br>
                            <small>2 пъти седмично</small>
                        </li>
                        <li class="list-group-item">12 тренировкии <span class="price" style="float: right">315<small>лв.</small></span>
                            <br>
                            <small>3 пъти седмично</small>
                        </li>
                        <li class="list-group-item">16 тренировкии <span class="price" style="float: right">370<small>лв.</small></span>
                            <br>
                            <small>4 пъти седмично</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <h2>Стойност</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="thead-inverse">
            <tr>
                <th class="w-25"></th>
                <th class="">Еднократна</th>
                <th class="">Единична</th>
                <th class="">Алфа</th>
                <th class="">Браво</th>
                <th class="">Чарли</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="w-25 option">Тренировка</td>
                <td class="">80<small>лв.</small></td>
                <td class="">35<small>лв.</small></td>
                <td class=""><i class="fa fa-check"></i></td>
                <td class=""><i class="fa fa-check"></i></td>
                <td class=""><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="w-25 option">Продължителност</td>
                <td class="">90<small>мин.</small></td>
                <td class="">60<small>мин.</small></td>
                <td class="">60<small>мин.</small></td>
                <td class="">60<small>мин.</small></td>
                <td class="">60<small>мин.</small></td>
            </tr>
            <tr>
                <td class="option">Измерване на подкожни мазнини</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="option">Силов баланс</td>
                <td>-</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="option">Хранителен план</td>
                <td>-</td>
                <td>при поискване</td>
                <td>при поискване</td>
                <td>при поискване</td>
                <td>при поискване</td>
            </tr>
            <tr>
                <td class="option">ТФП <small>(тест за функционална подвижност)</small></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr>
                <td class="option"><!--Recipe Blog Access-->Блог с рецепти</td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
                <td><i class="fa fa-check"></i></td>
            </tr>
            <tr class="text-uppercase font-weight-bold">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <ul>
        <li class="text-muted">всички цени са за тренировка в двойка, което означава един треньор с максимум двама трениращи в рамките на часа</li>
        <li class="text-muted">изключение от горното е еднократната тренировка, в рамките на която трениращия получава цялото внимание на треньора</li>
    </ul>


    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Карта на сайта</legend>
        <footer class="footer">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-6">
                            <h5>Документация </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/missing.html">Условия</a></li>
                                <li><a href="../views/missing.html">Поверителност</a></li>
                                <li><a href="../views/missing.html">Правила</a></li>
                                <li><a href="../views/codeOfEthics.html">Етичен кодекс</a></li>
                                <li><a href="../views/missing.html">Единен стандарт</a></li>
                                <li><a href="../views/missing.html">Брошура</a></li>
                                <li><a href="../views/headquarter.html">Контакт</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Занималня </h5>
                            <ul class="list-unstyled">
                                <li><a href="drills.html">Движения</a></li>
                                <li><a href="missing.html">Видео</a></li>
                                <li><a href="missing.html">Подрастваща сила</a></li>
                                <li><a href="brainwash.html">Пропагандирай</a></li>
                                <li><a href="hallOfStrength.html">Зала на Силата</a></li>
                                <li><a href="gear.html">Униформа</a></li>
                                <li><a href="missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>

                <div class="col-md-6" id="contact">
                    <h5 class="">Вътрешно търсене</h5>
                    <div data-form-type="formoid">
                        <form name="jse_Form" onsubmit="search_form(jse_Form); return false" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control input border" data-form-field="Search"
                                           placeholder="ключова дума" name="d"> 
                                </div>
                                <div class="input-group-btn col-md-4">
                                    <button type="button" class="btn btn-outline-secondary btn-block"
                                            onclick="search_form(jse_Form)">
                                        ТЪРСИ
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </fieldset>

    <section class="copyright">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="icons-container col-md-12">
                    <a href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"
                       target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/facebook.png"></a>
                    <a href="#/" target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/youtube.png"></a>
                    <a href="http://leanonfat.blogspot.com/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../static/images/blogger.png"></a>
                    <a href="https://www.instagram.com/gostrongbg/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../static/images/instagram.png"></a>
                </div>

                <br>
                <div class="well col-md-12" style="margin-bottom: 20px">
                    <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                          method="post">
                        <div class="row">
                            <div class="col-md-12" data-for="email">
                                <div class="col-md-8">
                                    <h6>Абонирай се за новини</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input" name="email"
                                               data-form-field="Email" placeholder="електронна поща" required="">
                                    </div>
                                    <br><br>
                                    <div class="input-group-btn col-md-4">
                                        <button type="submit" class="btn btn-outline-secondary btn-block">ИЗПРАТИ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <p class="text-center">&copy;2015-2019 <br>athleticstandard.org</p>
            </div>
        </div>
    </section>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>