<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
</head>
<body>
<div class="container">
    <div class="company">
        <img src="../static/images/gs_logo_crop.png" id="logo">
    </div>
    <h2>Join the Army</h2>
    <h4><sup>you are as strong as your weakest muscle group</sup></h4>
    <ul class="nav float-left">
        <li class="nav-item"><a class="nav-link" href="../index.html">Equalizer</a></li>
        <li>&#9733;</li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Grinder</a></li>
        <li>&#9733;</li>-->
        <li class="nav-item"><a class="nav-link" href="../views/martialLaw.html">Martial Law</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/about.html">FAQtory</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/reports.html">Reports</a></li>
    </ul>
    <ul class="nav float-right">
        <li class="nav-item"><a class="nav-link" href="../views/charge.html">Charge</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/generals.html">Generals</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/headquarter.html">Headquarter</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Boot Up</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="#">Join the Army</a></li>-->
    </ul>
</div>
<div class="container">
    <div class="row flex-items-xs-middle flex-items-xs-center">
        <div class="col-xs-12 col-lg-4">
            <div class="card text-xs-center">
                <div class="card-header">
                    <h4 class="display-4">Regular</h4>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        4 Weeks Membership
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item" hidden>1 Time a week</li>
                        <li class="list-group-item">2 Times a week <span class="price" style="float: right">175</span></li>
                        <li class="list-group-item">3 Times a week <span class="price" style="float: right">225</span></li>
                        <li class="list-group-item">4 Times a week <span class="price" style="float: right">270</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="card text-xs-center">
                <div class="card-header">
                    <h4 class="display-4">Popular</h4>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        5 Weeks Membership
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item" hidden>1 Time a week</li>
                        <li class="list-group-item">2 Times a week <span class="price" style="float: right">205</span></li>
                        <li class="list-group-item">3 Times a week <span class="price" style="float: right">275</span></li>
                        <li class="list-group-item">4 Times a week <span class="price" style="float: right">325</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4">
            <div class="card text-xs-center">
                <div class="card-header">
                    <h4 class="display-4">Busyness</h4>
                </div>
                <div class="card-block">
                    <h4 class="card-title">
                        6 Weeks Membership
                    </h4>
                    <ul class="list-group">
                        <li class="list-group-item" hidden>1 Time a week</li>
                        <li class="list-group-item">2 Times a week <span class="price" style="float: right">235</span></li>
                        <li class="list-group-item">3 Times a week <span class="price" style="float: right">315</span></li>
                        <li class="list-group-item">4 Times a week <span class="price" style="float: right">370</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="notes">
        <ul>
            What's included:<br>
            1. One hour personal training sessions in small group of no more than two trainees.<br>
            2. Strength development through consistent load progressions using compound movements.<br>
            3. Unique system for evaluating strength balance between involved movements with levels and ranks.<br>
            4. Evaluating ideal lean body mass depending on sex, height and bone structure.<br>
            5. Body weight endurance protocol calculator.<br>
            6. Strength endurance protocol calculator.<br>
            7. Body fat measurements using calipometry method. About the method read more <a href="">here</a><br>
            8. Personal meal plans if requested.<br>
            9. Access to High-Fat Low-Carb receipt ideas.<br>
            4.<br>
            <br>
            <li>all of the prices are in bulgarian leva</li>
        </ul>
    </div>
</div>
<footer class="footer">&copy;2015-2019 Yavor Grancharov</footer>
</body>
</html>