<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/fieldset.css">
    <link rel="stylesheet" href="../styles/testimonials.css">
    <link rel="stylesheet" href="../styles/timeline.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../scripts/engines/jse_form.js"></script>
    <style>
        ol {
            list-style-type: none;
        }

        ol > li:before {
            content: "-";
            text-indent: -5px;
        }
    </style>
</head>
<body class="bg-light">
<div class="container" id="wrapper">
    <nav class="breadcrumb sticky-top">
        <a class="breadcrumb-item" href="../index.html">База</a>
        <a class="breadcrumb-item" href="charge.html">Цени</a>
        <a class="breadcrumb-item" href="reports.html">Блог</a>
        <a class="breadcrumb-item" href="generals.html">Офицери</a>
        <a class="breadcrumb-item" href="headquarter.html">Щаб квартира</a>
        <span class="breadcrumb-item active">Етичен кодекс</span>
        <div class="nav-wrap">
            <div id="lang-selector">
                <a href="charge.html" class="active">BG</a>
                 <span style="color: white">|</span> 
                <a href="../en/views/charge.html" class="">EN</a>
            </div>
        </div>
    </nav>

    <br>

    <div class="panel panel-default">
        <h4 class="panel-heading">Етичен кодекс и Правила за поведение</h4>
        <div class="panel-body">
            <fieldset class="fieldset col-md-12">
                <legend class="legend">Етичен кодекс</legend>
                <h6 class="text-center">всеки личен треньор, наричан по-долу за краткост "той", трябва да притежава,
                    постига и поддържа следните идеали</h6>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>Той:
                            <li>е честен и почтен</li>
                            <li>зачита човешките права</li>
                            <li>никога и по никакъв повод не дискредитира или накърнява честта и достойството на свой
                                колега,
                                клиент или друг член на обществото. Този принцип не възпрепятства, той да предостави по
                                професионален начин, честно и компетентно второ или експертно мнение относно действията
                                на
                                друг треньор, когато това е уместно
                            </li>
                            <li>е старателен, отговорен и решителен</li>
                            <li>осигурява компетентно решение в съответствие с изискванията и ограниченията на
                                професията.
                                Когато не може да предостави такова, да съобщи това на клиента, като се ангажира, че ще
                                се
                                осведоми и отговори на по-късен етап
                            </li>
                            <li>предоставя само онези услуги, за които е квалифициран и/или компетентен</li>
                            <li>е прозрачен и откровен в комуникацията. Не представя погрешно своите личностни качества
                                и
                                професионални умения
                            </li>
                            <li>се самоопределя на база своя принос към професията, без вътрешно или открито да отрича
                                изцяло или
                                отчасти източниците си на информация служещи му за рамка при извеждането на нов принцип,
                                извод или
                                движение
                            </li>
                            <li>гради професионалното си самочувствие на база добавена стойност, а не на база
                                разграничаване от
                                друг упражняващ професията. Дискредитацията не означава стойност, аргументът не
                                означава истина
                            </li>
                            <li>признава и разбира, че саморегулирането на професията е привилегия, и че има постоянната
                                отговорност да заслужава тази привилегия
                            </li>
                            <li>се държи по начин достоен за уважение от обществото, както и от другите упражняващи
                                професията
                            </li>
                            <li>продължава професионалното си развитие през цялата си кариера</li>
                            <li>популяризира професията чрез застъпничество, проучване и поддържане на най-високите
                                възможни
                                стандарти
                            </li>
                            <li>изпълнява професионалните си ангажименти, като интегрира описаните тук принципи в
                                ежедневната
                                си практика
                            </li>
                        </ul>
                    </div>
                </div>
                <legend class="legend">Правила за поведение</legend>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul>Той:
                            <li>зачита достойнството, нуждите и ценностите на клиента</li>
                            <li>се съобразява с желанията на клиента, освен в случаите, в които се касае за
                                ситуация извън техническата компетентност на последния
                            </li>
                            <li>не накърнява човешките права на клиента
                            <li>не дискриминира, при предоставянето на услуги, клиент въз основа на раса,
                                религия, етнически или национален произход, възраст, пол, сексуална ориентация,
                                увреждане или друго подобно основание
                            </li>
                            <li>не третира състояние, което зне или трябва да знае, че е извън неговите познания или
                                компетентност
                            </li>
                            <li>признава или трябва да признава състояние, изискващо здравни услуги, които той не
                                може да предостави, като в тези ситуации своевременно насочва клиента към доверен
                                и квалифициран здравен специалист
                            </li>
                            <li>не оценява или третира клиент без информирано съгласие</li>
                            <li>поема пълна отговорност за всички грижи, които осигурява, включително надзор над
                                лицата, на които е делегирал задължения
                            </li>
                            <li>поддържа подходяща документация за всички клиенти</li>
                            <li>пази в тайна цялата информация за клиента и не съобщава такава информация на
                                никое лице без съгласието на клиента, освен когато това е необходимо или
                                разрешено от закон
                            </li>
                            <li>предоставя своите такси публично, като при нужда ги съобщава на клиента, преди да
                                предостави услуги
                            </li>
                            <li>не трябва физически, емоционално или сексуално да злоупотребява или тормози клиент или
                                друго лице
                            </li>
                            <li>не трябва да практикува под въздействието на упойващо вещество или докато е
                                недееспособен
                            </li>
                            <li>не трябва да преустановява професионалните си услуги, които са необходими, освен в
                                случаите, когато:
                                <ol>
                                    <li> клиентът прекрати услугата</li>
                                    <li> налице е разумна възможност да получи алтернативни услуги</li>
                                    <li> има разумни основания да се смята, че клиентът е или ще се държи оскърбително
                                    </li>
                                </ol>
                            </li>
                            <li>не трябва да демонстрира поведение, което е от значение за практиката, и което
                                разумно би било възприето като позорно, нечестно или непрофесионално
                            </li>
                        </ul>
                    </div>
                </div>
            </fieldset>
            <div class="clearfix"></div>
        </div>
    </div>

    <br>

    <div class="text-center" style="border: 1px dashed orangered; border-radius: 2px; width: 200px">
        Запази: <a href="https://docs.google.com/uc?export=download&id=1W_WqFRBNdHDO873cQFrNJWvD7DBeSH6R">code_of_ethics.txt</a>
    </div>

    <br>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Карта на сайта</legend>
        <!--<div class="row">
            <div class="col-xs-8 col-sm-6 col-md-4 footers-one">
                <div class="footers-logo">
                    <img src="../static/images/hiking-boot.png" alt="Logo">
                </div>
            </div>
        </div>-->
        <footer class="footer">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-6">
                            <h5>Документация </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/terms.html">Условия</a></li>
                                <li><a href="../views/policy.html">Политика</a></li>
                                <li><a href="../views/missing.html">Правила</a></li>
                                <li><a href="../views/missing.html">Етичен кодекс</a></li>
                                <li><a href="../views/missing.html">Единен стандарт</a></li>
                                <li><a href="../views/missing.html">Брошура</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Занималня </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/drills.html">Движения</a></li>
                                <li><a href="../views/missing.html">Видео</a></li>
                                <li><a href="../views/missing.html">GROW Strong</a></li>
                                <li><a href="../views/brainwash.html">Стани вербовчик</a></li>
                                <li><a href="../views/missing.html">Зала на Силата</a></li>
                                <li><a href="../views/gear.html">Униформа</a></li>
                                <li><a href="../views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>

                <div class="col-md-6" id="contact">
                    <h5 class="">Вътрешно търсене</h5>
                    <div data-form-type="formoid">
                        <form name="jse_Form" onsubmit="search_form(jse_Form); return false" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control input border" data-form-field="Search"
                                           placeholder="ключова дума" name="d"> 
                                </div>
                                <div class="input-group-btn col-md-4">
                                    <button style="background-color: #002e63; color: #ffffff" class="btn btn-block" onclick="search_form(jse_Form)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </fieldset>

    <section class="copyright">
        <div class="row">
            <div class="col-md-6">
                <div class="icons-container col-md-12 pt-3">
                    <a href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"
                       target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/facebook.png"></a>
                    <a href="#/" target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/youtube.png"></a>
                    <a href="http://leanonfat.blogspot.com/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../static/images/blogger.png"></a>
                </div>

                <br>

                <div class="well col-md-12">
                    <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                          method="post">
                        <div class="row">
                            <div class="col-md-12" data-for="email">
                                <div class="col-md-8">
                                    <h6>Абонирай се за новини</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input" name="email"
                                               data-form-field="Email" placeholder="електронна поща" required="">
                                    </div>
                                    <br><br>
                                    <div class="input-group-btn col-md-4">
                                        <button type="submit" class="btn btn-outline-light btn-block">ИЗПРАТИ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 pt-5">
                    <div class="col-6 float-left">
                        <a target="_blank" href="http://www.copyscape.com/"><img
                                src="//banners.copyscape.com/img/copyscape-stamp-white-90x90.png" width="90" height="90"
                                border="0" alt="Protected by Copyscape"
                                title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page."/></a>
                    </div>
                    <div class="col-6 float-right">
                        <p class="text-center"><img src="../static/images/logo_facebook.png" width="40"
                                                    height="auto"><br>&copy;2015-2019<br>athleticstandard.org</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="col-md-12" id="partners">
            <a target="_blank" href="https://shidofitness.com/" class="text-left"><img
                    src="../static/images/Shido-Fitness-Logo-New-Orange.png" width="80" height="auto" border="0"
                    alt="Shido Fitness"></a>
            <a target="_blank" href="https://www.biz-logo.com/"><img src="../static/images/biz-logo-logo.jpg"
                                                                     width="80" height="auto" border="0"
                                                                     alt="Biz Logo"></a>
            <a target="_blank" href="https://www.instituteofpersonaltrainers.com/code-of-ethical-conduct.html"><img
                    src="https://www.instituteofpersonaltrainers.com/uploads/2/2/0/1/22014694/iptmember2_orig.png"
                    width="80" height="80" alt="personal trainer business support"></a>
        </div>
    </section>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>