<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Dictionary</h3>
<p>Rack Time - sleeping, rest</p>
<p>CPO - Chief Petty Officer (Navy Rank) or Command Pay Office</p>
<p>GOC - General Officer Commanding </p>
<h3>Slogans</h3>
<h4><sup>we have determined that your chronic back & knee pain is not service connected</sup></h4>
<h4><sup>what doesn't kill me better start fucking running</sup></h4>
<h4><sup>home of the free because of the brave</sup></h4>
</body>
</html>