<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO STRONG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Military Jargon</h2>
            <h4><sup>what doesn't kill me better start fucking running</sup></h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Squad Bay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-left">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/equalizer.html">Grid</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/reports.html">Reports</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link " href="../views/charge.html">Charge</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FAQtory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/martialLaw.html">Martial Law</a>
                            <a class="dropdown-item" href="../views/about.html">Roger That</a>
                            <a class="dropdown-item" href="../views/platoon.html">Foot Soldiers</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/generals.html">Officers</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/headquarter.html">Headquarter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
</div>
<div class="container">
    <div class="card-header">
        Ranks
    </div>
    <ul class="list-group" id="ranks">
        <li class="list-group-item">Recruit : to enlist as a member of an armed service. "Yet, you don't know how much
            you don't know."
        </li>
        <li class="list-group-item">Rookie : a person who has just started a job or activity and has little experience.
            "Now you know how much you don't know."
        </li>
        <li class="list-group-item">Private : an enlisted person of the lowest rank in the marine corps : one of the two
            lowest ranks in the army. "Congratulations, you have a rank."
        </li>
        <li class="list-group-item">Corporal : a noncommissioned officer ranking above a private in the army or above a
            lance corporal in the marine corps
        </li>
        <li class="list-group-item">Sergeant : a noncommissioned officer ranking in the army and marine corps above a
            corporal and below a staff sergeant
        </li>
        <li class="list-group-item">Lieutenant : an officer in the army, navy, or air force with a fairly low rank</li>
        <li class="list-group-item">Captain : a military leader : the commander of a unit or a body of troops : a person
            of importance or influence in a field : to be in charge of : to lead (a team)
        </li>
        <li class="list-group-item">Major : one that is superior in rank, importance, size, or performance : notable or
            conspicuous in effect or scope
        </li>
        <li class="list-group-item">Colonel</li>
        <li class="list-group-item">General</li>
    </ul>
    <div class="card-header">
        Slogans
    </div>
    <ul class="list-group" id="slogans">
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
    </ul>
    <div class="card-header">
        Common Military Slang
    </div>
    <ul class="list-group" id="phrases">
        <li class="list-group-item" id="cpo">CPO - Chief Petty Officer</li>
        <li class="list-group-item" id="goc">GOC - General Officer Commanding</li>
        <li class="list-group-item" id="rollover">Rollover - leave of absence, especially that granted to a member of
            the armed services
        </li>
        <li class="list-group-item"></li>
        <li class="list-group-item"></li>
    </ul>
</div>
<div class="container">
    <hr>
    <!--<div class="foo green"></div>&nbsp;Trained: you have become better [slow adaptation]<br>
    <div class="foo blue"></div>&nbsp;Skilled: you have grown to a more advanced state [very slow adaptation]<br>
    <div class="foo red"></div>&nbsp;Master: you have reached mastery [potential limit]-->
    <section class="footers bg-light pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="../static/images/logo.png" alt="Logo">
                    </div>
                    <div class="footers-info mt-3">
                        <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now
                            the best.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two"></div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                    <h5>Connect</h5>
                    <div class="social-icons">
                        <a target="_blank" href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"><i id="social-fb"
                                                                                                                                  class="fa fa-facebook-square fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://youtube.com/"><i id="social-tw"
                                                                          class="fa fa-youtube fa-2x social"></i></a>&nbsp;&nbsp;
                        <a target="_blank" href="https://www.instagram.com/gostrongbg/"><i id="social-em"
                                                                                         class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                    <h5>Info </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/dictionary.html">Jargon</a></li>
                        <li><a href="../views/brainwash.html">Be A Recruiter</a></li>
                        <li><a href="../views/terms.html">Terms</a></li>
                        <li><a href="../views/policy.html">Policy</a></li>
                        <li><a href="../views/headquarter.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Explore </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/gear.html">Gear</a></li>
                        <li><a href="../views/drills.html">Drills</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="../views/art.html">Military Art</a></li>
                        <li><a href="#">Wallpapers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted text-center">Copyright &copy;2015-2019 Army Strong</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>