<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
    <script src="../scripts/controller/viewController.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a href="../index.html"><img src="../static/images/gs_logo_crop.png" id="logo"></a>
        </div>
        <div class="col-sm-11">
            <h2>General System</h2>
            <h4><sup>real strength is to know your weakness</sup></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <ul class="nav float-left">
                <li class="nav-item"><a class="nav-link" href="../views/equalizer.html">Equalizer</a></li>
                <li>&#9733;</li>
                <!--<li class="nav-item"><a class="nav-link" href="#">Grinder</a></li>
                <li>&#9733;</li>-->
                <li class="nav-item"><a class="nav-link" href="../views/martialLaw.html">Martial Law</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/about.html">FAQtory</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/reports.html">Reports</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="nav float-right">
                <li class="nav-item"><a class="nav-link" href="../views/charge.html">Charge</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="#">Generals</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/headquarter.html">Headquarter</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/gallery.html">Gallery</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#">Boot Up</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="#">Join the Army</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="main_area">
        <!-- Slider -->
        <div class="row">
            <div class="col-sm-6" id="slider-thumbs">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets">
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-0">
                            <img src="../static/images/us2%20(3%20of%201).jpg">
                        </a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-1"><img src="../static/images/us4%20(3%20of%201).jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-2"><img src="../static/images/us5%20(3%20of%201).jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-3"><img src="../static/images/us6%20(3%20of%201).jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-4"><img src="../static/images/us7%20(3%20of%201).jpg"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-5"><img src="../static/images/us8%20(3%20of%201).jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-6"><img src="../static/images/us9%20(3%20of%201).jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-7"><img src="../static/images/us10%20(3%20of%201).jpg"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-8"><img src="http://placehold.it/150x150&text=9"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-10"><img
                                src="http://placehold.it/150x150&text=10"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-11"><img
                                src="http://placehold.it/150x150&text=11"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-12"><img
                                src="http://placehold.it/150x150&text=12"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-13"><img
                                src="http://placehold.it/150x150&text=13"></a>
                    </li>
                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-14"><img
                                src="http://placehold.it/150x150&text=14"></a>
                    </li>

                    <li class="col-sm-3">
                        <a class="thumbnail" id="carousel-selector-15"><img
                                src="http://placehold.it/150x150&text=15"></a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <div class="col-xs-12" id="slider">
                    <!-- Top part of the slider -->
                    <div class="row">
                        <div class="col-sm-12" id="carousel-bounding-box">
                            <div class="carousel slide" id="myCarousel">
                                <!-- Carousel items -->
                                <div class="carousel-inner">
                                    <div class="active item" data-slide-number="0">
                                        <img src="../static/images/us2%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="1">
                                        <img src="../static/images/us4%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="2">
                                        <img src="../static/images/us5%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="3">
                                        <img src="../static/images/us6%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="4">
                                        <img src="../static/images/us7%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="5">
                                        <img src="../static/images/us8%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="6">
                                        <img src="../static/images/us9%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="7">
                                        <img src="../static/images/us10%20(3%20of%201).jpg"></div>

                                    <div class="item" data-slide-number="8">
                                        <img src="http://placehold.it/470x480&text=8"></div>

                                    <div class="item" data-slide-number="9">
                                        <img src="http://placehold.it/470x480&text=9"></div>

                                    <div class="item" data-slide-number="10">
                                        <img src="http://placehold.it/470x480&text=10"></div>
                                </div>
                                <!-- Carousel nav -->
                                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                </a>
                                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/Slider-->
        </div>

    </div>
</div>
</body>
</html>