<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
    <script src="../scripts/controller/viewController.js"></script>
</head>
<body>
<div class="container">
    <div class="company">
        <img src="../static/images/gs_logo_crop.png" id="logo">
    </div>
    <h2>Meet the Generals</h2>
    <h4><sup>you are as strong as your weakest muscle group</sup></h4>
    <ul class="nav float-left">
        <li class="nav-item"><a class="nav-link" href="../index.html">Equalizer</a></li>
        <li>&#9733;</li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Grinder</a></li>
        <li>&#9733;</li>-->
        <li class="nav-item"><a class="nav-link" href="../views/martialLaw.html">Martial Law</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/about.html">FAQtory</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/reports.html">Reports</a></li>
    </ul>
    <ul class="nav float-right">
        <li class="nav-item"><a class="nav-link" href="../views/charge.html">Charge</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="#">Generals</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/headquarter.html">Headquarter</a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Boot Up</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="#">Join the Army</a></li>-->
    </ul>

</div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/yavor.jpg" alt="Yavor Grancharov">
            <h3>Yavor Grancharov<br>
                <small>Master Chief</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-6 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/Elitsa-action_380.jpg" alt="Elitsa Zamfirova">
            <h3>Elitsa Zamfirova<br>
                <small>Senior Chief</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
    </div>
</div>
<footer class="footer">&copy;2015-2019 Yavor Grancharov</footer>
</body>
</html>