<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/fieldset.css">
    <link rel="stylesheet" href="../styles/testimonials.css">
    <link rel="stylesheet" href="../styles/timeline.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../scripts/engines/jse_form.js"></script>
</head>
<body style="background-color: #f9f9f9">
<div class="nav-wrap">
    <div id="lang-selector">
        <a href="hallOfStrength.html" class="active">BG</a>
         | 
        <a href="../en/views/hallOfStrength.html" class="">EN</a>
    </div>
</div>
<div class="container" id="wrapper">
    <div class="jumbotron bg-light">
        <div class="float-left"><img src="../static/images/logo.png" id="logo" alt="main-logo"></div>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Зала на Силата</h3>
                <h5 class="text-muted text-center"><sup>you are as strong as your weakest lift</sup></h5>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="../index.html">Начало
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span><img style="opacity: 0.5" src="../static/images/drop_btn.png" alt="sergeant-dropdown-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-left">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/reports.html">Блог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="../views/charge.html">Цени</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Мешка
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="nav-link" href="../views/martialLaw.html">Устав</a>
                                <a class="nav-link" href="../views/about.html">ЧЗВ</a>
                                <a class="nav-link" href="../views/platoon.html">Пехота</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <ul class="navbar-nav mr-auto float-right">
                        <li class="nav-item">
                            <a class="nav-link" href="../views/generals.html">Офицери</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/gallery.html">Галерия</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../views/headquarter.html">Щаб квартира</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>


    <br>

    <h3>Класиране мъже</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>показани са първите 10</caption>
            <thead>
            <tr>
                <th>Място</th>
                <th>Име</th>
                <th>Силов показател</th>
                <th>Атлетичен показател</th>
                <th>Равновесие</th>
                <th>Звание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Любомир Кръстев</td>
                <td>76.6 / 100</td>
                <td>76.6 / 100</td>
                <td>78.9 / 100</td>
                <td>Капитан</td>
                <td class="border-0"><a href="../graphs/lyubomir_krastev.html"><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Емил Богданов</td>
                <td>76.6 / 100</td>
                <td>76.6 / 100</td>
                <td>78.9 / 100</td>
                <td>Лейтенант</td>
                <td class="border-0"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Здравко Райчев</td>
                <td>76.6 / 100</td>
                <td>76.6 / 100</td>
                <td>78.9 / 100</td>
                <td>Ефрейтор</td>
                <td class="border-0"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Деян Василев</td>
                <td></td>
                <td></td>
                <td></td>
                <td>Редник</td>
                <td class="border-0"><a href=""><i class="fa fa-bar-chart" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>

    <h3>Класиране жени</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>показани са първите 10</caption>
            <thead>
            <tr>
                <th>Място</th>
                <th>Име</th>
                <th>Силов показател</th>
                <th>Атлетичен показател</th>
                <th>Равновесие</th>
                <th>Ранг</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Мария Василева</td>
                <td>76.6 / 100</td>
                <td>31 / 36.3</td>
                <td>78.9 / 100</td>
                <td>капитан</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Магдалена Райчева</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Марина Паунова</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Мария Вълова</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Карта на сайта</legend>
        <footer class="footer">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-6">
                            <h5>Документация </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/terms.html">Условия</a></li>
                                <li><a href="../views/policy.html">Политика</a></li>
                                <li><a href="../views/missing.html">Правила</a></li>
                                <li><a href="../views/missing.html">Етичен кодекс</a></li>
                                <li><a href="../views/missing.html">Брошура</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Занималня </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/drills.html">Движения</a></li>
                                <li><a href="../views/missing.html">Видео</a></li>
                                <li><a href="../views/missing.html">GROW Strong</a></li>
                                <li><a href="../views/brainwash.html">Стани вербовчик</a></li>
                                <li><a href="../views/missing.html">Зала на Силата</a></li>
                                <li><a href="../views/gear.html">Униформа</a></li>
                                <li><a href="../views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>

                <div class="col-md-6" id="contact">
                    <h5 class="">Вътрешно търсене</h5>
                    <div data-form-type="formoid">
                        <form name="jse_Form" onsubmit="search_form(jse_Form); return false" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control input border" data-form-field="Search"
                                           placeholder="ключова дума" name="d"> 
                                </div>
                                <div class="input-group-btn col-md-4">
                                    <button type="button" class="btn btn-outline-secondary btn-block" onclick="search_form(jse_Form)">
                                        ТЪРСИ
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </fieldset>


    <section class="copyright">
        <div class="row text-center">
            <div class="col-md-6">
                <div class="icons-container col-md-12">
                    <a href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"
                       target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/facebook.png"></a>
                    <a href="#/" target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/youtube.png"></a>
                    <a href="http://leanonfat.blogspot.com/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../static/images/blogger.png"></a>
                    <a href="https://www.instagram.com/gostrongbg/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../static/images/instagram.png"></a>
                </div>

                <br>
                <div class="well col-md-12" style="margin-bottom: 20px">
                    <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                          method="post">
                        <div class="row">
                            <div class="col-md-12" data-for="email">
                                <div class="col-md-8">
                                    <h6>Абонирай се за новини</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input" name="email"
                                               data-form-field="Email" placeholder="електронна поща" required="">
                                    </div>
                                    <br><br>
                                    <div class="input-group-btn col-md-4">
                                        <button type="submit" class="btn btn-outline-secondary btn-block">ИЗПРАТИ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pt-3">
                <p class="text-center">&copy;2015-2019 <br>athleticstandard.org</p>
            </div>
        </div>
    </section>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>