<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/fieldset.css">
    <link rel="stylesheet" href="../styles/testimonials.css">
    <link rel="stylesheet" href="../styles/timeline.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../scripts/engines/jse_form.js"></script>
    <style>
        .img-box {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .img-box img {
            max-width: 100%;
            width: 80px;
            height: 80px;
            display: block;
            border-radius: 50%;
        }
    </style>
</head>
<body>
<div class="container" id="wrapper">
    <nav class="breadcrumb sticky-top">
        <a class="breadcrumb-item" href="../index.html">База</a>
        <span class="breadcrumb-item active">Цени</span>
        <a class="breadcrumb-item" href="../views/reports.html">Блог</a>
        <a class="breadcrumb-item" href="../views/generals.html">Офицери</a>
        <a class="breadcrumb-item" href="../views/headquarter.html">Щаб квартира</a>
        <div class="nav-wrap">
            <div id="lang-selector">
                <a href="charge.html" class="active">BG</a>
                 <span style="color: white">|</span> 
                <a href="../en/views/charge.html" class="">EN</a>
            </div>
        </div>
    </nav>

    <br>

    <h3>Класиране мъже</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>показани са първите 10</caption>
            <thead>
            <tr>
                <th>Място</th>
                <th>Име</th>
                <th>Силов показател</th>
                <th>Атлетичен показател</th>
                <th>Равновесие</th>
                <th>Звание</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Любомир Кръстев</td>
                <td>60.57 / 100</td>
                <td>0 / 100</td>
                <td>24.65 / 0</td>
                <td>Сержант</td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#luboKrustev"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr><!-- equilibrium ____ 271.21 / 11 = 24.65-->
            <tr>
                <td>2</td>
                <td>Емил Богданов</td>
                <td>53.4 / 100</td>
                <td>0 / 100</td>
                <td>39.55 / 0</td>
                <td>Ефрейтор</td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#emilBogdanov"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr><!--0.691 + 0.735 + 0.625 + 0.657 + 0.656 + 0.596 + 0.709 + 0.618 + 0.266 + 0.322 = сума = 5.875
            с пуш преса = 5.875 / 10 * 100 = 58.75
            без нея = 5.875 / 11 * 100 = 53.4 ______ equilibrium 395.5 / 10 = 39.55-->
            <tr>
                <td>3</td>
                <td>Здравко Райчев</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#emilBogdanov"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Деян Василев</td>
                <td>36.07 / 100</td>
                <td>0 / 100</td>
                <td>53.28 / 0</td>
                <td>Новобранец</td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#deyanVasilev"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr><!--0.343 + 0.563 + 0.46 + 0.529 + 0.426 + 0.424 + 0.609 + 0.426 + 0 + 0.188 + 0 = 3.968
            3.968 / 11 * 100 = 36.07 ___equilibrium ___479.52 / 9 = 53.28-->
            </tbody>
        </table>
    </div>

    <h3>Класиране жени</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <caption>показани са първите 10</caption>
            <thead>
            <tr>
                <th>Място</th>
                <th>Име</th>
                <th>Силов показател</th>
                <th>Атлетичен показател</th>
                <th>Равновесие</th>
                <th>Ранг</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Мария Василева</td>
                <td>76.6 / 100</td>
                <td>31 / 36.3</td>
                <td>78.9 / 100</td>
                <td>капитан</td>
                <td class="border-0"><button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#emilBogdanov"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Магдалена Райчева</td>
                <td>36.07 / 100</td>
                <td>0 / 100</td>
                <td>53.28 / 0</td>
                <td>Сержант</td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#emilBogdanov"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Марина Паунова</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#emilBogdanov"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Мария Вълова</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="border-0"><button type="button" data-toggle="modal" data-target="#emilBogdanov"><i class="fa fa-bar-chart" aria-hidden="true"></i></button></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-left"><span class="text-danger">ВАЖНО!</span> Резултатите се преразглеждат на всеки 3 месеца.</div>

    <br>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Карта на сайта</legend>
        <footer class="footer">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-6">
                            <h5>Документация </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/terms.html">Условия</a></li>
                                <li><a href="../views/policy.html">Политика</a></li>
                                <li><a href="../views/missing.html">Правила</a></li>
                                <li><a href="../views/missing.html">Етичен кодекс</a></li>
                                <li><a href="../views/missing.html">Брошура</a></li>
                            </ul>
                        </div>
                        <div class="col-6">
                            <h5>Занималня </h5>
                            <ul class="list-unstyled">
                                <li><a href="../views/drills.html">Движения</a></li>
                                <li><a href="../views/missing.html">Видео</a></li>
                                <li><a href="../views/missing.html">GROW Strong</a></li>
                                <li><a href="../views/brainwash.html">Стани вербовчик</a></li>
                                <li><a href="../views/missing.html">Зала на Силата</a></li>
                                <li><a href="../views/gear.html">Униформа</a></li>
                                <li><a href="../views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>

                <div class="col-md-6" id="contact">
                    <h5 class="">Вътрешно търсене</h5>
                    <div data-form-type="formoid">
                        <form name="jse_Form" onsubmit="search_form(jse_Form); return false" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control input border" data-form-field="Search"
                                           placeholder="ключова дума" name="d"> 
                                </div>
                                <div class="input-group-btn col-md-4">
                                    <button style="background-color: #002e63; color: #ffffff" class="btn btn-block" onclick="search_form(jse_Form)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </footer>
    </fieldset>


    <section class="copyright">
        <div class="row">
            <div class="col-md-6">
                <div class="icons-container col-md-12 pt-3">
                    <a href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"
                       target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/facebook.png"></a>
                    <a href="#/" target="_blank" class="btn azm-social azm-size-32 azm-circle"><img
                            src="../static/images/youtube.png"></a>
                    <a href="http://leanonfat.blogspot.com/" target="_blank"
                       class="btn azm-social azm-size-32 azm-circle"><img src="../static/images/blogger.png"></a>
                </div>

                <br>

                <div class="well col-md-12">
                    <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                          method="post">
                        <div class="row">
                            <div class="col-md-12" data-for="email">
                                <div class="col-md-8">
                                    <h6>Абонирай се за новини</h6>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <input type="text" class="form-control input" name="email"
                                               data-form-field="Email" placeholder="електронна поща" required="">
                                    </div>
                                    <br><br>
                                    <div class="input-group-btn col-md-4">
                                        <button type="submit" class="btn btn-outline-light btn-block">ИЗПРАТИ
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 pt-5">
                    <div class="col-6 float-left">
                        <a target="_blank" href="http://www.copyscape.com/"><img
                                src="//banners.copyscape.com/img/copyscape-stamp-white-90x90.png" width="90" height="90"
                                border="0" alt="Protected by Copyscape"
                                title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page."/></a>
                    </div>
                    <div class="col-6 float-right">
                        <p class="text-center"><img src="../static/images/logo_facebook.png" width="40"
                                                    height="auto"><br>&copy;2015-2019<br>athleticstandard.org</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="col-md-12" id="partners">
            <a target="_blank" href="https://shidofitness.com/" class="text-left"><img
                    src="../static/images/Shido-Fitness-Logo-New-Orange.png" width="80" height="auto" border="0"
                    alt="Shido Fitness"></a>
            <a target="_blank" href="https://www.biz-logo.com/"><img src="../static/images/biz-logo-logo.jpg"
                                                                     width="80" height="auto" border="0"
                                                                     alt="Biz Logo"></a>
            <a target="_blank" href="https://www.instituteofpersonaltrainers.com/code-of-ethical-conduct.html"><img
                    src="https://www.instituteofpersonaltrainers.com/uploads/2/2/0/1/22014694/iptmember2_orig.png"
                    width="80" height="80" alt="personal trainer business support"></a>
        </div>
    </section>
</div>
<!-- Lyubo Krustev Modal -->
<div class="modal" id="luboKrustev">
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.bundle.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Любомир Кръстев<small> (157см. 58кг. 19г.)</small></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 float-left">
                                <div class="img-box" style="background-image: url('../static/images/lubomir_krustev.jpg')"></div>
                            </div>
                            <canvas style="display: block" class="text-center" id="bar-chart-horizontal-lubo"></canvas>
                        </div>
                    </div>
                    <small class="text-center">всички стойности са израз на изоставащите в проценти сила движения спрямо
                        текущото най-силно
                    </small>
                </div>
                <script type="text/javascript">
                    let chartLubo = document.getElementById("bar-chart-horizontal-lubo");
                    new Chart((chartLubo), {
                        type: 'horizontalBar',
                        data: {
                            labels: ["Deadlift", "Dip", "Military Press", "Sumo Deadlift", "Squat", "Lunge", "Pull-up", "Front Squat", "Push Press", "Overhead Squat", "Airborne Squat"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff"],
                                    data: [-30.55, 0, -5.55, -23.53, -8.33, -10, -17.42, -33.33, -30, -62.5, -50],
                                    color: "#ffffff"
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: "графика на равновесието"
                            }
                        }
                    });
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
            </div>

        </div>
    </div>
</div>
<!-- Emil Bogdanov Modal -->
<div class="modal" id="emilBogdanov">
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.bundle.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Емил Богданов<small> (180см. 81кг. 36г.)</small></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 float-left">
                                <div class="img-box"></div>
                            </div>
                            <canvas style="display: block" class="text-center" id="bar-chart-horizontal-emo"></canvas>
                        </div>
                    </div>
                    <small class="text-center">всички стойности са израз на изоставащите в проценти сила движения спрямо
                        текущото най-силно
                    </small>
                </div>
                <script type="text/javascript">
                    let chartEmo = document.getElementById("bar-chart-horizontal-emo");
                    new Chart((chartEmo), {
                        type: 'horizontalBar',
                        data: {
                            labels: ["Deadlift", "Dip", "Military Press", "Sumo Deadlift", "Squat", "Lunge", "Pull-up", "Front Squat", "No data", "Overhead Squat", "Airborne Squat"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff"],
                                    data: [-5.71, 0, -18.4, -11.0, -11.67, -21.88, -3.44, -18.4, 0, -175, -130],
                                    color: "#ffffff"
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: "графика на равновесието"
                            }
                        }
                    });
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
            </div>

        </div>
    </div>
</div>
<!-- Deyan Vasilev Modal -->
<div class="modal" id="deyanVasilev">
    <script src="../node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.bundle.js"></script>
    <script src="../node_modules/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Деян Василев<small> (178см. 75кг. 32г.)</small></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-2 float-left">
                                <div class="img-box" style="background-image: url('../static/images/deyan_vasilev.jpg')"></div>
                            </div>
                            <canvas style="display: block" class="text-center" id="bar-chart-horizontal-deyan"></canvas>
                        </div>
                    </div>
                    <small class="text-center">всички стойности са израз на изоставащите в проценти сила движения спрямо
                        текущото най-силно
                    </small>
                </div>
                <script type="text/javascript">
                    let chartDeyan = document.getElementById("bar-chart-horizontal-deyan");
                    new Chart((chartDeyan), {
                        type: 'horizontalBar',
                        data: {
                            labels: ["Deadlift", "Dip", "Military Press", "Sumo Deadlift", "Squat", "Lunge", "Pull-up", "Front Squat", "No data", "Overhead Squat", "No data"],
                            datasets: [
                                {
                                    label: "",
                                    backgroundColor: ["#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff", "#e5e5ff"],
                                    data: [-76.9, -7.81, -31.42, -15.0, -42.46, -43.75, 0, -42.18, 0, -220, 0],
                                    color: "#ffffff"
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: false
                            },
                            title: {
                                display: true,
                                text: "графика на равновесието"
                            }
                        }
                    });
                </script>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
            </div>

        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>