<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styleSec.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="../index.html">БАЗА</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="charge.html">ЦЕНИ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#blog">БЛОГ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#officers">ОФИЦЕРИ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="headquarter.html">ЩАБ</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="lang-selector">
        <a href="index.html" class="active">BG</a>
         <span style="color: #dfdfdf">|</span>
        <a href="en/index.html" class="">EN</a>
    </div>
</nav>

<header>
    <div class="container text-center">
        <h1>ЩАБ КВАРТИРА</h1>
        <p class="lead text-center"></p>
    </div>
</header>

<section id="contact">
    <div class="container">
        <h2 class="text-center"></h2>
        <div class="row">
            <div class="col-md-6">
                <div class="google-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11742.164749898862!2d23.3319556!3d42.6286857!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40aa841b956b3671%3A0xe9930df7b2e0f52c!2sShido+Fitness!5e0!3m2!1sen!2sbg!4v1544988647644"
                            width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <div class="icon-block pb-3">
                        <span class="icon-block__icon">
                            <span class="mbri-letter mbr-iconfont" media-simple="true"></span>
                        </span>
                        <h4 class="icon-block__title align-left mbr-fonts-style display-5">
                            Домофон
                        </h4>
                    </div>
                    <div class="icon-contacts pb-3">

                        <p class="mbr-text align-left mbr-fonts-style display-7">
                            <i class="fa fa-phone-square"></i> 0876 10 00 39 - Явор; <i class="fa fa-phone-square"></i> 0888 03 04 24 - Елица<br><br>
                            <i class="fa fa-envelope-o"></i> athleticstandard.org@gmail.com
                        </p>
                    </div>
                </div>
                <div data-form-type="formoid">
                    <form class="block mbr-form" action="https://formspree.io/bearhold@gmail.com" method="post">
                        <div class="row">
                            <div class="col-md-6 multi-horizontal" data-for="name">
                                <input type="text" class="form-control input" name="name" data-form-field="Name"
                                       placeholder="име" required="" id="name-form4-6x">
                            </div>
                            <br><br>
                            <div class="col-md-6 multi-horizontal" data-for="phone">
                                <input type="text" class="form-control input" name="phone" data-form-field="Phone"
                                       placeholder="телефон" required="" id="phone-form4-6x">
                            </div>
                            <div class="col-md-12" data-for="email">
                                <input type="text" class="form-control input" name="email" style="margin-top: 10px;"
                                       data-form-field="Email" placeholder="електронна поща" required="" id="email-form4-6x">
                            </div>
                            <div class="col-md-12" data-for="message">
                                <textarea class="form-control input" name="message"
                                          style="margin-top: 10px; resize:none" rows="3" data-form-field="Message"
                                          placeholder="съобщение" id="message-form4-6x"></textarea>
                            </div>
                            <div class="input-group-btn col-md-12" style="margin-top: 10px;">
                                <button href="" type="submit" class="btn btn-primary display-4">ИЗПРАТИ
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <div class="well col-md-12">
                        <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                              method="post">
                            <div class="row">
                                <div class="col-md-12" data-for="email">
                                    <div class="col-md-8 text-left">
                                        <h5>Абонирай се за новини</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input text-center" name="email"
                                                   data-form-field="Email" placeholder="електронна поща" required="">
                                        </div>
                                        <br><br>
                                        <div class="input-group-btn col-md-4">
                                            <button type="submit" class="btn btn-outline-light btn-block">ИЗПРАТИ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="social-media">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Документация</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Идентичност</a></li>
                        <li><a href="rules.html" title=""><i class="fa fa-angle-double-right"></i>
                            Правила</a></li>
                        <li><a href="code_of_ethics.html" title=""><i class="fa fa-angle-double-right"></i> Етичен
                            кодекс</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Стандарт</a></li>
                        <li><a href="testimonials.html" title=""><i class="fa fa-angle-double-right"></i>
                            Атестати</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Занималня</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Движения</a></li>
                        <li><a href="video.html" title=""><i class="fa fa-angle-double-right"></i>
                            Видео</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Подрастваща сила</a></li>
                        <li><a href="hall_of_strength.html" title=""><i class="fa fa-angle-double-right"></i>
                            Зала на Силата</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Toddler</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Ресурси</h2>
                    <ul class="list-unstyled">
                        <li><a href="calcs/passwd.html" title=""><i class="fa fa-angle-double-right"></i>
                            Калкулатори</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Брошура</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Лого</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Униформа</a></li>
                        <li><a target="_blank" href="http://leanonfat.blogspot.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Блог с рецепти</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <div class="footer-info-single">
                    <a href="http://www.copyscape.com/"><img
                            src="//banners.copyscape.com/img/copyscape-stamp-white-90x90.png" width="90" height="90"
                            border="0" alt="Protected by Copyscape"
                            title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page."/></a>

                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">© 2015-2019 athleticstandard.org</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>