<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="../scripts/controller/movementsController.js"></script>
    <script src="../scripts/controller/viewController.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a href="../index.html"><img src="../static/images/gs_logo_crop.png" id="logo"></a>
        </div>
        <div class="col-sm-11">
            <h2>The Equalizer</h2>
            <h4><sup>you are as strong as your weakest muscle group</sup></h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Home</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-left">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/equalizer.html">Equalizer</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/reports.html">Reports</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FAQtory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/martialLaw.html">Martial Law</a>
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="../views/about.html">Rullz</a>
                        </div>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link " href="../views/charge.html">Charge</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/generals.html">Generals</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/headquarter.html">Headquarter</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="google-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11739.345187353876!2d23.3432768!3d42.6436303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe9930df7b2e0f52c!2sShido+Fitness!5e0!3m2!1sen!2sbg!4v1543419805919"
                        width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="icon-block pb-3">
                        <span class="icon-block__icon">
                            <span class="mbri-letter mbr-iconfont" media-simple="true"></span>
                        </span>
                    <h4 class="icon-block__title align-left mbr-fonts-style display-5">
                        Ambush
                    </h4>
                </div>
                <div class="icon-contacts pb-3">
                    <h5 class="align-left mbr-fonts-style display-7">
                        For offers and cooperation
                    </h5>
                    <p class="mbr-text align-left mbr-fonts-style display-7">
                        Phone: +(359) 876 10 00 39 <br>
                        Email: youremail@mail.com
                    </p>
                </div>
            </div>
            <div data-form-type="formoid">
                <div data-form-alert="" hidden="">
                    Thanks for filling out the form!
                </div>
                <form class="block mbr-form" action="https://formspree.io/bearhold@gmail.com" method="post">
                    <div class="row">
                        <div class="col-md-6 multi-horizontal" data-for="name">
                            <input type="text" class="form-control input" name="name" data-form-field="Name"
                                   placeholder="Your Name" required="" id="name-form4-6x">
                        </div>
                        <div class="col-md-6 multi-horizontal" data-for="phone">
                            <input type="text" class="form-control input" name="phone" data-form-field="Phone"
                                   placeholder="Phone" required="" id="phone-form4-6x">
                        </div>
                        <div class="col-md-12" data-for="email">
                            <input type="text" class="form-control input" name="email" style="margin-top: 10px;"
                                   data-form-field="Email" placeholder="Email" required="" id="email-form4-6x">
                        </div>
                        <div class="col-md-12" data-for="message">
                                <textarea class="form-control input" name="message"
                                          style="margin-top: 10px; resize:none" rows="3" data-form-field="Message"
                                          placeholder="Message" id="message-form4-6x"></textarea>
                        </div>
                        <div class="input-group-btn col-md-12" style="margin-top: 10px;">
                            <button href="" type="submit" class="btn btn-primary btn-form display-4">SEND
                                MESSAGE
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<footer class="footer">&copy;2015-2019 Yavor Grancharov</footer>
</div>
</body>
</html>