<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
</head>
<body>
<div class="container">
    <div class="company">
        <img src="../static/images/gs_logo_crop.png" id="logo">
    </div>
    <h2>Company Rules</h2>
    <h4><sup>the only easy day was yesterday</sup></h4>
    <ul class="nav float-left">
        <li class="nav-item"><a class="nav-link" href="../index.html">Equalizer</a></li>
        <li>&#9733;</li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Grinder</a></li>
        <li>&#9733;</li>-->
        <li class="nav-item"><a class="nav-link" href="../views/martialLaw.html">Martial Law</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/about.html">FAQtory</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="../views/reports.html">Reports</a></li>
    </ul>
    <ul class="nav float-right">
        <li class="nav-item"><a class="nav-link" href="#">Charge</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="#">Generals</a></li>
        <li>&#9733;</li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Boot Up</a></li>
        <li>&#9733;</li>
        <li class="nav-item"><a class="nav-link" href="#">Join the Army</a></li>-->
    </ul>
</div>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Какво да очаквате на първа тренировка?
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    1. Измерване на процент подкожни мазнини чрез метода на калипометрията. Измерването се извършва на място,
                    чрез специален уред измерваме дебелината на кожната гънка на седем точно определени места по тялото.
                    За случая използваме шублер на фирмата Harpenden, <a target="_blank" href="http://www.harpenden-skinfold.com/"><img id="harpenden" src="../static/images/harpenden.png"></a> който е доказал се като стандарт в бранша.
                    Този инструмент се използва от професионалистите в индустрията повече от 40 години. <a href="#">Видео</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>