<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rules</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="../scripts/controller/movementsController.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a href="../index.html"><img src="../static/images/gs_logo_crop.png" id="logo"></a>
        </div>
        <div class="col-sm-11">
            <h2>General Rules</h2>
            <h4><sup>the only easy day was yesterday</sup></h4>
        </div>
    </div>
    <div class="row" style="background-color: #e1d798">
        <div class="col-sm-6">
            <ul class="nav float-left">
                <li class="nav-item"><a class="nav-link" href="../views/equalizer.html">Equalizer</a></li>
                <li>&#9733;</li>
                <!--<li class="nav-item"><a class="nav-link" href="#">Grinder</a></li>
                <li>&#9733;</li>-->
                <li class="nav-item"><a class="nav-link" href="../views/martialLaw.html">Martial Law</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/about.html">FAQtory</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/reports.html">Reports</a></li>
            </ul>
        </div>
        <div class="col-sm-6">
            <ul class="nav float-right">
                <li class="nav-item"><a class="nav-link" href="../views/charge.html">Charge</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="#">Generals</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/headquarter.html">Headquarter</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="../views/gallery.html">Gallery</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="#">Boot Up</a></li>
                <li>&#9733;</li>
                <li class="nav-item"><a class="nav-link" href="#">Join the Army</a></li>-->
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                        Loyal kasjhdasjhdkadkdhkajshdkashdkjashdkaskdhaskdhskahdksadhsakjdhksadkasdkaskjdhksajas
                    </button>
                </h5>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    A loyal customer is everyone who has bought consecutively 10 4 weeks subscriptions, 13 5 weeks
                    subscriptions or 20 6 weeks subscriptions.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                        Recruiter
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    A client who brings a new customer gets 5% discount if he already hasn't reached a maximum discount
                    range of 10%.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree"
                            aria-expanded="true" aria-controls="collapseThree">
                        Deployment
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Companies get 15% discount if minimum of six employees decide to join the army. If less the six
                    shows up
                    everyone of them gets 5% discount.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                            aria-controls="collapseFour">
                        First shot
                    </button>
                </h5>
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                    First appearance is free if the customer decides not to continue with us, otherwise it is
                    considered as his first training session.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true"
                            aria-controls="collapseFour">
                        Diversion
                    </button>
                </h5>
            </div>
            <div id="collapseFive" class="collapse show" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                    Training session can be postponed or canceled at least 6 hours before the start, otherwise it is
                    considered as realized.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true"
                            aria-controls="collapseSix">
                        Smell the air
                    </button>
                </h5>
            </div>
            <div id="collapseSix" class="collapse show" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                    Training session can be postponed or canceled at least 6 hours before the start, otherwise it is
                    considered as realized.
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">&copy;2015-2019 Yavor Grancharov</footer>
</body>
</html>