<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO STRONG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        .error-template {padding: 40px 15px;text-align: center;}
        .error-actions {margin-top:15px;margin-bottom:15px;}
        .error-actions .btn { margin-right:10px; }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    <!--Oops!-->Оппаа!</h1>
                <h2>
                    404 Грешка<!--Not Found--></h2>
                <div class="error-details">
                    Съжаляваме, но страницата, която търсихте не беше намерена! <!--Sorry, an error has occured, Requested page not found!-->
                </div>
                <div class="error-actions">
                    <a href="../index.html" class="btn btn-primary btn-lg">
                        Начало </a><a href="../views/headquarter.html" class="btn btn-outline-secondary btn-lg"> Свържи се </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>