<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GO STRONG</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h2>Foot Soldiers</h2>
            <h4><sup>fear is a reaction, courage is a decision</sup></h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Squad Bay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-left">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/equalizer.html">Grid</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/reports.html">Reports</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link " href="../views/charge.html">Charge</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FAQtory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/martialLaw.html">Martial Law</a>
                            <a class="dropdown-item" href="../views/about.html">Roger That</a>
                            <a class="dropdown-item" href="../views/platoon.html">Foot Soldiers</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/generals.html">Officers</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/headquarter.html">Headquarter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4 text-center">Our Platoon</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/deyan_vasilev.jpg"
                 alt="Deyan Vasilev">
            <h3>Deyan Vasilev</h3>
                <h5>Civil Job : QI Engineer</h5>
                <h5>Rank : Private</h5>
                <h5>Status : <strong><kbd>Operational</kbd></strong></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/georgi_simeonov.jpg"
                 alt="Georgi Simeonov">
            <h3>Georgi Simeonov</h3>
                <h5>Civil Job : Lawyer</h5>
                <h5>Rank : Rookie</h5>
                <h5>Status : <strong><kbd>Operational</kbd></strong></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/daniela_kenanova.jpg"
                 alt="Daniela Kenanova">
            <h3>Daniela Kenanova</h3>
                <h5>Civil Job : Lawyer</h5>
                <h5>Rank : Rookie</h5>
                <h5>Status : <a href="../views/dictionary.html#rollover"><strong><kbd>Rollover</kbd></strong></a></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/lubomir_krustev.jpg"
                 alt="Lubomir Krustev">
            <h3>Lubomir Krustev</h3>
                <h5>Civil Job : Student</h5>
                <h5>Rank : Lieutenant</h5>
                <h5>Status : <strong><kbd>Operational</kbd></strong></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/maria_georgieva.jpg"
                 alt="Maria Georgieva">
            <h3>Maria Georgieva</h3>
                <h5>Civil Job : Insurance Manager</h5>
                <h5>Rank : Recruit</h5>
                <h5>Status : <strong><kbd>Rollover</kbd></strong></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="Ivan Stoyanov">
            <h3>Ivan Stoyanov</h3>
                <h5>Civil Job : Neurologist</h5>
                <h5>Rank : Recruit</h5>
                <h5>Status : <strong><kbd>Operational</kbd></strong></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="../static/images/zdravko_raichev.jpg" alt="Zdravko Raichev">
            <h3>Zdravko Raichev</h3>
                <h5>Civil Job : Marketing Manager</h5>
                <h5>Rank : Corporal</h5>
                <h5>Status : <strong><kbd>Operational</kbd></strong></h5>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <section class="footers bg-light pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="../static/images/logo.png" alt="Logo">
                    </div>
                    <div class="footers-info mt-3">
                        <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now
                            the best.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two"></div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                    <h5>Connect</h5>
                    <div class="social-icons">
                        <a target="_blank" href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"><i id="social-fb"
                                                                                                                                  class="fa fa-facebook-square fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://youtube.com/"><i id="social-tw"
                                                                          class="fa fa-youtube fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://www.instagram.com/gostrongbg/"><i id="social-em"
                                                                                         class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                    <h5>Info </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/dictionary.html">Jargon</a></li>
                        <li><a href="../views/brainwash.html">Be A Recruiter</a></li>
                        <li><a href="../views/terms.html">Terms</a></li>
                        <li><a href="../views/policy.html">Policy</a></li>
                        <li><a href="../views/headquarter.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Explore </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/gear.html">Gear</a></li>
                        <li><a href="../views/drills.html">Drills</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="../views/art.html">Military Art</a></li>
                        <li><a href="#">Wallpapers</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted text-center">Copyright &copy;2015-2019  Army Strong</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>