<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="../scripts/controller/movementsController.js"></script>
    <script src="../scripts/controller/viewController.js"></script>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <div class="col-sm-1">
            <a href="../index.html"><img src="../static/images/gs_logo_crop.png" id="logo"></a>
        </div>
        <div class="col-sm-11">
            <h2>Platoon</h2>
            <h4><sup>fear is a reaction, courage is a decision</sup></h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Squad Bay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-left">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/equalizer.html">Equalizer</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/reports.html">Reports</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FAQtory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/martialLaw.html">Martial Law</a>
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="../views/about.html">Roger That</a>
                        </div>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link " href="../views/charge.html">Charge</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/generals.html">Generals</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/headquarter.html">Headquarter</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container">

    <!-- Introduction Row -->
    <h1 class="my-4">About Us
        <small>It's Nice to Meet You!</small>
    </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, explicabo dolores ipsam aliquam inventore
        corrupti eveniet quisquam quod totam laudantium repudiandae obcaecati ea consectetur debitis velit facere
        nisi expedita vel?</p>

    <!-- Team Members Row -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="my-4">Our Team</h2>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
            <img class="rounded-circle img-fluid d-block mx-auto" src="http://placehold.it/200x200" alt="">
            <h3>John Smith
                <small>Job Title</small>
            </h3>
            <p>What does this team member to? Keep it short! This is also a great spot for social links!</p>
        </div>
    </div>
</div>
<div class="container">
    <section class="footers bg-light pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="http://velikorodnov.com/html/autotrader/images/logo.png" alt="Logo"
                             style="width:120px;">
                    </div>
                    <div class="footers-info mt-3">
                        <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now
                            the best.</p>
                    </div>
                    <div class="social-icons">
                        <a target="_blank" href="https://www.facebook.com/"><i id="social-fb"
                                                                               class="fa fa-facebook-square fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://youtube.com/"><i id="social-tw"
                                                                          class="fa fa-youtube fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://plus.google.com/"><i id="social-gp"
                                                                              class="fa fa-google-plus-square fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://www.instagram.com/"><i id="social-em"
                                                                                class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two">

                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                    <h5>Info </h5>
                    <ul class="list-unstyled">
                        <li><a href="maintenance.html">Register Now</a></li>
                        <li><a href="contact.html">Advice</a></li>
                        <li><a href="about.html">Videos</a></li>
                        <li><a href="about.html">Blog</a></li>
                        <li><a href="about.html">Services</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Explore </h5>
                    <ul class="list-unstyled">
                        <li><a href="maintenance.html">News</a></li>
                        <li><a href="contact.html">Sitemap</a></li>
                        <li><a href="about.html">Testimonials</a></li>
                        <li><a href="about.html">Feedbacks</a></li>
                        <li><a href="about.html">User Agreement</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
                    <h5>Company </h5>
                    <ul class="list-unstyled">
                        <li><a href="maintenance.html">Career</a></li>
                        <li><a href="about.html">For Parters</a></li>
                        <li><a href="about.html">Terms</a></li>
                        <li><a href="about.html">Policy</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
    <!--<section class="disclaimer bg-light border">
        <div class="container">
            <div class="row ">
                <div class="col-md-12 py-2">
                    <small>
                        Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
                    </small>
                </div>
            </div>
        </div>
    </section>-->
    <section class="copyright border">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted text-center">Copyright &copy;2015-2019 Yavor Grancharov</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>