<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,700%7CCrete+Round' type='text/css'
          media='all'/>
    <title>Политика за поверителност</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="canonical" href="https://www.athleticstandard.org/views/policy.html"/>
    <link rel="stylesheet" href="../styles/styles.css" media="all">
    <link rel="stylesheet" href="../styles/libs/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../styles/libs/font-awesome.min.css" type="text/css" media="all">
</head>
<body>
<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->

    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->

            <!-- Logo -->
            <div class="logo">
                <a href="../index.html">
                    <h1>GO STRONG</h1>
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="../index.html">
                                    <img src="../static/images/print_ready_logo%20copy.png" width="300" height="auto"
                                         alt="main-logo">
                                </a>
                            </div>
                            <!-- End Logo -->

                            <!-- Navigation -->
                            <div class="main-menu">
                                <nav>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="../index.html">Начало</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="blog.html">Блог</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog.html">Стандартен изглед</a>
                                                </li>
                                                <li>
                                                    <a href="blog_grid.html">Решетъчен изглед</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="price.html">Цени</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="video.html">Видео</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="video.html">Стандартен изглед</a>
                                                </li>
                                                <li>
                                                    <a href="video_grid.html">Решетъчен изглед</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about.html">За нас</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контакти</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#/">Документация</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="404.html">Идентичност</a>
                                                </li>
                                                <li>
                                                    <a href="rules.html">Правила</a>
                                                </li>
                                                <li>
                                                    <a href="code_of_ethics.html">Етичен кодекс</a>
                                                </li>
                                                <li>
                                                    <a href="404.html">Стандарт</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="testimonials.html">Атестати</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Navigation -->

                            <!-- Socials -->
                            <div class="socials">
                                <a target="_blank" href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                   title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                   title="You Tube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a target="_blank" href="http://leanonfat.blogspot.com/" title="Blogger">
                                    <i class="fa fa-cutlery"></i>
                                </a>
                                <a href="#/" title="Subscribe">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                                <a href="#/" title="Language">
                                    <i id="lang" class="fa fa-globe"></i>
                                </a>
                                <a href="#/" title="Search this site">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                      method="get" accept-charset="utf-8" target="_self">
                                    <input type="text" placeholder="Search ..." name="query"/>
                                    <input type="hidden" name="si" value="30222917">
                                    <input type="hidden" name="pid" value="r">
                                    <input type="hidden" name="n" value="0">
                                    <input type="hidden" name="_charset_" value="">
                                    <input type="hidden" name="bcd" value="&#247;">
                                </form>
                            </div>

                            <div class="box-subscribe">
                                <input name="email" type="text" placeholder="Абонирай се с е-поща" id="subscribe_email">
                            </div>
                            <div class="box-subscribe">
                                <div style="transform:scale(0.594);transform-origin:0 0; margin-top: 0.1px" class="g-recaptcha"
                                     data-sitekey="6Ldg2pYUAAAAAJAvcm5rIdhZaU3kpydbkoDHm5uP"></div>
                            </div>

                            <!--<div class="copyright">-->
                                <!--<p>-->
                                    <!--&copy;2015-2019 athleticstandard.org-->
                                <!--</p>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-offset-3">
                <div class="posts">
                    <div class="posts-inner">
                        <article class="post">
                            <div class="post-header">
                                <h2 class="title"><span>Политика за поверителност</span></h2>
                                <hr>
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <p>
                                        Настоящият документ съдържа информация по отношение типа лични данни,
                                        събирани и обработвани от athleticstandard.org.
                                    </p>
                                    <p>
                                        НАЧИНИ ЗА СЪБИРАНЕ НА ДАННИ
                                    </p>
                                    <ol>
                                        <li>
                                            Чрез (Форма за) Коментари<br>
                                            athleticstandard.org разрешава коментари под почти всички свои статии и
                                            публикации. С цел предотвратяване на спам, athleticstandard.org
                                            модерира изпратените коментари.
                                        </li>
                                        <li>
                                            Чрез (Форма за) Контакт<br>
                                            Всеки Ползвател се свързва с athleticstandard.org посредством формата за контакт.
                                        </li>
                                        <li>
                                            Чрез (Форма за) Абониране<br>
                                            Всеки ползвател може да се абонира за новини посредством формата за абониране.
                                        </li>
                                    </ol>
                                    <p>
                                        СЪБИРАНЕ НА ДАННИ
                                    </p>
                                    <p>
                                        Сайтът събира и обработва следните данни:
                                    </p>
                                    <ol>
                                        <li>
                                            Посочените във формата за коментари данни (име, е-поща в Gravatar, текстово съобщение);
                                        </li>
                                        <li>
                                            Посочените във формата за контакт данни (име, е-поща в Gravatar, текстово
                                            събщение)
                                        </li>
                                        <li>
                                            Посочената във формата за абониране е-поща.
                                        </li>
                                    </ol>
                                    <p>
                                        Сайтът не събира и не обработва лични данни като:
                                    </p>
                                    <ol>
                                        <li>
                                            ЕГН, номер на лична карта, адрес, телефонен номер, банкова сметка и др.;
                                        </li>
                                        <li>
                                            Лични данни по смисъла на на чл. 9 от Общия регламент за защита на
                                            личните данни.
                                        </li>
                                    </ol>
                                    <p>
                                        ЦЕЛИ ЗА СЪБИРАНЕ И ОБРАБОТВАНЕ НА ЛИЧНИ ДАННИ
                                    </p>
                                    <ol>
                                        <li>
                                            Регистрация за нашия безплатен бюлетин.
                                        </li>
                                        <li>
                                            Предоставяне на оферти.
                                        </li>
                                        <li>
                                            Сключване на договор.
                                        </li>
                                        <li>
                                            Статистически цели.
                                        </li>
                                    </ol>
                                    <p>
                                        ИЗПОЛЗВАНЕ НА ЛИЧНИ ДАННИ
                                    </p>
                                    <ol>
                                        <li>
                                            Изпращане на посочената от Ползвателя е-поща съобщения за новини, когато той
                                            се е абонирал за такива чрез формата за абониране (всяко,
                                            изпратено от нас електронно
                                            съобщение е придружено с възможност за отписване от новини).
                                        </li>
                                        <li>
                                            Поддържане сигурността на сайта и предотвратяване на измами.
                                        </li>
                                        <li>
                                            Проверка за спазването на правилата и условията за ползване на сайта.
                                        </li>
                                    </ol>
                                    <p>
                                        СРОК ЗА СЪХРАНЕНИЕ НА ЛИЧНИ ДАННИ
                                    </p>
                                    <ul>
                                        <li>
                                            Вашите данни  ще бъдат съхранявани до момента, в който ни задължава закона или
                                            до изчерпване на нашите взаимоотношения свързани с доставянето на услугата
                                            Личен треньор.
                                        </li>
                                        <li>
                                            В момента, в който оттеглите желанието си да бъдете наш клиент, Вашите данни ще бъдат изтрити.
                                        </li>
                                    </ul>
                                    <p>
                                        ПРАВА НА ПОЛЗВАТЕЛЯ
                                    </p>
                                    <p>Правата на Ползвателя на сайта, по отношение на личните му данни включват:</p>
                                    <ol>
                                        <li>
                                            Информираност.
                                        </li>
                                        <li>
                                            Достъп до собствените му данни.
                                        </li>
                                        <li>
                                            Коригиране (ако данните са неточни).
                                        </li>
                                        <li>
                                            Изтриване на личните данни на Ползвателя (право „да бъде забравен“).
                                        </li>
                                        <li>
                                            Възражение спрямо обработването на личните данни на Ползвателя.
                                        </li>
                                        <li>
                                            Право на защита по съдебен или административен ред, в случай, че правата на
                                            субекта на данни са били нарушени.
                                        </li>
                                    </ol>
                                    <p>
                                        МЕРКИ ЗА СИГУРНОСТ НА ЛИЧНИТЕ ВИ ДАННИ
                                    </p>
                                    <p>
                                        СЪГЛАСИЕ ЗА ОБРАБОТКА НА ЛИЧНИ ДАННИ
                                    </p>
                                </div>
                                <!-- End The Content -->
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Контакти</span></h2>
                                    <ul>
                                        <li>
                                            Тел: +359 876 10 00 39 - Явор
                                            Тел: +359 888 03 04 24 - Ели
                                        </li>
                                        <li>
                                            Е-Поща: mail@athleticstandard.org
                                        </li>
                                        <li>
                                            Адрес: ул. „Проф. д-р Иван Странски“ 61, 1700 Студентски Комплекс, София
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Занималня</span></h2>
                                    <ul>
                                        <li><a href="404.html">Движения</a></li>
                                        <li><a href="strength_hall.html">Зала на Силата</a></li>
                                        <li><a href="sitemap.html">Карта на сайта</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Ресурси</span></h2>
                                    <ul>
                                        <li><a href="calculators.html">Калкулатори</a></li>
                                        <li><a href="404.html">Брошура</a></li>
                                        <li><a href="404.html">Униформа</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="copyright">
                                    <p>&copy;2015-2019 <br>athleticstandard.org</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    всички права запазени |
                    <a href="terms.html">условия за ползване</a> |
                    <a href="policy.html">политика за поверителност</a> |
                    &copy;protected by <a target="_blank" href="http://www.copyscape.com/"
                                          title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page.">Copyscape</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script src="../js/libs/jquery-1.12.4.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../js/js/bootstrap.min.js"></script>
<script src="../js/libs/masonry.pkgd.min.js"></script>
<script src="../js/libs/imagesloaded.pkgd.min.js"></script>
<script src="https://www.google.com/recaptcha/api.js"></script>
<script src="../js/models/magnificPopup.js"></script>
<script src="../js/controller/subscribeController.js"></script>
<script src="../js/services/subscribeService.js"></script>
<script src="../js/services/remoteService.js"></script>
<script>
    document.getElementById("lang").addEventListener("click", function (e) {
        e.preventDefault();
        window.location.href = ("../en/views/art_rules_en.html");
    });
</script>
<script>
    subscribeController.subscribe();
</script>
</body>
</html>