<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>ATHLETIC STANDARD</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png" />
    <link
      rel="canonical"
      href="https://www.athleticstandard.org/views/price.html"
    />
    <link rel="stylesheet" href="../styles/styles.min.css" media="all" />
    <link
      rel="stylesheet"
      href="../styles/libs/bootstrap.min.css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="../styles/libs/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <style id="antiClickjack">
      body {
        display: none !important;
      }
    </style>
    <script type="text/javascript">
      if (self === top) {
        let antiClickjack = document.getElementById('antiClickjack');
        antiClickjack.parentNode.removeChild(antiClickjack);
      } else {
        top.location = self.location;
      }
    </script>
  </head>

  <body class="single">
    <!-- Wrapper Site -->
    <div id="main-content">
      <!-- Preload -->
      <div id="preload">
        <div class="kd-bounce">
          <div></div>
          <div></div>
        </div>
      </div>
      <!-- Preload -->

      <!-- Mobile Menu -->
      <div class="mobile">
        <div class="container">
          <!-- Mobile -->
          <div class="menu-mobile">
            <span class="item item-1"></span>
            <span class="item item-2"></span>
            <span class="item item-3"></span>
          </div>
          <!-- End Mobile -->

          <!-- Logo -->
          <div class="logo">
            <a href="../index.html">
              <h1>GO STRONG</h1>
            </a>
          </div>
          <!-- End Logo -->
        </div>
      </div>
      <div class="hide-menu"></div>
      <!-- End Mobile Menu -->

      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="header affix">
              <div class="table">
                <div class="table-cell">
                  <!-- Logo -->
                  <div class="logo">
                    <a href="../index.html">
                      <img
                        src="../static/images/logo_american_flag.png"
                        width="60"
                        height="auto"
                        alt="main-logo"
                      />
                    </a>
                  </div>
                  <!-- End Logo -->

                  <!-- Navigation -->
                  <div class="main-menu">
                    <nav>
                      <ul class="menu-list">
                        <li>
                          <a href="blog_grid.html">Блог</a>
                        </li>
                        <li>
                          <a href="price.html">Цени</a>
                        </li>
                        <li>
                          <a href="video_grid.html">Видео</a>
                        </li>
                        <li>
                          <a href="about.html">За нас</a>
                        </li>
                        <li>
                          <a href="testimonials.html">Отзиви</a>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="#/">Ресурси</a>
                          <ul class="sub-menu">
                            <li><a href="drills.html">Движения</a></li>
                            <li>
                              <a href="calculators.html">Калкулатори</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="contact.html">Контакти</a>
                        </li>
                        <li class="menu-item-has-children">
                          <a href="#/">Документация</a>
                          <ul class="sub-menu">
                            <li>
                              <a href="identity.html">Мисия и ценности</a>
                            </li>
                            <li>
                              <a href="rules.html">Устав</a>
                            </li>
                            <li>
                              <a href="code_of_ethics.html">Етичен кодекс</a>
                            </li>
                            <li>
                              <a href="standards.html">Стандарт</a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- End Navigation -->

                  <!-- Socials -->
                  <div class="socials">
                    <a
                      target="_blank"
                      href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                      title="Facebook"
                    >
                      <i class="fa fa-facebook"></i>
                    </a>
                    <a
                      target="_blank"
                      href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                      title="You Tube"
                    >
                      <i class="fa fa-youtube-play"></i>
                    </a>
                    <a
                      target="_blank"
                      href="http://leanonfat.blogspot.com/"
                      title="Blogger"
                    >
                      <i class="fa fa-cutlery"></i>
                    </a>
                    <a href="#/" title="Subscribe">
                      <i class="fa fa-newspaper-o"></i>
                    </a>
                    <a href="#/" title="Language">
                      <i id="lang" class="fa fa-globe"></i>
                    </a>
                    <a href="#/" title="Search this site">
                      <i class="fa fa-search"></i>
                    </a>
                  </div>
                  <!-- End Socials -->

                  <div class="box-search">
                    <form
                      role="search"
                      id="searchform"
                      action="https://search.freefind.com/find.html"
                      method="get"
                      accept-charset="utf-8"
                      target="_self"
                    >
                      <input
                        type="text"
                        placeholder="Търсене ..."
                        name="query"
                      />
                      <input type="hidden" name="si" value="30222917" />
                      <input type="hidden" name="pid" value="r" />
                      <input type="hidden" name="n" value="0" />
                      <input type="hidden" name="_charset_" value="" />
                      <input type="hidden" name="bcd" value="&#247;" />
                    </form>
                  </div>

                  <div class="box-subscribe">
                    <input
                      name="email"
                      type="text"
                      placeholder="Абонирай се с е-поща"
                      id="subscribe_email"
                    />
                  </div>
                  <div class="box-subscribe">
                    <div
                      style="
                        transform: scale(0.594);
                        transform-origin: 0 0;
                        margin-top: 0.1px;
                      "
                      class="g-recaptcha"
                      data-sitekey="6Ldg2pYUAAAAAJAvcm5rIdhZaU3kpydbkoDHm5uP"
                    ></div>
                  </div>

                  <!--<div class="copyright">-->
                  <!--<p>-->
                  <!--&copy;2015-2019 athleticstandard.org-->
                  <!--</p>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-9 col-md-offset-3">
            <div class="posts">
              <div class="posts-inner">
                <article class="post">
                  <div class="post-header">
                    <h2 class="title"><span>АБОНАМЕНТИ и ЦЕНИ</span></h2>
                    <h5 style="text-align: center">
                      за повече подробности прочети
                      <a href="rules.html" style="text-decoration: underline"
                        >правилата</a
                      >
                      на клуба
                    </h5>
                    <hr />
                  </div>

                  <div class="post-content">
                    <!-- The Content -->
                    <div class="the-excerpt">
                      <div
                        class="row flex-items-xs-middle flex-items-xs-center"
                      >
                        <div class="col-md-12 col-lg-12">
                          <div class="card text-xs-center">
                            <div class="card-header">
                              <h3 class="display-4">Бюджетен</h3>
                            </div>
                            <div class="card-block">
                              <h5 class="card-title">
                                4 Седмичен абонамент
                                <br />
                              </h5>
                              <ul class="list-group">
                                <li class="list-group-item">
                                  4 тренировкии
                                  <span class="price" style="float: right"
                                    >110лв.</span
                                  >
                                  <br />
                                  <h6>1 път седмично</h6>
                                </li>
                                <li class="list-group-item">
                                  8 тренировкии
                                  <span class="price" style="float: right"
                                    >185лв.</span
                                  >
                                  <br />
                                  <h6>2 пъти седмично</h6>
                                </li>
                                <li class="list-group-item">
                                  12 тренировкии
                                  <span class="price" style="float: right"
                                    >235лв.</span
                                  >
                                  <br />
                                  <h6>3 пъти седмично</h6>
                                </li>
                                <li class="list-group-item" hidden>
                                  16 тренировкии
                                  <span class="price" style="float: right"
                                    >285лв.</span
                                  >
                                  <br />
                                  <h6>4 пъти седмично</h6>
                                </li>
                              </ul>
                            </div>
                            <div
                              class="panel panel-default"
                              style="cursor: pointer"
                            >
                              <div
                                class="panel-heading accordion-toggle question-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#question0"
                              >
                                <h5 class="panel-title">
                                  <a href="/#" class="ing">Подробности</a>
                                </h5>
                              </div>
                              <div
                                id="question0"
                                class="panel-collapse collapse"
                                style="height: 0px"
                              >
                                <div class="panel-body">
                                  <h5>
                                    <span class="label label-primary"></span>
                                  </h5>

                                  <p>
                                    Продължителността на абонамента е 28 дни от
                                    неговото начало, не се полага отстъпка за
                                    "Семейство" и "Лоялен", както и ако клиент
                                    реши да пропусне тренировка губи същата
                                    независимо от причините довели до неговото
                                    отсъствие.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                          <div class="card text-xs-center">
                            <div class="card-header">
                              <h3 class="display-4">Основен</h3>
                            </div>
                            <div
                              class="card-block"
                              style="border: 1px solid red"
                            >
                              <h5 class="card-title">
                                5 Седмичен абонамент
                                <br />
                                <!--<h6>75% warranty*</h6>-->
                              </h5>
                              <ul class="list-group">
                                <li class="list-group-item">
                                  4 тренировкии
                                  <span class="price" style="float: right"
                                    >125лв.</span
                                  >
                                  <br />
                                  <h6>1 път седмично</h6>
                                </li>
                                <li class="list-group-item">
                                  8 тренировкии
                                  <span class="price" style="float: right"
                                    >215лв.</span
                                  >
                                  <br />
                                  <h6>2 пъти седмично</h6>
                                </li>
                                <li class="list-group-item">
                                  12 тренировкии
                                  <span class="price" style="float: right"
                                    >285лв.</span
                                  >
                                  <br />
                                  <h6>3 пъти седмично</h6>
                                </li>
                                <li class="list-group-item" hidden>
                                  16 тренировкии
                                  <span class="price" style="float: right"
                                    >340лв.</span
                                  >
                                  <br />
                                  <h6>4 пъти седмично</h6>
                                </li>
                              </ul>
                            </div>
                            <div
                              class="panel panel-default"
                              style="cursor: pointer"
                            >
                              <div
                                class="panel-heading accordion-toggle question-toggle collapsed"
                                data-toggle="collapse"
                                data-target="#question1"
                              >
                                <h5 class="panel-title">
                                  <a href="/#" class="ing">Подробности</a>
                                </h5>
                              </div>
                              <div
                                id="question1"
                                class="panel-collapse collapse"
                                style="height: 0px"
                              >
                                <div class="panel-body">
                                  <h5>
                                    <span class="label label-primary"></span>
                                  </h5>

                                  <p>
                                    Продъжителността на абонамента е 35 дни от
                                    неговото начало, тоест в рамките на този
                                    период клиент може да пропусне една седмица
                                    тренировки.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-12 col-lg-12">
                          <div class="card text-xs-center">
                            <div class="card-header">
                              <h3 class="display-4">Удължен</h3>
                            </div>
                            <div class="card-block">
                              <h5 class="card-title">
                                6 Седмичен абонамент
                                <br />
                                <!--<h6>50% warranty*</h6>-->
                              </h5>
                              <ul class="list-group">
                                <li class="list-group-item">
                                  4 тренировкии
                                  <span class="price" style="float: right"
                                    >145лв.</span
                                  >
                                  <br />
                                  <h6>1 път седмично</h6>
                                </li>
                                <li class="list-group-item">
                                  8 тренировкии
                                  <span class="price" style="float: right"
                                    >245лв.</span
                                  >
                                  <br />
                                  <h6>2 пъти седмично</h6>
                                </li>
                                <li class="list-group-item">
                                  12 тренировкии
                                  <span class="price" style="float: right"
                                    >330лв.</span
                                  >
                                  <br />
                                  <h6>3 пъти седмично</h6>
                                </li>
                                <li class="list-group-item" hidden>
                                  16 тренировкии
                                  <span class="price" style="float: right"
                                    >385лв.</span
                                  >
                                  <br />
                                  <h6>4 пъти седмично</h6>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel panel-default" style="cursor: pointer">
                        <div
                          class="panel-heading accordion-toggle question-toggle collapsed"
                          data-toggle="collapse"
                          data-target="#question2"
                        >
                          <h5 class="panel-title">
                            <a href="/#" class="ing">Подробности</a>
                          </h5>
                        </div>
                        <div
                          id="question2"
                          class="panel-collapse collapse"
                          style="height: 0px"
                        >
                          <div class="panel-body">
                            <h5>
                              <span class="label label-primary"></span>
                            </h5>

                            <p>
                              Продъжителността на абонамента е 42 дни от
                              неговото начало, тоест в рамките на този период
                              клиент може да пропусне две седмици тренировки.
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <br />
                    <h2>Стойност</h2>
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead>
                          <tr>
                            <th class="">Услуга</th>
                            <th class="">Еднократна</th>
                            <th class="">Единична</th>
                            <th class="">Бюджетен</th>
                            <th class="">Основен</th>
                            <th class="">Удължен</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td class="ption">Тренировка</td>
                            <td class="">85<small>лв.</small></td>
                            <td class="">37<small>лв.</small></td>
                            <td class=""><i class="fa fa-check"></i></td>
                            <td class=""><i class="fa fa-check"></i></td>
                            <td class=""><i class="fa fa-check"></i></td>
                          </tr>
                          <tr>
                            <td class="option">Продължителност</td>
                            <td class="">90<small>мин.</small></td>
                            <td class="">60<small>мин.</small></td>
                            <td class="">60<small>мин.</small></td>
                            <td class="">60<small>мин.</small></td>
                            <td class="">60<small>мин.</small></td>
                          </tr>
                          <tr>
                            <td class="option">Калиперометрия</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                          </tr>
                          <tr>
                            <td class="option">Силов баланс</td>
                            <td>-</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                          </tr>
                          <tr>
                            <td class="option">Хранителен план</td>
                            <td>-</td>
                            <td>по заявка</td>
                            <td>по заявка</td>
                            <td>по заявка</td>
                            <td>по заявка</td>
                          </tr>
                          <tr>
                            <td class="option">Мобилност</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                          </tr>
                          <tr>
                            <td class="option">Блог с рецепти</td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                            <td><i class="fa fa-check"></i></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <button
                      type="button"
                      class="btn btn-block btn-danger"
                      data-toggle="modal"
                      data-target="#contactUs"
                    >
                      <span class="reserve">ЗАЯВИ ПРОБНА ТРЕНИРОВКА</span>
                    </button>
                  </div>
                </article>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Wrapper Site -->

    <!-- Footer -->
    <footer id="footer" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9 col-md-offset-3">
            <div class="footer-inner">
              <div class="footer-widgets">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="widget">
                      <h2 class="title"><span>Контакти</span></h2>
                      <ul>
                        <li>
                          Тел: +359 876 10 00 39 - Явор Тел: +359 888 03 04 24 -
                          Ели
                        </li>
                        <li>Е-Поща: mail@athleticstandard.org</li>
                        <li>
                          Адрес: ул. „Проф. д-р Иван Странски“ 61, 1700
                          Студентски Комплекс, София
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="widget">
                      <h2 class="title"><span>Занималня</span></h2>
                      <ul>
                        <li><a href="gallery.html">Галерия</a></li>
                        <li><a href="sitemap.html">Карта на сайта</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-4">
                    <div class="widget">
                      <h2 class="title"><span>Идентичност</span></h2>
                      <ul>
                        <li><a href="gear.html">Униформа</a></li>
                        <li>
                          <a href="strength_hall.html">Зала на Силата</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-sm-12">
                    <div class="copyright">
                      <p>&copy;2015-2020 <br />athleticstandard.org</p>
                    </div>
                  </div>
                </div>
              </div>
              всички права запазени |
              <a href="terms.html">условия за ползване</a> |
              <a href="policy.html">политика за поверителност</a> |
              &copy;protected by
              <a
                target="_blank"
                href="http://www.copyscape.com/"
                title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page."
                >Copyscape</a
              >
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- End Footer -->
    <div class="modal" id="contactUs">
      <div class="modal-dialog modal-md">
        <div class="modal-content">
          <!-- Modal body -->
          <div class="modal-body">
            <div class="col-md-12">
              <h4>Адрес</h4>
              <div class="text-left">
                <i class="fa fa-address-card"></i> ул. "Проф. д-р Иван Странски"
                61, 1700 Студентски Комплекс, София
              </div>
              <hr />
            </div>
            <div class="col-md-12">
              <h4>Номера за връзка</h4>
              <div class="text-left">
                <i class="fa fa-phone-square"></i> Явор -
                <a href="tel:0876-10-00-39" data-rel="external"
                  >0876 10 00 39</a
                >
              </div>
              <div class="text-left">
                <i class="fa fa-phone-square"></i> Елица -<a
                  href="tel:0888-03-04-24"
                  data-rel="external"
                  >0888 03 04 24</a
                >
              </div>
              <hr />
            </div>
            <div class="col-md-12">
              <h4>Е-поща</h4>
              <div class="text-left">
                <i class="fa fa-envelope-o"></i>
                <a href="contact.html"> mail@athleticstandard.org</a>
              </div>
            </div>
          </div>
          <button
            style="border-radius: 0 !important; border: none"
            class="btn btn-block btn-danger"
            data-dismiss="modal"
          >
            &times;
          </button>
        </div>
      </div>
    </div>
    <!-- Scripts -->
    <script src="../js/libs/jquery-1.12.4.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../js/js/bootstrap.min.js"></script>
    <script src="../js/libs/masonry.pkgd.min.js"></script>
    <script src="../js/libs/imagesloaded.pkgd.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="../js/models/magnificPopup.min.js"></script>
    <script src="../js/controller/subscribeController.min.js"></script>
    <script src="../js/services/subscribeService.min.js"></script>
    <script src="../js/services/remoteService.min.js"></script>
    <script>
      document.getElementById('lang').addEventListener('click', function (e) {
        e.preventDefault();
        window.location.href = '../en/views/art_index_en.html';
      });
    </script>
    <script>
      subscribeController.subscribe();
    </script>
    <!-- End Scripts -->
  </body>
</html>
