<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,700%7CCrete+Round' type='text/css'
          media='all'/>
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../styles/styles.css" media="all">
    <link rel="stylesheet" href="../styles/libs/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../styles/libs/font-awesome.min.css" type="text/css" media="all">
</head>
<body>
<!-- Wrapper Site -->
<div id="main-content">

    <!-- Preload -->
    <div id="preload">
        <div class="kd-bounce">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Preload -->

    <!-- Mobile Menu -->
    <div class="mobile">
        <div class="container">
            <!-- Mobile -->
            <div class="menu-mobile">
                <span class="item item-1"></span>
                <span class="item item-2"></span>
                <span class="item item-3"></span>
            </div>
            <!-- End Mobile -->

            <!-- Logo -->
            <div class="logo">
                <a href="../index.html">
                    <h1>GO STRONG</h1>
                </a>
            </div>
            <!-- End Logo -->
        </div>
    </div>
    <div class="hide-menu"></div>
    <!-- End Mobile Menu -->

    <div class="container">
        <div class="row">

            <div class="col-md-3">
                <div class="header affix">
                    <div class="table">
                        <div class="table-cell">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="../index.html">
                                    <img src="../static/images/print_ready_logo%20copy.png" width="300" height="auto"
                                         alt="main-logo">
                                </a>
                            </div>
                            <!-- End Logo -->

                            <!-- Navigation -->
                            <div class="main-menu">
                                <nav>
                                    <ul class="menu-list">
                                        <li>
                                            <a href="../index.html">Начало</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="blog.html">Блог</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="blog.html">Стандартен изглед</a>
                                                </li>
                                                <li>
                                                    <a href="blog_grid.html">Решетъчен изглед</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="price.html">Цени</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="video.html">Видео</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="video.html">Стандартен изглед</a>
                                                </li>
                                                <li>
                                                    <a href="video_grid.html">Решетъчен изглед</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="about.html">За нас</a>
                                        </li>
                                        <li>
                                            <a href="contact.html">Контакти</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="single.html">Документация</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="404.html">Идентичност</a>
                                                </li>
                                                <li>
                                                    <a href="rules.html">Правила</a>
                                                </li>
                                                <li>
                                                    <a href="code_of_ethics.html">Етичен кодекс</a>
                                                </li>
                                                <li>
                                                    <a href="404.html">Стандарт</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="testimonials.html">Атестати</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- End Navigation -->

                            <!-- Socials -->
                            <div class="socials">
                                <a target="_blank" href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                   title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a target="_blank" href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                   title="You Tube">
                                    <i class="fa fa-youtube-play"></i>
                                </a>
                                <a target="_blank" href="http://leanonfat.blogspot.com/" title="Blogger">
                                    <i class="fa fa-cutlery"></i>
                                </a>
                                <a href="#/" title="Subscribe">
                                    <i class="fa fa-newspaper-o"></i>
                                </a>
                                <a href="#/" title="Language">
                                    <i id="lang" class="fa fa-globe"></i>
                                </a>
                                <a href="#/" title="Search this site">
                                    <i class="fa fa-search"></i>
                                </a>
                            </div>
                            <!-- End Socials -->

                            <div class="box-search">
                                <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                      method="get" accept-charset="utf-8" target="_self">
                                    <input type="text" placeholder="Search ..." name="query"/>
                                    <input type="hidden" name="si" value="30222917">
                                    <input type="hidden" name="pid" value="r">
                                    <input type="hidden" name="n" value="0">
                                    <input type="hidden" name="_charset_" value="">
                                    <input type="hidden" name="bcd" value="&#247;">
                                </form>
                            </div>

                            <div class="box-subscribe">
                                <form class="block mbr-form"
                                      action="https://formspree.io/athleticstandard.org@gmail.com" method="post">
                                    <input type="text" class="form-control input" name="email" data-form-field="Email"
                                           placeholder="Абонирай се с е-поща" required="">
                                </form>
                            </div>

                            <div class="copyright">
                                <p>
                                    &copy;2015-2019 athleticstandard.org
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-9 col-md-offset-3">
                <div class="posts">
                    <div class="posts-inner">
                        <article class="post">
                            <div class="post-header">
                                <h2 class="title"><span>Правила на клуба</span></h2>
                                <hr>
                            </div>
                            <div class="post-content">

                                <!-- The Content -->
                                <div class="the-excerpt">
                                    <h3>Провеждане, продължителност и прекратяване</h3>
                                    <p class="lead">Провеждане</p>
                                    <ul>
                                        <li>По подразбиране всички тренировки се провеждат в "двойка". В рамките на
                                            часа треньор може да бъде с не повече от двама трениращи. Това позволява да
                                            не се губи трансфер на информация, тъй като треньорът има достатъчно време,
                                            в почивката между сериите на единия трениращ да насочи цялото си внимание
                                            към другия. Има ползи и за самите трениращи, които могат да видят
                                            изпъляваното от техния тренировъчен партньор движение, обратната връзка на
                                            треньора, като по този начин добият по-ясна представа за
                                        </li>
                                        <li>Задължение на треньора, а не на трениращите е да групира двойките. В час, в
                                            който треньор не е успял да направи това, трениращия е сам, без това да го
                                            натоварва с допълнителни финансови задължения към клуба.
                                        </li>
                                        <li>
                                            Тренировки в тройка са изключение. Със съгласието на всички трениращи в
                                            конкретния час и по преценка на треньора, може да бъде сформирана група
                                            от трима трениращи.
                                        </li>
                                        <li>
                                            По подразбиране се предлага тренировка в двойка.
                                        </li>
                                    </ul>
                                    <p class="lead">Продължителност</p>
                                    <ul>
                                        <li>Тренировъните сесии, с абонамент или единични, са с продължителност 60
                                            (шестдесет) минути. Изключение
                                            правят еднократните, които са с продължителност 90 (деветдесет)
                                            минути.
                                        </li>
                                        <li>Клиент закъснял за сесия получава само оставащата част от часа си.</li>
                                        <li>Треньор закъснял за сесия, дължи на клиента времето еквивалентно на времето
                                            на закъснението.
                                        </li>
                                    </ul>
                                    <h3>Заплащане, отмяна, отстъпки и стойност</h3>
                                    <p class="lead">Заплащане</p>
                                    <ul>
                                        <li>Всички цени са крайни и не подлежат на предоговаряне.</li>
                                        <li>Абонамент се заплаща в началото му, в цял размер, най-късно на втора
                                            тренировъчна сесия.
                                        </li>
                                        <li>На първата си, опознавателна тренировъчна сесия клиентът не дължи суми ако
                                            реши да не продължи
                                            да тренира с нас, в противен случай сесията се зачита като първа тренировка
                                            от бъдещия абонамент
                                            и се таксува съгласно тарифата му.
                                        </li>
                                        <li>За цени за тренировка в единица се обърнете към личния Си треньор или на
                                            телефони:
                                        </li>
                                        <ul>
                                            <li>0876 10 00 39 Явор</li>
                                            <li>0888 03 04 24 Ели</li>
                                        </ul>
                                    </ul>
                                    <p class="lead">Отмяна</p>
                                    <ul>
                                        <li>Тренировъчна сесия се отменя минимум 6 (шест) часа преди нейното провеждане
                                            в противен случай се
                                            отбелязва като проведена. Горното не влиза в сила в случай на заболяване или
                                            друго
                                            възпрепятстващо
                                            непредвидимо обстоятелство, но не повече от един път в рамките на
                                            абонамента.
                                        </li>
                                        <li>При желание да се компенсира пропусната тренировка чрез повече посещения от
                                            предвидените за
                                            седмицата, същата да се проведе в ден и час определени от треньора.
                                        </li>
                                    </ul>
                                    <p class="lead">Отстъпки</p>
                                    <ul>
                                        <li>Всеки клиент закупил 15 "4 седмични", 20 "5 седмични" или 25 "6 седмични"
                                            абонамента, получава
                                            статус "Лоялен" и ползва максималната отстъпка от 10%.
                                        </li>
                                        <li>Активно трениращи, повече от един член в семейство, включително живущи на
                                            семейни начала, са със статус "Семейство" и ползват максималната отстъпка
                                            от 10%.
                                        </li>
                                        <li>Клиент водещ нов клиент, получава статус "Пропагандатор" и ползва отстъпка
                                            от 5%, но само в случай че, вече не е получил максималната отстъпка от 10%
                                            по друга програма.
                                        </li>
                                        <li>Клиенти, служители на компания, с която клуба е сключил договорни отношения,
                                            се със статус "Корпоративен" и ползват 15% отстъпка, но само в случай че,
                                            не по-малко от 6 (шест) служителя, решат активно да посещават тренировки.
                                            В случай на по-малко от 6 (шест) активно записали се, отстъпката е в размер
                                            на 5% за всеки от тях.
                                        </li>
                                        <li>
                                            ВАЖНО!<br>
                                            Клиенти получили отстъпка по програма различна от "Лоялен",
                                            губят същата в срок от 3 (три) месеца след промяна на обстоятелствата за
                                            получаване на отстъпки. Такова обстоятелство е спирането на тренировки от:
                                            <ul>
                                                <li>
                                                    клиент доведен от тях
                                                </li>
                                                <li>
                                                    клиент, с когото са в роднински или семейни взаимоотношения
                                                </li>
                                                <li>
                                                    служител на компания,
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <p class="lead">Стойност</p>
                                    <ul>
                                        <li>Всеки клиент, заплатил абонамент, получава достъп до всички ресурси на
                                            клуба, както следва:
                                        </li>
                                        <ul>
                                            <li>личен треньор</li>
                                            <li>система от движения и техния баланс (ежеседмично)</li>
                                            <li>измерване на процент подкожни мазнини (ежемесечно)*</li>
                                            <li>определяне на идеално активно и общо тегло (еднократно, в началото)</li>
                                            <li>запознаване с препоръчителните хранителни навици (ежеседмично, при
                                                нужда)
                                            </li>
                                            <li>система за развиване издръжливост със собствено тегло (по преценка на
                                                треньора)
                                            </li>
                                            <li>система за развиване на силова издръжливост с тежести (по преценка на
                                                треньора)
                                            </li>
                                            <li>комлекс за функционална подвижност (при нужда, по преценка на
                                                треньора)
                                            </li>
                                            <li>хранителен план (по заявка)</li>
                                            <li>блог с рецепти</li>
                                        </ul>
                                        * измерване на процент подкожни мазнини се прави в началото и минимум 30
                                        (тридесет) дни след предходно такова
                                    </ul>
                                    <p class="lead">Други</p>
                                    <ul>
                                        <li>За всеки клиент се прилага цялата система от движения освен в случаите,
                                            когато:
                                        </li>
                                        <ul>
                                            <li>поради липса на обща или сегментарна функционална подвижност и/или сила,
                                                клиента не може да
                                                изпълни движение или набор от движения
                                            </li>
                                            <li>налице е вероятност, движението да влоши здравословно
                                                състояние
                                                на клиента
                                            </li>
                                            <li>движението е неподходящо за изпълнение в контекста на структурираната до
                                                този момент
                                                тренировка
                                            </li>
                                        </ul>
                                        <li>Индивидуализиране на тренировка означава:</li>
                                        <ul>
                                            <li>използване на движение и група от движения, част от общата система,
                                                подходящи за
                                                текущото физическо ниво на клиента, степен на функционална подвижност,
                                                целите в краткосрочен
                                                и дългосрочен план
                                            </li>
                                            <li>установяване на общи и специфични особености на клиента от значение за
                                                безопасността му
                                                по време на изпълнение на движение
                                            </li>
                                        </ul>
                                        <li></li>
                                    </ul>
                                </div>
                                <!-- End The Content -->
                            </div>

                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Wrapper Site -->

<!-- Footer -->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-offset-3">
                <div class="footer-inner">
                    <div class="footer-widgets">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Контакти</span></h2>
                                    <ul>
                                        <li>
                                            Тел: +359 876 10 00 39 - Явор
                                            Тел: +359 888 03 04 24 - Ели
                                        </li>
                                        <li>
                                            Е-Поща: athleticstandard.org@gmail.com
                                        </li>
                                        <li>
                                            Адрес: ул. „Проф. д-р Иван Странски“ 61, 1700 Студентски Комплекс, София
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Занималня</span></h2>
                                    <ul>
                                        <li><a href="404.html">Движения</a></li>
                                        <li><a href="strength_hall.html">Зала на Силата</a></li>
                                        <li><a href="404.html">Toddler</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="widget">
                                    <h2 class="title"><span>Ресурси</span></h2>
                                    <ul>
                                        <li><a href="calculators.html">Калкулатори</a></li>
                                        <li><a href="404.html">Брошура</a></li>
                                        <li><a href="404.html">Униформа</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <hr>
                                <div class="copyright">
                                    <p>&copy;2015-2019 <br>athleticstandard.org</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<script src="../js/libs/jquery-1.12.4.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../js/js/bootstrap.min.js"></script>
<script src="../js/libs/masonry.pkgd.min.js"></script>
<script src="../js/libs/imagesloaded.pkgd.min.js"></script>
<script src="../js/scripts.js"></script>
<script>
    document.getElementById("lang").addEventListener("click", function (e) {
        e.preventDefault();
        window.location.href = ("../en/views/art_rules_en.html");
    });
</script>
</body>
</html>