<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/testimonials.css">
    <link rel="stylesheet" href="../styles/timeline.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <script language="JavaScript1.3" type="text/javascript" src="../scripts/engines/jse_form.js"></script>
</head>
<body>
<div class="container" id="wrapper">
    <nav class="breadcrumb sticky-top">
        <a class="breadcrumb-item" href="../index.html">База</a>
        <span class="breadcrumb-item active">Цени</span>
        <a class="breadcrumb-item" href="../views/reports.html">Блог</a>
        <a class="breadcrumb-item" href="../views/generals.html">Офицери</a>
        <a class="breadcrumb-item" href="../views/headquarter.html">Щаб квартира</a>
        <div class="nav-wrap">
            <div id="lang-selector">
                <a href="charge.html" class="active">BG</a>
                 <span style="color: #000654">|</span> 
                <a href="../en/views/charge.html" class="">EN</a>
            </div>
        </div>
    </nav>

    <fieldset class="scheduler-border">
        <legend class="scheduler-border">Карта на сайта</legend>
        <footer class="footer">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h5>Документация </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/testimonials.html">Атестати</a></li>
                                <li><a href="views/missing.html">дентичност</a></li>
                                <li><a href="views/missing.html">Правила</a></li>
                                <li><a href="views/codeOfEthics.html">Етичен кодекс</a></li>
                                <li><a href="views/missing.html">Главен стандарт</a></li>
                                <li><a href="views/missing.html">Брошура</a></li>
                                <li><a href="views/headquarter.html">Контакт</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h5>Занималня </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/drills.html">Движения</a></li>
                                <li><a href="views/platoon.html">Взвод</a></li>
                                <li><a href="views/missing.html">Видео</a></li>
                                <li><a href="views/missing.html">GROW Strong</a></li>
                                <li><a href="views/brainwash.html">Пропагандирай</a></li>
                                <li><a href="views/hallOfStrength.html">Зала на Силата</a></li>
                                <li><a href="views/gear.html">Униформа</a></li>
                                <li><a href="views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h5>Занималня </h5>
                            <ul class="list-unstyled">
                                <li><a href="views/drills.html">Движения</a></li>
                                <li><a href="views/platoon.html">Взвод</a></li>
                                <li><a href="views/missing.html">Видео</a></li>
                                <li><a href="views/missing.html">GROW Strong</a></li>
                                <li><a href="views/brainwash.html">Пропагандирай</a></li>
                                <li><a href="views/hallOfStrength.html">Зала на Силата</a></li>
                                <li><a href="views/gear.html">Униформа</a></li>
                                <li><a href="views/missing.html">Toddler</a></li>
                            </ul>
                        </div>
                    </div>

                    <br>

                </div>
            </div>
        </footer>
    </fieldset>
</div>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>