<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <title>ATHLETIC STANDARD</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="canonical" href="https://www.athleticstandard.org/views/sitemap.html" />
    <link rel="stylesheet" href="../styles/styles.css" media="all">
    <link rel="stylesheet" href="../styles/libs/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../styles/libs/font-awesome.min.css" type="text/css" media="all">
    <style id="antiClickjack">
        body {
            display: none !important;
        }
    </style>
    <script type="text/javascript">
        if (self === top) {
            let antiClickjack = document.getElementById("antiClickjack");
            antiClickjack.parentNode.removeChild(antiClickjack);
        } else {
            top.location = self.location;
        }
    </script>
</head>

<body class="single">

    <!-- Wrapper Site -->
    <div id="main-content">

        <!-- Preload -->
        <div id="preload">
            <div class="kd-bounce">
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- Preload -->

        <!-- Mobile Menu -->
        <div class="mobile">
            <div class="container">
                <!-- Mobile -->
                <div class="menu-mobile">
                    <span class="item item-1"></span>
                    <span class="item item-2"></span>
                    <span class="item item-3"></span>
                </div>
                <!-- End Mobile -->

                <!-- Logo -->
                <div class="logo">
                    <a href="../index.html">
                        <h1>GO STRONG</h1>
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
        <div class="hide-menu"></div>
        <!-- End Mobile Menu -->

        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="header affix">
                        <div class="table">
                            <div class="table-cell">
                                <!-- Logo -->
                                <div class="logo">
                                    <a href="../index.html">
                                        <img src="../static/images/print_ready_logo_vertical.png" width="60"
                                            height="auto" alt="main-logo">
                                    </a>
                                </div>
                                <!-- End Logo -->

                                <!-- Navigation -->
                                <div class="main-menu">
                                    <nav>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="blog_grid.html">Блог</a>
                                            </li>
                                            <li>
                                                <a href="price.html">Цени</a>
                                            </li>
                                            <li>
                                                <a href="video_grid.html">Видео</a>
                                            </li>
                                            <li>
                                                <a href="about.html">За нас</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Контакти</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#/">Документация</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="404.html">Идентичност</a>
                                                    </li>
                                                    <li>
                                                        <a href="rules.html">Правила</a>
                                                    </li>
                                                    <li>
                                                        <a href="code_of_ethics.html">Етичен кодекс</a>
                                                    </li>
                                                    <li>
                                                        <a href="standards.html">Стандарт</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="testimonials.html">Атестати</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End Navigation -->

                                <!-- Socials -->
                                <div class="socials">
                                    <a target="_blank"
                                        href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                        title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a target="_blank" href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                        title="You Tube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                    <a target="_blank" href="http://leanonfat.blogspot.com/" title="Blogger">
                                        <i class="fa fa-cutlery"></i>
                                    </a>
                                    <a href="#/" title="Subscribe">
                                        <i class="fa fa-newspaper-o"></i>
                                    </a>
                                    <a href="#/" title="Language">
                                        <i id="lang" class="fa fa-globe"></i>
                                    </a>
                                    <a href="#/" title="Search this site">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <!-- End Socials -->

                                <div class="box-search">
                                    <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                        method="get" accept-charset="utf-8" target="_self">
                                        <input type="text" placeholder="Търсене ..." name="query" />
                                        <input type="hidden" name="si" value="30222917">
                                        <input type="hidden" name="pid" value="r">
                                        <input type="hidden" name="n" value="0">
                                        <input type="hidden" name="_charset_" value="">
                                        <input type="hidden" name="bcd" value="&#247;">
                                    </form>
                                </div>

                                <div class="box-subscribe">
                                    <input name="email" type="text" placeholder="Абонирай се с е-поща"
                                        id="subscribe_email">
                                </div>
                                <div class="box-subscribe">
                                    <div style="transform:scale(0.594);transform-origin:0 0; margin-top: 0.1px"
                                        class="g-recaptcha" data-sitekey="6Ldg2pYUAAAAAJAvcm5rIdhZaU3kpydbkoDHm5uP">
                                    </div>
                                </div>

                                <!--<div class="copyright">-->
                                <!--<p>-->
                                <!--&copy;2015-2019 athleticstandard.org-->
                                <!--</p>-->
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-md-offset-3">
                    <div class="posts">
                        <div class="posts-inner">
                            <article class="post">
                                <div class="post-header">
                                    <h2 class="title"><span>КАРТА НА САЙТА</span></h2>
                                    <h5 style="text-align: center"></h5>
                                    <hr>
                                </div>

                                <div class="post-content">

                                    <!-- The Content -->
                                    <div class="the-excerpt">
                                        <div class="navbar navbar-default navbar-static-top" hidden>
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle" data-toggle="collapse"
                                                    data-target=".navbar-collapse">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                                <a class="navbar-brand" href="#">Brand</a>
                                            </div>
                                            <div class="collapse navbar-collapse">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <ul class="nav navbar-nav">
                                                        <li class="active"><a href="../index.html">Начало</a></li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Блог <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="blog_grid.html" target="_self">Блог</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Цени <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="price.html" target="_self">Цени</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Видео <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="video_grid.html" target="_self">Видео</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">За нас
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="about.html" target="_self">За нас</a></li>
                                                                <li><a href="yavor.html" target="_self">Явор</a></li>
                                                                <li><a href="ellie.html" target="_self">Ели</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Контакти
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="contact.html" target="_self">Контакти</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Документация
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="rules.html" target="_self">Устав</a></li>
                                                                <li><a href="code_of_ethics.html" target="_self">Етичен
                                                                        кодекс</a></li>
                                                                <li><a href="standards.html" target="_self">Стандарт</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Отзиви
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="testimonials.html"
                                                                        target="_self">Отзиви</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Занималня
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="drills.html" target="_self">Движения</a>
                                                                </li>
                                                                <li><a href="strength_hall.html" target="_self">Зала на
                                                                        силата</a></li>
                                                                <li><a href="gallery.html" target="_self">Галерия</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Калкулатори
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="../calcs/endurance_calculator.html"
                                                                        target="_self">Издръжливост
                                                                    </a></li>
                                                                <li><a href="../calcs/symmetric_strength.html"
                                                                        target="_self">Силов баланс</a></li>
                                                                <li><a href="../calcs/fat_calculator.html"
                                                                        target="_self">Процент телесни мазнини</a></li>
                                                                <li><a href="../calcs/lbm_calculator.html"
                                                                        target="_self">Оптимално активно тегло</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Униформа
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="gear.html" target="_self">Униформа</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Условия
                                                                за ползване
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="terms.html" target="_self">Условия за
                                                                        ползване</a>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Политика
                                                                аз поверителност
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a href="policy.html" target="_self">Политика аз
                                                                        поверителност</a></li>
                                                            </ul>
                                                        </li>
                                                        <li><a href="/#" data-toggle="dropdown"
                                                                class="dropdown-toggle">Социални връзки
                                                                <b class="caret">
                                                                    <!----></b></a>
                                                            <ul role="menu" class="dropdown-menu">
                                                                <li><a target="_blank"
                                                                        href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                                                        target="_self">Фейсбук</a></li>
                                                                <li><a target="_blank"
                                                                        href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                                                        target="_self">Ю-Туб</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="container" id="treeContainer">
                                            <p><a href="#" id="link_expandAllButton">Отвори всички</a> / <a href="#"
                                                    id="link_collapseAllButton">Затвори всички</a></p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wrapper Site -->

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="footer-inner">
                        <div class="footer-widgets">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h2 class="title"><span>Контакти</span></h2>
                                        <ul>
                                            <li>
                                                Тел: +359 876 10 00 39 - Явор
                                                Тел: +359 888 03 04 24 - Ели
                                            </li>
                                            <li>
                                                Е-Поща: mail@athleticstandard.org
                                            </li>
                                            <li>
                                                <address>Адрес: ул. „Проф. д-р Иван Странски“ 61, 1700 Студентски
                                                    Комплекс, София</address>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h2 class="title"><span>Занималня</span></h2>
                                        <ul>
                                            <li><a href="drills.html">Движения</a></li>
                                            <li><a href="strength_hall.html">Зала на Силата</a></li>
                                            <li><a href="gallery.html">Галерия</a></li>
                                            <li><a href="sitemap.html">Карта на сайта</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h2 class="title"><span>Ресурси</span></h2>
                                        <ul>
                                            <li><a href="calculators.html">Калкулатори</a></li>
                                            <li><a href="404.html">Брошура</a></li>
                                            <li><a href="404.html">Униформа</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="copyright">
                                        <p>&copy;2015-2019 <br>athleticstandard.org</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        всички права запазени |
                        <a href="terms.html">условия за ползване</a> |
                        <a href="policy.html">политика за поверителност</a> |
                        &copy;protected by <a target="_blank" href="http://www.copyscape.com/"
                            title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page.">Copyscape</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Scripts -->
    <script src="../js/libs/jquery-1.12.4.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../js/js/bootstrap.min.js"></script>
    <script src="../js/libs/masonry.pkgd.min.js"></script>
    <script src="../js/libs/imagesloaded.pkgd.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="../js/models/magnificPopup.js"></script>
    <script src="../js/controller/subscribeController.js"></script>
    <script src="../js/services/subscribeService.js"></script>
    <script src="../js/services/remoteService.js"></script>
    <script>
        var navBarList = [];
        $('.navbar-nav > li').each(function () {
            var navItem = {};
            navItem.text = $(this).find('a:first').text();
            navItem.url = $(this).find('a:first').attr('href');
            var targetStr = $(this).find('a:first').attr('target');
            if (typeof targetStr !== typeof undefined && targetStr !== false) {
                navItem.target = targetStr;
            } else {
                navItem.target = "_self";
            }

            navItem.subNavItems = [];
            $(this).find('ul li').each(function () {
                var subNavItem = {};
                subNavItem.text = $(this).find('a:first').text();
                subNavItem.url = $(this).find('a:first').attr('href');
                var subTargetStr = $(this).find('a:first').attr('target');
                if (typeof subTargetStr !== typeof undefined && subTargetStr !== false) {
                    subNavItem.target = subTargetStr;
                } else {
                    subNavItem.target = "_self";
                }
                navItem.subNavItems.push(subNavItem);
            });

            navBarList.push(navItem);
        });

        //var navBarJson = JSON.stringify(navBarList);
        //console.log(navBarJson);

        /* END BUILD OBJ ARRAY FROM NAVBAR */

        /* BEGIN BUILD SITEMAP MARKUP FROM NAVBAR ARRAY */

        var $siteMapTree = $("<ul>", { class: "treeMenu" });

        $.each(navBarList, function (i, val) {
            //alert( val.text + ", " + val.url );
            var $topLevListItem = $("<li>");
            var $topLevLink = null;
            var $topLevIcon = null;
            if (val.subNavItems.length > 0) {
                $topLevLink = $(document.createTextNode(" " + val.text));
                $topLevIcon = $("<i>", { class: "fa fa-folder" });
                $topLevListItem.append($topLevIcon);
                $topLevListItem.append($topLevLink);
                var $subDocTree = $("<ul>");
                $.each(val.subNavItems, function (j, subval) {
                    //alert( subval.text + ", " + subval.url );

                    var $subLevListItem = $("<li>");
                    $subLevLink = $("<a>", { href: subval.url, target: subval.target });
                    $subLevIcon = $("<i>", { class: "fa fa-file-o" });
                    $subLevLink.append($subLevIcon);
                    $subLevLink.append($(document.createTextNode(" " + subval.text)));
                    $subLevListItem.append($subLevLink);
                    $subDocTree.append($subLevListItem);
                });
                $topLevListItem.append($subDocTree);

            } else {
                $topLevLink = $("<a>", { href: val.url, target: val.target });
                $topLevIcon = $("<i>", { class: "fa fa-file-o" });
                $topLevLink.append($topLevIcon);
                $topLevLink.append($(document.createTextNode(" " + val.text)));
                $topLevListItem.append($topLevLink);

            }
            $siteMapTree.append($topLevListItem);

        });

        $('#treeContainer').append($siteMapTree);

        /* END BUILD SITEMAP MARKUP FROM NAVBAR ARRAY */


        /* BEGIN DOCTREE FUNCS */


        $('#link_expandAllButton').on('click', function (e) {
            $('ul.treeMenu i.fa-folder').removeClass('fa fa-folder').addClass('fa fa-folder-open');
            $('ul.treeMenu ul').slideDown('slow');
            return false;
        });

        $('#link_collapseAllButton').on('click', function (e) {
            $('ul.treeMenu i.fa-folder-open').removeClass('fa fa-folder-open').addClass('fa fa-folder');
            $('ul.treeMenu ul').slideUp('slow');
            return false;
        });


        $('ul.treeMenu li').on('click', function (e) {
            if ($(this).has("ul").length) {
                if ($(this).find('ul:first').is(":visible")) {
                    $(this).find('i:first').removeClass('fa fa-folder-open').addClass('fa fa-folder');
                    $(this).find('ul:first').slideUp();
                    e.stopPropagation();
                } else {
                    $(this).find('ul:first').slideDown('slow');
                    $(this).find('i:first').removeClass('fa fa-folder').addClass('fa fa-folder-open');
                    e.stopPropagation();
                }
            } else {
                e.stopPropagation();
            }
        });

        //COMENNT OUT NEXT TWO LINES TO DEFAULT TO COLLAPSED
        $('ul.treeMenu i.fa-folder').removeClass('fa fa-folder').addClass('fa fa-folder-open');
        $('ul.treeMenu ul').slideDown('slow');


        /* END DOCTREE FUNCS */
    </script>
    <script>
        document.getElementById("lang").addEventListener("click", function (e) {
            e.preventDefault();
            window.location.href = ("../en/views/art_index_en.html");
        });
    </script>
    <script>
        subscribeController.subscribe();
    </script>
    <!-- End Scripts -->
</body>

</html>