<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lato:400,700%7CCrete+Round' type='text/css'
        media='all' />
    <title>Условия за ползване</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="canonical" href="https://www.athleticstandard.org/views/terms.html" />
    <link rel="stylesheet" href="../styles/styles.min.css" media="all">
    <link rel="stylesheet" href="../styles/libs/bootstrap.min.css" media="all">
    <link rel="stylesheet" href="../styles/libs/font-awesome.min.css" type="text/css" media="all">
    <style id="antiClickjack">
            body {
                display: none !important;
            }
        </style>
        <script type="text/javascript">
            if (self === top) {
                let antiClickjack = document.getElementById("antiClickjack");
                antiClickjack.parentNode.removeChild(antiClickjack);
            } else {
                top.location = self.location;
            }
        </script>
</head>

<body>
    <!-- Wrapper Site -->
    <div id="main-content">

        <!-- Preload -->
        <div id="preload">
            <div class="kd-bounce">
                <div></div>
                <div></div>
            </div>
        </div>
        <!-- Preload -->

        <!-- Mobile Menu -->
        <div class="mobile">
            <div class="container">
                <!-- Mobile -->
                <div class="menu-mobile">
                    <span class="item item-1"></span>
                    <span class="item item-2"></span>
                    <span class="item item-3"></span>
                </div>
                <!-- End Mobile -->

                <!-- Logo -->
                <div class="logo">
                    <a href="../index.html">
                        <h1>GO STRONG</h1>
                    </a>
                </div>
                <!-- End Logo -->
            </div>
        </div>
        <div class="hide-menu"></div>
        <!-- End Mobile Menu -->

        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <div class="header affix">
                        <div class="table">
                            <div class="table-cell">
                                <!-- Logo -->
                                <div class="logo">
                                    <a href="../index.html">
                                        <img src="../static/images/print_ready_logo_vertical.png" width="60"
                                            height="auto" alt="main-logo">
                                    </a>
                                </div>
                                <!-- End Logo -->

                                <!-- Navigation -->
                                <div class="main-menu">
                                    <nav>
                                        <ul class="menu-list">
                                            <li>
                                                <a href="blog_grid.html">Блог</a>
                                            </li>
                                            <li>
                                                <a href="price.html">Цени</a>
                                            </li>
                                            <li>
                                                <a href="video_grid.html">Видео</a>
                                            </li>
                                            <li>
                                                <a href="about.html">За нас</a>
                                            </li>
                                            <li>
                                                <a href="contact.html">Контакти</a>
                                            </li>
                                            <li class="menu-item-has-children">
                                                <a href="#/">Документация</a>
                                                <ul class="sub-menu">
                                                    <li>
                                                        <a href="404.html">Идентичност</a>
                                                    </li>
                                                    <li>
                                                        <a href="rules.html">Правила</a>
                                                    </li>
                                                    <li>
                                                        <a href="code_of_ethics.html">Етичен кодекс</a>
                                                    </li>
                                                    <li>
                                                        <a href="standards.html">Стандарт</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="testimonials.html">Атестати</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- End Navigation -->

                                <!-- Socials -->
                                <div class="socials">
                                    <a target="_blank"
                                        href="https://web.facebook.com/Athletic-Standard-155676468649069/"
                                        title="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a target="_blank" href="https://www.youtube.com/channel/UC3jhBZbeXDzwad6o2yrttSA"
                                        title="You Tube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                    <a target="_blank" href="http://leanonfat.blogspot.com/" title="Blogger">
                                        <i class="fa fa-cutlery"></i>
                                    </a>
                                    <a href="#/" title="Subscribe">
                                        <i class="fa fa-newspaper-o"></i>
                                    </a>
                                    <a href="#/" title="Language">
                                        <i id="lang" class="fa fa-globe"></i>
                                    </a>
                                    <a href="#/" title="Search this site">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <!-- End Socials -->

                                <div class="box-search">
                                    <form role="search" id="searchform" action="https://search.freefind.com/find.html"
                                        method="get" accept-charset="utf-8" target="_self">
                                        <input type="text" placeholder="Search ..." name="query" />
                                        <input type="hidden" name="si" value="30222917">
                                        <input type="hidden" name="pid" value="r">
                                        <input type="hidden" name="n" value="0">
                                        <input type="hidden" name="_charset_" value="">
                                        <input type="hidden" name="bcd" value="&#247;">
                                    </form>
                                </div>

                                <div class="box-subscribe">
                                    <input name="email" type="text" placeholder="Абонирай се с е-поща"
                                        id="subscribe_email">
                                </div>
                                <div class="box-subscribe">
                                    <div style="transform:scale(0.594);transform-origin:0 0; margin-top: 0.1px"
                                        class="g-recaptcha" data-sitekey="6Ldg2pYUAAAAAJAvcm5rIdhZaU3kpydbkoDHm5uP">
                                    </div>
                                </div>

                                <!--<div class="copyright">-->
                                <!--<p>-->
                                <!--&copy;2015-2019 athleticstandard.org-->
                                <!--</p>-->
                                <!--</div>-->

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-9 col-md-offset-3">
                    <div class="posts">
                        <div class="posts-inner">
                            <article class="post">
                                <div class="post-header">
                                    <h2 class="title"><span>Условия за ползване</span></h2>
                                    <hr>
                                </div>
                                <div class="post-content">

                                    <!-- The Content -->
                                    <div class="the-excerpt">
                                        <p> Прочетете внимателно настоящия документ и се уверете, че разбирате
                                            ясно неговото съдържание.</p>
                                        <p>
                                            Сайтът athleticstandard.org се поддържа от Явор Грънчаров регистриран
                                            в Агенцията по вписванията като упражняващ свободна професия - треньор със
                                            заявление за регистрация № 1931350 от 09.03.2015, със седалище и адрес на
                                            управление Р. България, гр.София, п.к. 1700, кв.Студентски град,
                                            ул."Професор
                                            доктор Иван Странски" № 61, наричан по-долу за краткост "ДОСТАВЧИК" на
                                            услугите на сайта.
                                        </p>
                                        <p> Всяко лице, което посети сайта athleticstandard.org, без значение
                                            дали разбира и използва неговото съдържание, се нарича за краткост по-долу
                                            "ПОЛЗВАТЕЛ" на сайта.</p>
                                        <br>
                                        <p class="text-uppercase">
                                            ВАЖНО! Използвайки сайта на Доставчика (athleticstandard.org) Вие приемате
                                            без
                                            ограничения и безусловно тези Общи условия.
                                        </p>
                                        <p>
                                            ДАННИ ЗА ДОСТАВЧИКА
                                        </p>
                                        <p>
                                            Информация съгласно Закона за електронната търговия и Закона за защита на
                                            ползвателите:
                                        </p>
                                        <ol>
                                            <li>
                                                Наименование на Доставчика: Явор Грънчаров
                                            </li>
                                            <li>
                                                Управител: Явор Грънчаров
                                            </li>
                                            <li>
                                                Седалище и адрес на управление: кв.Студентски град, ул."Професор доктор
                                                Иван Странски" № 61
                                            </li>
                                            <li>
                                                Адрес за упражняване на дейността: кв.Студентски град, ул."Професор
                                                доктор
                                                Иван Странски" № 61
                                            </li>
                                            <li>
                                                Данни за кореспонденция:
                                                <ul>
                                                    <li>
                                                        Телефон: +359 876 10 00 39
                                                    </li>
                                                    <li>
                                                        Е-Поща: mail@athleticstandard.org
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                Надзорни органи:
                                                <ol>
                                                    <li>
                                                        Комисия за защита на личните данни
                                                        <ul>
                                                            <li>
                                                                Адрес: гр. София,ул. "Иван Евстатиев Гешов" № 15
                                                            </li>
                                                            <li>
                                                                тел.: (02) 940 20 46
                                                            </li>
                                                            <li>
                                                                факс: (02) 940 36 40
                                                            </li>
                                                            <li>
                                                                Email: kzld@government.bg, kzld@cpdp.bg
                                                            </li>
                                                            <li>
                                                                Уеб сайт: www.cpdp.bg
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        Комисия за защита на ползвателите
                                                        <ul>
                                                            <li>
                                                                Адрес: 1000 гр.София, пл."Славейков" №4А, ет.3, 4 и 6
                                                            </li>
                                                            <li>
                                                                тел.: 02 / 980 25 24
                                                            </li>
                                                            <li>
                                                                факс: 02 / 988 42 18
                                                            </li>
                                                            <li>
                                                                гореща линия: 0700 111 22
                                                            </li>
                                                            <li>
                                                                Уеб сайт: www.kzp.bg
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                        <p>
                                            ХАРАКТЕРИСТИКИ НА УСЛУГАТА
                                        </p>
                                        <p> Сайтът athleticstandard.org няма за цел да убеди потребителя да
                                            използва върху
                                            себе си или върху други лица информацията, която е получил от сайта.<br><br>
                                            Съдържанието поместено на сайта athleticstandard.org съдържа
                                            информация свързана със здравословния начин на живот и поддържането на добро
                                            физическо състояние. <br><br>
                                            Всички съвети за правилен начин на хранене, трениране и други, произтичат
                                            пряко от проучванията, опита и гледната точка на Доставчика на
                                            съдържанието.<br><br>
                                            Чрез този сайт, Доставчика не предоставя диагнози, медицински съвети и
                                            лечение на състояния изискващи намесата на здравен специалист, както и не
                                            носи
                                            отговорност за евентуални последици или вреди следствие от прилагане на
                                            съдържащата се в този сайт информация. При съмнение за здравословен проблем,
                                            и преди да приложите съветите предоставени чрез athleticstandard.org се
                                            консултирайте с вашия лекар.
                                        </p>
                                        <p>
                                            ЦЕНА НА УСЛУГАТА
                                        </p>
                                        <p>
                                            Доставчикът предоставя Услугата срещу възнаграждение, дължимо от
                                            Ползвателя съгласно избрания от него абонаментен план.
                                        </p>
                                        <p>
                                            Информация за различните <a target="_blank" href="price.html">параметри</a>
                                            на Услугата е достъпна на страницата
                                            на Доставчика в Интернет.
                                        </p>
                                        <p>
                                            Ползвателят заплаща цената на Услугата съобразно определеното от Доставчика
                                            в страницата му в Интернет, когато услугата се предоставя възмездно.
                                        </p>
                                        <p>
                                            ПРЕДОСТАВЯНЕ НА УСЛУГАТА
                                        </p>
                                        <p>
                                            Договорът между Доставчика и Ползвателя представлява настоящите общи условия
                                            достъпни на адрес <a target="_blank" href="terms.html">Условия за
                                                ползване</a>.
                                        </p>
                                        <p>
                                            Този договор се счита за сключен от момента на първото ползване на Услугата
                                            от Ползвателя.
                                        </p>
                                        <p>
                                            Доставчикът предприема мерки за защита на личните данни на Ползвателя
                                            съгласно
                                            Закона за защита на личните данни.
                                        </p>
                                        <p>
                                            Доставчикът приема и обявява на сайта си Политика за защита на личните
                                            данни,
                                            достъпна на адрес <a target="_blank" href="policy.html">Политика за
                                                поверителност</a>
                                            a Ползвателят се съгласява с Политиката за защита на
                                            личните данни на Доставчика.
                                        </p>
                                        <p>
                                            Ползвателят се съгласява, че Доставчикът има право да обработва личните му
                                            данни съгласно Политиката му за защита на личните данни.
                                        </p>
                                        <p>
                                            ИНТЕЛЕКТУАЛНА СОБСТВЕНОСТ И АВТОРСКИ ПРАВА
                                        </p>
                                        <p>
                                            Информацията
                                            от athleticstandard.org може да бъде разглеждана,
                                            изтегляна на електронно устройство и отпечатвана само за лични нужди
                                            с нетърговска цел.
                                            <br>
                                            Забранено е използването, разпространяването и/или
                                            редактирането на всички текстове, статии, снимки,
                                            графично оформление, графични изображения и други материали
                                            публикувани на athleticstandard.org. Копирането,
                                            разпространението, публикуването в части или в цялост, съхранението на друг
                                            сървър от лица различни от Доставчика и взаимстването на материали от
                                            уебсайта
                                            не се разрешава освен след изричното съгласие на автора.
                                            Всички текстове, статии, снимки, графично оформление,
                                            графични изображения и други материали са авторски или са взаимствани от
                                            източници, които не са обект на авторски и други права.
                                            Всички статии, видео и други материали на сайта са
                                            защитени от авторското право на техния създател.
                                        </p>
                                        <br>
                                        <p>
                                            ИЗПОЛЗВАНЕ НА САЙТА
                                        </p>
                                        <p>
                                            На сайта на athleticstandard.org ползватели могат да публикуват
                                            коментари под статии, да задават и да отговарят на въпроси, стига тяхното
                                            съдържание да не е заплашително, нецензурно или засягащо неприкосновеността
                                            на човешкия живот, правото на интелектуална собственост на
                                            athleticstandard.org
                                            и/или на трети страни, СПАМ, както и да не съдържа вируси. Забранено е
                                            ползването на фалшив e-mail адрес или чужда самоличност като в тези случаи
                                            Доставчика си запазва правото да премахва и/или редактира подобна
                                            информация.
                                        </p>
                                        <p>
                                            ДОПЪЛНИТЕЛНИ
                                        </p>
                                        <p>
                                            Доставчикът има право по всяко време да променя, допълва и/или
                                            премахва
                                            публикации на сайта, както и да изменя настоящите общи условия без да
                                            информира
                                            изрично ползвателя. Ползвателят се задължава всеки път, когато използва
                                            сайта
                                            athleticstandard.org, да се информира за действащите Общи условия за
                                            ползване.
                                        </p>
                                        <p>
                                            Евентуалната недействителност на някоя от разпоредбите на тези общи условия
                                            няма да води до недействителност на целия договор.
                                        </p>
                                        <p>
                                            За неуредените в този договор въпроси, свързани с изпълнението и тълкуването
                                            на този договор, се прилагат законите на Република България.
                                        </p>
                                        <p>
                                            Всички спорове между страните по този договор ще бъдат разрешавани от
                                            компетентния съд или Комисията за защита на ползвателите.
                                        </p>
                                        <p>
                                            Настоящите общи условия влизат в сила за всички Ползватели на 01.01.2019г.
                                        </p>
                                    </div>
                                    <!-- End The Content -->
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Wrapper Site -->

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-md-offset-3">
                    <div class="footer-inner">
                        <div class="footer-widgets">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h2 class="title"><span>Контакти</span></h2>
                                        <ul>
                                            <li>
                                                Тел: +359 876 10 00 39 - Явор
                                                Тел: +359 888 03 04 24 - Ели
                                            </li>
                                            <li>
                                                Е-Поща: mail@athleticstandard.org
                                            </li>
                                            <li>
                                                Адрес: ул. „Проф. д-р Иван Странски“ 61, 1700 Студентски Комплекс, София
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h2 class="title"><span>Занималня</span></h2>
                                        <ul>
                                            <li><a href="drills.html">Движения</a></li>
                                            <li><a href="strength_hall.html">Зала на Силата</a></li>
                                            <li><a href="gallery.html">Галерия</a></li>
                                            <li><a href="sitemap.html">Карта на сайта</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="widget">
                                        <h2 class="title"><span>Ресурси</span></h2>
                                        <ul>
                                            <li><a href="calculators.html">Калкулатори</a></li>
                                            <li><a href="404.html">Брошура</a></li>
                                            <li><a href="404.html">Униформа</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="copyright">
                                        <p>&copy;2015-2019 <br>athleticstandard.org</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        всички права запазени |
                        <a href="terms.html">условия за ползване</a> |
                        <a href="policy.html">политика за поверителност</a> |
                        &copy;protected by <a target="_blank" href="http://www.copyscape.com/"
                            title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page.">Copyscape</a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->

    <script src="../js/libs/jquery-1.12.4.min.js"></script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../js/js/bootstrap.min.js"></script>
    <script src="../js/libs/masonry.pkgd.min.js"></script>
    <script src="../js/libs/imagesloaded.pkgd.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="../js/models/magnificPopup.min.js"></script>
    <script src="../js/controller/subscribeController.min.js"></script>
    <script src="../js/services/subscribeService.min.js"></script>
    <script src="../js/services/remoteService.min.js"></script>
    <script>
        document.getElementById("lang").addEventListener("click", function (e) {
            e.preventDefault();
            window.location.href = ("../en/views/art_rules_en.html");
        });
    </script>
    <script>
        subscribeController.subscribe();
    </script>
</body>

</html>