<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131327406-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-131327406-1');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>GO STRONG</title>
    <link rel="icon" type="image/x-icon" href="../static/images/logo.png">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styleSec.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="../node_modules/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg sticky-top">
    <div class="container">
        <a class="navbar-brand" href="../index.html">БАЗА</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="charge.html">ЦЕНИ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#blog">БЛОГ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#officers">ОФИЦЕРИ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="headquarter.html">ЩАБ</a>
                </li>
            </ul>
        </div>
    </div>
    <div id="lang-selector">
        <a href="index.html" class="active">BG</a>
         <span style="color: #dfdfdf">|</span>
        <a href="en/index.html" class="">EN</a>
    </div>
</nav>

<header id="reules_header">
    <div class="container">
        <h1 class="text-center">ATV</h1>
        <div class="col-lg-10 mx-auto">
        </div>
    </div>
</header>

<section id="rules">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-12 mb-4">
                        <h6 class="text-center">Deadlift @70kg</h6>
                        <!--Modal: Name-->
                        <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">

                                <!--Content-->
                                <div class="modal-content">

                                    <!--Body-->
                                    <div class="modal-body mb-0 p-0">

                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_uWcyJmUefA"
                                                    allowfullscreen></iframe>
                                        </div>

                                    </div>

                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                                <!--/.Content-->

                            </div>
                        </div>
                        <!--Modal: Name-->

                        <a><img class="img-fluid z-depth-1" src="http://i3.ytimg.com/vi/_uWcyJmUefA/maxresdefault.jpg" alt="video"
                                data-toggle="modal" data-target="#modal1"></a>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <h6 class="text-center">Sumo Good Morning @30kg</h6>
                        <!--Modal: Name-->
                        <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">

                                <!--Content-->
                                <div class="modal-content">

                                    <!--Body-->
                                    <div class="modal-body mb-0 p-0">

                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/M6F-NXv-dFI"
                                                    allowfullscreen></iframe>
                                        </div>

                                    </div>

                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                                <!--/.Content-->

                            </div>
                        </div>
                        <!--Modal: Name-->

                        <a><img class="img-fluid z-depth-1" src="http://i3.ytimg.com/vi/M6F-NXv-dFI/maxresdefault.jpg" alt="video"
                                data-toggle="modal" data-target="#modal2"></a>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-lg-4 col-md-6 mb-4">
                        <h6 class="text-center">Squat @60kg</h6>
                        <!--Modal: Name-->
                        <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">

                                <!--Content-->
                                <div class="modal-content">

                                    <!--Body-->
                                    <div class="modal-body mb-0 p-0">

                                        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DZMd6ggEWhU"
                                                    allowfullscreen></iframe>
                                        </div>

                                    </div>

                                    <!--Footer-->
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
                                    </div>

                                </div>
                                <!--/.Content-->

                            </div>
                        </div>
                        <!--Modal: Name-->

                        <a><img class="img-fluid z-depth-1" src="http://i3.ytimg.com/vi/DZMd6ggEWhU/maxresdefault.jpg" alt="video"
                                data-toggle="modal" data-target="#modal3"></a>

                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->
            </div>
        </div>
    </div>
</section>

<footer class="nb-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="about">
                    <div class="well col-md-12">
                        <form class="block mbr-form" action="https://formspree.io/athleticstandard.org@gmail.com"
                              method="post">
                            <div class="row">
                                <div class="col-md-12" data-for="email">
                                    <div class="col-md-8 text-left">
                                        <h5>Абонирай се за новини</h5>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="text" class="form-control input text-center" name="email"
                                                   data-form-field="Email" placeholder="електронна поща" required="">
                                        </div>
                                        <br><br>
                                        <div class="input-group-btn col-md-4">
                                            <button type="submit" class="btn btn-outline-light btn-block">ИЗПРАТИ
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="social-media">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-facebook"></i></a></li>
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-twitter"></i></a></li>
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-google-plus"></i></a></li>
                            <li class="list-inline-item"><a href="http://www.nextbootstrap.com/" title=""><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Документация</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Идентичност</a></li>
                        <li><a href="rules.html" title=""><i class="fa fa-angle-double-right"></i>
                            Правила</a></li>
                        <li><a href="code_of_ethics.html" title=""><i class="fa fa-angle-double-right"></i> Етичен
                            кодекс</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Стандарт</a></li>
                        <li><a href="testimonials.html" title=""><i class="fa fa-angle-double-right"></i>
                            Атестати</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Занималня</h2>
                    <ul class="list-unstyled">
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Движения</a></li>
                        <li><a href="video.html" title=""><i class="fa fa-angle-double-right"></i>
                            Видео</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Подрастваща сила</a></li>
                        <li><a href="hall_of_strength.html" title=""><i class="fa fa-angle-double-right"></i>
                            Зала на Силата</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Toddler</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6">
                <div class="footer-info-single">
                    <h2 class="title">Ресурси</h2>
                    <ul class="list-unstyled">
                        <li><a href="calcs/passwd.html" title=""><i class="fa fa-angle-double-right"></i>
                            Калкулатори</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Брошура</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Лого</a></li>
                        <li><a href="http://www.nextbootstrap.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Униформа</a></li>
                        <li><a target="_blank" href="http://leanonfat.blogspot.com/" title=""><i class="fa fa-angle-double-right"></i>
                            Блог с рецепти</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 text-center">
                <div class="footer-info-single">
                    <a href="http://www.copyscape.com/"><img
                            src="//banners.copyscape.com/img/copyscape-stamp-white-90x90.png" width="90" height="90"
                            border="0" alt="Protected by Copyscape"
                            title="Protected by Copyscape Plagiarism Checker - Do not copy content from this page."/></a>

                </div>
            </div>
        </div>
    </div>

    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center">© 2015-2019 athleticstandard.org</p>
                </div>
            </div>
        </div>
    </section>
</footer>
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    $('#modal1').on('hidden.bs.modal', function (e) {
        $('#modal1 iframe').attr("src", $("#modal1 iframe").attr("src"));
    });

    $('#modal2').on('hidden.bs.modal', function (e) {
        $('#modal2 iframe').attr("src", $("#modal2 iframe").attr("src"));
    });

    $('#modal3').on('hidden.bs.modal', function (e) {
        $('#modal3 iframe').attr("src", $("#modal3 iframe").attr("src"));
    });
</script>
</body>
</html>