<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yavor</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
    <script src="../scripts/controller/movementsController.js" async></script>
</head>
<body class="bg-light">
<div class="container">
    <div class="row">
        <!--<div class="col-sm-1">
            <a href="../index.html"><img src="../static/images/letter-s-logo-1_burned_crop.png" id="logo"></a>
        </div>-->
        <div class="col-sm-12">
            <h2>Martial Law</h2>
            <h4><sup>the only easy day was yesterday</sup></h4>
        </div>
    </div>
</div>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../index.html">Squad Bay</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-left">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/equalizer.html">Iron Grid</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/reports.html">Reports</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link " href="../views/charge.html">Charge</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            FAQtory
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../views/martialLaw.html">Martial Law</a>
                            <!--<div class="dropdown-divider"></div>-->
                            <a class="dropdown-item" href="../views/about.html">Roger That</a>
                            <a class="dropdown-item" href="../views/platoon.html">Infantry</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-sm-6">
                <ul class="navbar-nav mr-auto float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="../views/generals.html">Officers</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/gallery.html">Gallery</a>
                    </li>
                    <li style="color: #6ea171;">&#9733;</li>
                    <li class="nav-item">
                        <a class="nav-link" href="../views/headquarter.html">Headquarter</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <hr>
</div>
<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="pull-left col-md-4 col-xs-12 thumb-contenido"><img class="center-block img-responsive" src='../static/images/yavor.jpg' /></div>
                <div class="">
                    <h1  class="hidden-xs hidden-sm">Early interests in bodybuilding and martial arts</h1>

                    <p class="text-justify">I had interests in sports since I was an eight-yar-old kid .
                        At that time all I did was trying to replicate Jackie Chan’s moves :-).
                        At the age of 13 I bought Arnold Schwarzenegger’s book “The secrets of my success”
                        and started following his advice for home training routine for about six months.
                        I was doing mostly sit-ups(350r), push-ups, chin-ups, behind the neck pull-ups (18r),
                        horizontal pulls with a stick, jogging, body weight squats. I had eating disorders
                        and I was very skinny so my body responded really well to my training and meal plans.
                        I kept a diary where I tracked all my girth measurements of my thighs, biceps, calves,
                        hips, my waist, forearms, my chest and my neck. I can remember that for about two years
                        of weight training my biceps measurement went from 28cm to 41cm flexed. Somewhere in 1994,
                        when I was only a year or two older, I walked into a fitness gym for the first time
                        in my life. I had no idea what to do and how to do it but fortunately I met there some
                        big and strong guys who helped me out. They showed me how to use different strength
                        training protocols like reverse pyramids, forced reps, etc. For about two years I was
                        very persistent with my training and at that time my weight went up to 85kg with well
                        developed muscles and ripped abs. I clearly remember that I was able to do 10 reps of
                        biceps curls with 60kg barbell, 110kg on a pulley machine, 110kg on an incline bench
                        press and 40kg for triceps french curls. When I was 16 I stopped training with weights.
                        I became interested in martial arts and I started doing TaeKwonDo. It was difficult at
                        the beginning but I was very committed and very soon I became one of the best in the dojo.
                        After a year of training I switched from Taekwondo to Aikido trainings and got back to
                        the gym. The transition was difficult because they had nothing in common. Despite that
                        a year and a half after, my devotion and my efforts paid off and I became one of the
                        best trainees. At the age of 17 I fell sick and I lost almost 15kg of body weight.
                        After that I failed to regain weight and I stopped doing martial arts training for a year.<br><br>
                    <h1  class="hidden-xs hidden-sm">MIA cadet</h1>

                    In 1998 I finished my secondary school and  I went to complete my military service which lasted one year.
                    While I was in  military forces I prepeared myself and successfully passed all the exams at the Academy
                    of MIA in the city of Sofia, the capital of Bulgaria. In 1999 I moved from my home city Blagoevgrad to  Sofia.
                    For four years I was studying and prepearing to became a police officer. I was trained by some of the best
                    in the field of martial arts (judo, jiu jutsu), tactics and firing.<br><br>
                    <h1  class="hidden-xs hidden-sm">Working with Spider Sport</h1>
                        Sed porttitor lectus nibh. Nulla quis lorem ut libero malesuada feugiat.
                        Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                        Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                        Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa,
                        convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                        Donec rutrum congue leo eget malesuada.<br><br>

                        Nulla quis lorem ut libero malesuada feugiat. <br>

                        Quisque velit nisi, pretium ut lacinia in, elementum id enim. Sed porttitor lectus nibh.
                        Nulla porttitor accumsan tincidunt. Vivamus suscipit tortor eget felis porttitor volutpat.
                        Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Curabitur aliquet quam id dui posuere blandit.
                        Sed porttitor lectus nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sapien massa,
                        convallis a pellentesque nec, egestas non nisi. Proin eget tortor risus. Nulla quis lorem ut libero malesuada feugiat.
                        Donec rutrum congue leo eget malesuada.</p></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <hr>
    <!--<div class="foo green"></div>&nbsp;Trained: you have become better [slow adaptation]<br>
    <div class="foo blue"></div>&nbsp;Skilled: you have grown to a more advanced state [very slow adaptation]<br>
    <div class="foo red"></div>&nbsp;Master: you have reached mastery [potential limit]-->
    <section class="footers bg-light pt-5 pb-3">
        <div class="container pt-5">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
                    <div class="footers-logo">
                        <img src="../static/images/logo.png" alt="Logo">
                    </div>
                    <div class="footers-info mt-3">
                        <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now
                            the best.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two"></div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
                    <div class="social-icons">
                        <a target="_blank" href="https://www.facebook.com/Army-Strong-1106393462855586/?modal=admin_todo_tour"><i id="social-fb"
                                                                                                                                  class="fa fa-facebook-square fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://youtube.com/"><i id="social-tw"
                                                                          class="fa fa-youtube fa-2x social"></i></a>&nbsp;
                        <a target="_blank" href="https://www.instagram.com/gostrongbg/"><i id="social-em"
                                                                                           class="fa fa-instagram fa-2x social"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
                    <h5>Info </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/dictionary.html">Jargon</a></li>
                        <li><a href="../views/terms.html">Terms</a></li>
                        <li><a href="../views/policy.html">Policy</a></li>
                        <li><a href="../views/headquarter.html">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
                    <h5>Explore </h5>
                    <ul class="list-unstyled">
                        <li><a href="../views/gear.html">Gear</a></li>
                        <li><a href="../views/drills.html">Drills</a></li>
                        <li><a href="../views/art.html">Military Art</a></li>
                        <li><a href="#">Videos</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="copyright border">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12 pt-3">
                    <p class="text-muted text-center">Copyright &copy;2015-2019 Army Strong</p>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>