.register{
    /*background: -webkit-linear-gradient(left, #3931af, #00c6ff);*/
}

.pull-ups img {
    margin-top: 0.5%;
    margin-bottom: 10%;
    width: 25%;
    -webkit-animation: pull 2s infinite  alternate;
    animation: pull 1s infinite  alternate;
}

.dips img {
    margin-top: 0.5%;
    margin-bottom: 10%;
    width: 25%;
    -webkit-animation: push 2s infinite  alternate;
    animation: push 1s infinite  alternate;
}

#setOnePull, #setTwoPull, #setThreePull, #setFourPull, #setFivePull, #setSixPull, #maxPull {
    background-color: white;
    font-size: 107%;
}

#setOneDip, #setTwoDip, #setThreeDip, #setFourDip, #setFiveDip, #setSixDip, #maxDip {
    background-color: white;
    font-size: 107%;
}

#totalPull, #totalDip {
    font-size: 107%;
}

.tab-content {
    padding-bottom: 10%;
    border: none;
    border-radius: 1%;

}

@-webkit-keyframes pull {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes pull {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@-webkit-keyframes push {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}

@keyframes push {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}