.footers a {
    color: #000000;
}

.footers p {
    color: #000000;
}

.footers ul {
    line-height: 30px;
}

.disclaimer {
    text-align: justify;
}

.list-unstyled a:hover {
    color: #aaa;
}

.footers-logo img {
    width: 50px;
    height: auto;
}